.llform001 {
  background-color: white !important;
  color: rgb(78, 78, 78);
  //padding: 30px 20px !important;
}

.llform001 > div {
  padding: 8px 0 !important;
}

.llform001 > div.hidden {
  display: none !important;
}

.llform001 > div > label {
  color: #46666d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 3px;
}

.llform001 > div > input,
.llform001 > div > select,
.llform001 > div > textarea {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  color: #555 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  height: 40px !important;
  margin-top: 3px !important;
  outline: none !important;
  padding: 6px 12px !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  width: 100% !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

.llform001 > div > div.field-error {
  color: tomato;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0 0 2px;
}

.llform001 > div > div.field-error.show {
  display: block !important;
}

.llform001 > div.button-bar {
  text-align: center;
}

.llform001 > div.button-bar > button {
}

.llform001 > div.error-box {
  background-color: white;
  color: tomato;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center;
}

.llform001 > div.error-box.show {
  display: block !important;
}

.llform001 > div.error-box > img {
  width: 100px;
}

.llform001 > div.error-box > div {
  padding: 15px 0;
}

.llform001 > div.error-box > button {
}

.llform001 > div.loading-box {
  background-color: white;
  color: #828282;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center;
}

.llform001 > div.loading-box.show {
  display: block !important;
}

.llform001 > div.loading-box > img {
  width: 100px;
}

.llform001 > div.loading-box > div {
  padding: 15px 0;
}

.llform001 > div.error-box.loading,
.llform001 > div.loading-box.loading {
  display: block !important;
}

.llform001 .radio,
.llform001 .checkbox {
  display: block !important;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  vertical-align: middle !important;
}
