/*edição do botão*/

div.FloatComprar{
	/*display: inline-block;*/
	width: 100vw;
	z-index: 800;
	text-align: center;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	font-family: sans-serif;
	bottom: 0px;
	overflow: hidden;	
	visibility: hidden;
	
}
div.FloatComprar button, div.FloatComprar a{
	padding: 10px 0 !important;
        background: #de554e;
        width: 50%;
        transition: 0.5s ease-in;
        display: inline-block
}
div.FloatComprar button:hover, div.FloatComprar a:hover{
	background: #dc2722;
	transition: 0.5s ease-in;
}
.BotaoPN{
	padding: 20px;
	cursor: pointer;
	text-align: center;
	background: #FFFFFF;
	border-radius: 20px;
	border: solid 1px #12484E;
	transition: 0.5s ease-in;
	width:100%;
	height:100%
}
.BotaoPN:hover{
	text-decoration: none;
	transition: 0.5s ease-in;
	background: rgba(255, 255, 255, 0.75);
	border: solid 1px #12484E;
}

.BotaoPN span{
	text-decoration: none;
	color: #12484E;
	font-size: 25px;
	font-weight: bold;
	font-weight: 700;
}
