a.voltar{
    font-size: 16px;
    text-align: center;
}

.conteudoPagina ul{
    line-height: 18pt;
    font-size: 15pt;
    margin-bottom: 20pt;
    text-align: justify;
}

#maincontainer.conteudoPagina h2.pageTitle {
    font-size: 35pt;
    font-weight: 700;
    line-height: 40pt;
}
#maincontainer.conteudoPagina p {
    line-height: 18pt;
    font-size: 15pt;
    margin-bottom: 20pt;
    text-align: justify;
}
#maincontainer.conteudoPagina .Assinatura{
    font-size: 17pt;
    line-height: 18pt;
}
#maincontainer.conteudoPagina ladoA a:hover , #maincontainer.conteudoPagina ladoB a:hover {
    text-decoration: underline;
    transition: ease-in 1.0s;
    color: #204894;
}
#maincontainer.conteudoPagina div.containerImagemOuter{
    border: solid 9px #ededed;
    min-width: 320px;
    max-width: 100%;    
    margin: 15px;
    transition: border-color 1.0s ease-in;
}
#maincontainer.conteudoPagina div.containerImagemOuter:hover{
    border: solid 9px #5e5e5e;
    transition: border-color 1.0s ease-in;
}
#maincontainer.conteudoPagina div.containerImagemInner{
    margin: 5px;    
    padding: 0 7px;
    background-color: #ededed;
}
#maincontainer.conteudoPagina div.containerImagemOuter img{
    max-width: 100%;
    margin: 7px 0;
}
.blogContainer {width: 100%}
.container.centeralign.pageConteudo {display: flex; }
/*.container.centeralign.pageConteudo .blogContainer {display: flex; }*/

/**/

/*CSS para imagem lateral com produto*/
#maincontainer.conteudoPagina div.containerImagemOuter.produto{
    border: 0 !important;
    transition: none;
}
#maincontainer.conteudoPagina div.containerImagemOuter.produto:hover{
    border: 0;
    transition: none;
}
#maincontainer.conteudoPagina .produto div.containerImagemInner{
    margin: 5px;    
    padding: 0 7px;
    background-color: unset;
}
.produto .imagemLateral figure{
    width: 100%;     
    text-transform: uppercase;
}

.produto .imagemLateral figure img{width: 95%}
.imagemLateral figcaption{text-align: center; text-transform: uppercase;}
.produto .imagemLateral figure, .produto .imagemLateral figure img {
    border-radius: 7px;
    transition: 1.50s;
}

.produto .imagemLateral figure:hover, .produto .imagemLateral figure img:hover{
    filter: saturate(125%);
    transition: 1.0s;
}

.embedContainer {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    text-align: center;
    border-radius: 7px;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline;
}


.ladoA.lateral, .ladoB.lateral {width: 360px;}

div.ilustracao1, div.ilustracao2, div.ilustracao3{
    width: 100%;
    text-align: center;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
}
div.ilustracao1 figure, div.ilustracao2 figure, div.ilustracao3 figure, div.ilustracao1 img, div.ilustracao2 img, div.ilustracao3 img{
    border-radius: 7px;
    transition: 1.50s;
}


div.ilustracao1 figure:hover, div.ilustracao2 figure:hover, div.ilustracao3 figure:hover, div.ilustracao1 img:hover, div.ilustracao2 img:hover, div.ilustracao3 img:hover{
    filter: saturate(125%);
    transition: 1.0s;
}
div.ilustracao1 a figcaption:hover, div.ilustracao2 a figcaption:hover, div.ilustracao3 a figcaption:hover{text-decoration: none;}
div.ilustracao1 figcaption, div.ilustracao2 figcaption, div.ilustracao3 figcaption{margin-top: 5px;}
.ladoA figure{display: inline-block; vertical-align: top;}
div.ilustracao1 figure, div.ilustracao1.grande figure, div.ilustracao1 figure, div.ilustracao1.grande img {width: 100%; margin: 0 5px;}
div.ilustracao2 figure{width: 46%; margin: 0 5px;}
div.ilustracao3 figure{width: 30%; margin: 0 5px;}



iframe.iframeGoogle{
    frameborder: 0 !important;
    marginheight: 0 !important;
    marginwidth: 0 !important;
}


iframe.iframeGoogle#cob{height: 846px;}
@media screen and (max-width: 600px){
    iframe.iframeGoogle#cob{height: 1000px;}
}

@media screen and (max-width: 600px){
    .container.centeralign.pageConteudo {display: unset;}
    .container.centeralign.pageConteudo .ladoA p, #maincontainer li {
        text-align: justify !important; 
        margin-bottom: 10pt !important;
        font-size: 12pt;
        line-height: 14pt;
    }
    .container.centeralign.pageConteudo .ladoA h4 {margin-bottom: 10pt !important;}
    .container.centeralign.pageConteudo div.ilustracao3 figure {margin: 0 4px !important;}
    #maincontainer li::before{
        content: "•";
        font-size: 13pt;
        margin-right: 3px;
        padding: 0;
    }

}