/*edição do headers*/

/* ============================================= hero image / Header ============================================= inicio */
/*configuração basica*/
div.headerpn {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	font-family: Bellota;
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	float:none ;
	
}
@media screen and (orientation:landscape){
	div.headerpn{
		background-position: center top !important;;
	}	
}
@media screen and (orientation:portrait){
	div.headerpn{
		background-position: left top !important;
	}
	
}
/* ============================================= hero image / Header ============================================= fim */

/* ============================================= titulo do banner principal ============================================= inicio */

div.titlepn, .titlepn{
	font-weight: bold;
	font-weight: 700;
}
/*titulo para telas em modo paisagem*/
@media screen and (orientation:landscape){
	.titlepn h1{
		font-size:50px; !important
	}
	div.titlepn {
		left: 75% !important;
		transform: translate(-75%, -50%) !important;
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: Bellota;
		text-shadow: 2px 2px #000000;
		color: white;
	}
	
}
/*titulo para telas em modo retrato*/
@media screen and (orientation:portrait){
	h1.titlepn{font-size:50px; !important}
	div.titlepn{
		top: 65% !important; 
		transform: translate(-50%, -65%) !important;
	}
}
/* ============================================= titulo do banner principal ============================================= fim */


/* ============================================= caixas do banner principal ============================================= inicio */
.HeaderBoxesNormal {
	text-align: center;
	bottom: 0;
	box-sizing: border-box;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	padding-bottom: 15px;
	text-align:center;
	background-image: url(https://ucarecdn.com/c3140a61-bcbc-4766-97d8-f2e64138e743/);
	position: absolute;
	font-family: Bellota;
	color: black #12484E;
	font-size: 23px;
}
div.HeaderBoxesFilho{
	position: relative; 
	vertical-align:middle; 
	overflow: hidden; 
	margin: 3.5px; 
	width: 283px; 
	height: 193px; 
	display: inline-block; 
	padding: 0 !important;
}

div.HeaderBoxesResponsiva{
	visibility: hidden !important;
}
@media screen and (orientation:landscape){
	@media screen and (min-height: 700px) {div.{padding-bottom: 40px !important;}}
		@media screen and (min-width: 1200px){
			@media screen and (min-height: 600px) {
				div.HeaderBoxesResponsiva{visibility: visible !important;}
				div.HeaderBoxesNormal{
					visibility: hidden !important;
					width:0px !important;
					height: 0px !important;
					float: left; 
					position: absolute
			}
		}

	}
}
/* ============================================= caixas do banner principal ============================================= fim */