.col-lg-3.col-md-3.text-right{
    padding-bottom: 80px;
}/*sobe o logo no final para que continue aparecendo quando a faixa flutuante chegar ao final da página*/
.bold.mBottom0, .mTop0.quebra-texto.mBottom15{
    text-align: justify; 
    color: black; 
    font-size: 15px
}/*Correção para texto de FAQ*/
div.col-lg-6.col-md-6.col-sm-6.col-xs-12.colunas div.f12.curriculo_do_curso div.mTop0.bold.inline.uppercase.titulo-aula div{
    background-color: #e4beb9 !important;
    background: #e4beb9 !important;
}/*mudança da cor do icone de ver aula quando ele está desabilitado*/
div.linhas.f14.bold.mBottom10.pBottom10.uppercase{
    border-top: solid 2px #de554e !important;
    border-bottom: 0px !important;
    font-family: bellota;
    font-size: 20px;
    margin: 0px;
    
}/* Titulo da etapa no curriculo do curso*/
.f26.bold.mTop10.mBottom40, .f26.bold.mTop10.mBottom40 {
    font-family: bellota; color: #12484E !important
}/* Mudança dos titulos da hotscool*/

.menu-xs{
    z-index: 900;
}/*sobe o menu burguer em relação ao resto do site quando aberto*/
.menu-xs.animated.bounceIn {
    top: 0px !important;
}/* sobe as opções do menu burguer para que o sair/logout apareça na tela*/