body{
  	background-size: 100% auto;
  	background-position: top center;
  }

@media screen and (max-width: 991px){
	.col-sm-6, .col-sm-6 .col-res-30{
		width: 100% !important;
		float: none;
	}
	iframe.YoutubeEmbed {
		margin: 30px;
    left:50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
	}
}
@media screen and (max-width: 999px){
  body{
  	background: url('https://panoxadrez.github.io/img/paginas/ladingpage/fundo_celular.jpg') #4a423f;
    
  }
}
div.CheckDesc figure{
  display: inline-block;	
}
div.CheckDesc img{
	width: 23px
}
div.CheckDesc span{
	font-family:;
	f
}
