/* Curso 01 */
div#curso00001.headerpn{background-image: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");}
@media screen and (orientation:portrait){div#curso00001.headerpn{background-image: url("https://panoxadrez.github.io/img/paginas/curso00001/header_canto.jpeg");}}

#curso00001 div.ChamadaModal{background-image: url("https://panoxadrez.github.io/img/paginas/curso00001/chamada_miniatura_modal.jpg");}


/* primeiros passos*/
div#PrimeirosPassos{background-image: url(https://panoxadrez.github.io/img/paginas/PrimeirosPassos/header.jpg);}
@media screen and (orientation:portrait){div#PrimeirosPassos{background-position: right top !important;}}
@media screen and (max-width: 700px){
	#PrimeirosPassos h1{font-size: 50px;}
	#PrimeirosPassos p.TextoCelular {
		padding: 0 0 0 0 !important;
		font-size: 15px !important;
		overflow: hidden!important;
	}
	#PrimeirosPassos div.titlepn p.TextoComputador{
		visibility: hidden !important;
		width: 0px;
		height: 0px;
	}
	#PrimeirosPassos div.titlepn p.TextoCelular{
		visibility: visible !important;
		width: unset !important;
		height: unset !important;
	}
}
#PrimeirosPassos div.titlepn{
	background-color: rgba(255, 255, 255, 0.70);
}
#PrimeirosPassos h1{
	text-shadow: none;
	color: #000000;
	font-size: 60px;
}
#PrimeirosPassos div.titlepn p {
	padding: 0 15% !important;
	color: #000000;
	font-family: 'opensans', sans-serif;
	font-size: 22px;
}
#PrimeirosPassos div.titlepn p.TextoCelular{
	visibility: hidden; 
	width: 0px;
	height: 0px;
}
div.CaixaSuperior {
    
}
div.CaixaInferior{
    
}