@media screen and (orientation:portrait){.DownArrow{visibility: visible !important; position:relative;}
@media screen and (orientation:landscape){.DownArrow{visibility: hidden !important; position:relative;}

.DownArrow {
	bottom: 0;
	float: left;
	position:absolute;
	text-align:center;
	display: inline-block;
	margin:0;
	width: 100%;
	padding: 0 0 50px 0;
}

div.DownArrow img{
	margin: 10px; 
	opacity: 0.35
}