/* ============================================= ContainerInformativo  ============================================= inicio */
.ContainerInformativo{
	width:100%;
	display: flex;
    align-items: center;
	
}
.Infobox, .InfoboxIMG{
	width: 45%;
	float: left;
	margin: 20px;
}
div.Infobox{
	padding: 20px;
	border-radius: 25px;
	border: 3px dashed #20588f;
}
.InfoboxIMG img{width: 100%;}
/* ============================================= ContainerInformativo ============================================= fim */



/* ============================================= flecha para baixo ============================================= inicio */
@media screen and (orientation:portrait){.DownArrow{visibility: visible !important; position:relative;}}
div.DownArrow {
	visibility: hidden;
	bottom: 0;
	float: left;
	position:absolute;
	text-align:center;
	display: inline-block;
	margin:0;
	width: 100%;
	/*padding: 0 0 50px 0;*/
}

div.DownArrow img{
	margin: 10px; 
	opacity: 0.35;
	width: 35px;
}
/* ============================================= flecha para baixo ============================================= fim */


/* ============================================= video embed/modal ============================================= inicio */
button.PlayChamada{
	margin-top: 131px;
	margin-left: 45px;
	border-radius: 55px;
	width: 50px;
	height: 50px;
	background: url(https://ucarecdn.com/68072083-fcdd-4936-a153-68eb7ab240f8/) no-repeat, rgba(255, 255, 255, 0.0);
	background-size: cover;
	transition: 1s ease-in;

}
button.PlayChamada:hover{
	background-color: rgba(255, 255, 255, 0.2);
	transition: 0.5s ease-in;
}	

div.ChamadaModal{
	visibility: hidden;
	width: 384px;
	height: 216px;
	float: right;
	margin: 15px 0px 15px 15px;
	background-size: cover;
	overflow: hidden;
	background-color: #000000;
	}

div.ChamadaEmbeded{
	visibility: hidden;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
	text-align: center;
}
	
.youtube{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline;
}


@media screen and (orientation:portrait){
	div.ChamadaEmbeded{visibility: visible}
	div.ChamadaModal{visibility: hidden; width: 0px; height: 0px; margin: 0px; overflow: hidden;}
}
@media screen and (orientation:landscape){
	@media screen and (min-width: 1000px){
		div.ChamadaEmbeded{visibility: hidden;overflow: hidden;position: relative;padding: 0px; height: 0; width: 0px;}
		div.ChamadaModal{visibility: visible}
	}
	@media screen and (max-width: 999px){
		div.ChamadaEmbeded{visibility: visible; }
		div.ChamadaModal{visibility: hidden; width: 0px; height: 0px; margin: 0px; overflow: hidden;}
	}	
}	
div.pnconteinerbio{
	padding: 25px 50px 0 50px !important;
	margin: 30px 0 0 0;
	background-image: url(https://panoxadrez.github.io/img/icones/aspas.png);
	font-family: Bellota;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100px auto;
	background-position: left top !important;
}
@media screen and (max-width: 425px){div.pnconteinerbio{padding: 0px 0px 0px 0px !important}}

.pnconteinerbio .BioQuote {font-size: 45px; color: #de554e; font-style: italic;}
.pnconteinerbio span{font-size: 14pt; font-family: Bellota; text-align: justify; color: black;}
	
/* ============================================= video embed/modal ============================================= fim */	

/* ============================================= barra divisória ============================================= inicio */
div.DivisoriaResponsive{
		margin: 30px 0 30px 0;
		visibility: visible; 
		width: 100%; 
		height: 21px; 
		background-repeat: no-repeat; 
		background: url(https://ucarecdn.com/6f2e2ae8-815a-4b5a-a460-7ff4275089cc/); 
		background-position: center;
		}	
	
/* ============================================= barra divisória ============================================= fim */
/* ============================================= faixas laterais (icones) ============================================= inicio */
div.IconeLateral {
		margin-bottom:15px;
		}
		
.IconeLateral img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:90px;
	margin-top: 15px; 
	margin-bottom: 15px
}

.IconeLateral span{
	font-size: 15.5pt; 
	font-weight: bold; 
	font-color: #1B4146;
	color: #1B4146;
}
.IconeLateral hr{
	border: none;
	margin-top:15px;
	margin-bottom: 15px;
}

div.FaixaLateral{
	width:100%;
	height: 100%;
	text-align: center;
	padding-right: 4.88%;
	padding-bottom: 15px;
	padding-left: 4.88%;
	margin-top: -6px;
	font-family: bellota; 

/* ============================================= faixas laterais (icones) ============================================= fim */

/* ============================================= informativo final (pagina de venda) ============================================= inicio */

.AvisoFinal{
	font-family: bellota;
	color: #de554e;
}

.AvisoFinal h1{
	text-align: justify;
	font-size: 36px;
	font-weight: 700;
}
.AvisoFinal h2{
	font-size: 24px;
}
.AvisoFinal h6{
	font-size: 12px;
	color: #000000;
}


/* ============================================= informativo final (pagina de venda) ============================================= fim */

/* ============================================= catalogar e rever ============================================= inicio */


img.emoji{height: 20px}


div.depoimento{ width: 100%; height: 100%}

div.DepEsquerdo, div.DepDireito {overflow: auto; width: 100%; text-align: justify; position: relative}

div.DepoimentoFotoContainer{
	height: 100%;
	width: 130px;
}
.DepoimentoFotoContainer img{
	border-radius: 500px;
	width: 100px;
	height: 100px;
	margin: 13px 15px 15px 15px;
	border: 2px #000000;

}

div.DepEsquerdo div.DepoimentoFotoContainer{float: left;}
div.DepDireito div.DepoimentoFotoContainer{float: right;}

hr.DivisoriaDepoimento{
	width: 90%
	margin: 20px 0px 20px 0px;
}
@media screen and (max-width: 992px){
	div.DepEsquerdo div.DepoimentoFotoContainer, div.DepDireito div.DepoimentoFotoContainer {float: none; width: 100%; text-align: center;}
	.DepoimentoTexto h3 {text-align: center}
	div.DepEsquerdo, div.DepDireito {display: inline}
	
	
}
img.Emoji{display: inline !important; height: auto !important; border: 0 !important; margin: 3px !important; border-radius: 0px !important; }

.DepoimentoNome h3 {font-family: bellota; color: #229898; font-weight: bold; font-weight: 700; font-size: 20px}
div.FillTheVoid{width: 100%; visibility: hidden;}

.DepDireito h3{text-align: right}
.DepEsquerdo h3{text-align: left}

/* ============================================= catalogar e rever ============================================= fim */

/*em desenvolvimento*/

/* =============================================  ============================================= inicio */
/* =============================================  ============================================= fim */