/*edição do botão*/
@media screen and (orientation:portrait){div.DownArrow{visibility: visible !important; position:relative;}

div.DownArrow {
	bottom: 0;
	float: left;
	position:absolute;
	visibility: hidden;
	text-align:center;
	display: inline-block;
	margin:0;
	width: 100%;
	padding: 0 0 50px 0;
}

div.DownArrow img{
	margin: 10px; 
	opacity: 0.35
}