.llform001 {
  background-color: white !important;
  //padding: 30px 20px !important;

  //> div {padding: 8px 0 !important;}div {padding: 15px 0;}

  .error-box {
    background-color: white;
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center;

    .show {
      display: block !important;
    }
    img {
      width: 100px;
    }
    > div {
      padding: 15px 0;
    }
  }
  .hidden {
    display: none !important;
  }
  label {
    color: #46666d;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 3px;
  }
  input,
  select,
  textarea {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    color: #555 !important;
    font-family: "Roboto", sans-serif !important;

    //font-size: 14px !important;
    font-weight: 400 !important;
    //height: 40px !important;
    margin-top: 3px !important;
    outline: none !important;

    //padding: 6px 12px !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  }
  .field-error {
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0 0 2px;
    .show {
      display: block !important;
    }
  }
  .button-bar {
    text-align: center;
  }
  .loading-box {
    background-color: white;
    color: #828282;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center;
  }
  .show {
    display: block !important;
  }
  img {
    width: 100px;
  }
  
  .error-box.loading,
  .loading-box.loading {
    display: block !important;
  }
  .radio,
  .checkbox {
    display: block !important;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    vertical-align: middle !important;
  }
}
