@mixin lp-lista-aula($aula-number, $status: "lock") {
  /*
    #{"[data-lp-lista-aula=" + #{$aula-number} + "]"}
  */
}

.ly-0002[data-lp-page-type="pagina-lista-aula"] {
  &.barra-navegacao {
    padding: 5px 1.5vw;
    *,
    & {
      font-size: 16px;
    }

    .titulo {
      //margin-right: auto;
      text-align: center;
    }
    .menu-aulas {
      text-align: center;
      margin: 20px 10px 10px;
    }
    .btn.dropdown-toggle {
      width: 90%;
    }
    @include lp-lista-aula("01");
  }
}
