$size-h1: 3;
$size-h2: 2.750;
$size-h3: 1.750;
$size-h4: 1.66;
$size-h5: 1.29;
$size-h6: 1.15;
$size-p: 1;


$size-h3-old: 1.66;
$size-h4-old: 1.750;











%font-size {

    &,
    * {
        font-size: 16px;
    }
}

section,
header,
footer {
    h1 {
        font-size: $size-h1 *1em !important
    }

    h2 {
        font-size: $size-h2 *1em !important
    }

    h3 {
        font-size: $size-h3 *1em !important
    }

    h4 {
        font-size: $size-h4 *1em !important
    }

    h5 {
        font-size: $size-h5 *1em !important
    }

    h6 {
        font-size: $size-h6 *1em !important
    }

    p {
        font-size: $size-p *1em !important;
    }



    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: unset;
        margin-bottom: unset;
    }
}



@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";