//$size-h1: 3.052;
//$size-h2: 2.441;
//$size-h3: 1.953;
//$size-h4: 1.563;
//$size-h5: 1.25;
//$size-h6: 1.10;
//$size-p: 1;


$size-h1: 3.563;
$size-h2: 2.750;
//$size-h3: 2.063;
$size-h3: 1.8;
$size-h4: 1.2;
//$size-h4: 1.3;
$size-h5: 1.15;
$size-h6: 1.125;
$size-p: 1;

/* 
h1: 60pt, 57px, 3.563em
h2: 45pt, 44px, 2.750em
h3: 35pt, 33px, 2.063em
h4: 30pt, 22px, 1.375em
h5: ??pt, 20px, 1.25
h6: 18pt, 14px, 0.875em

p: ??pt, 16px, 1em */

%font-size {

    &,
    * {
        font-size: 16px;
    }
}

section,
header,
footer {
    h1 {
        font-size: $size-h1 *1em !important
    }

    h2 {
        font-size: $size-h2 *1em !important
    }

    h3 {
        font-size: $size-h3 *1em !important
    }

    h4 {
        font-size: $size-h4 *1em !important
    }

    h5 {
        font-size: $size-h5 *1em !important
    }

    h6 {
        font-size: $size-h6 *1em !important
    }

    p {
        font-size: $size-p *1em !important;
    }



    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: unset;
        margin-bottom: unset;
    }
}