/*Wistia*/
.wistia_responsive_padding{
    padding: 0 0 56.25% 0;
    position:relative;
    .wistia_responsive_wrapper{
        @include size(100%);
        position:absolute;
        left:0;
        top:0;
    }
    .wistia_embed{
        position:relative;
        @include size(100%);
    }
    .wistia_swatch{
        @include size(100%);
        position:absolute;
        left:0;
        top:0;
        overflow:hidden;
        opacity:0;
        transition:opacity 200ms;
    }
}