%font-size{    
    &, *{
        /*placeholder*/
        //font-size: 100%;
        font-size: 16px;
        //@media only screen and (min-width: 360px) and (orientation: portrait){font-size: 14px;}
        //@media only screen and (min-width: 480px) and (orientation: portrait){font-size: 16px;}
        //@media only screen and (min-width: 480px){font-size: 16px;}
    }

}

section{

    h1{font-size: $size-h1 + em !important}
    h2, .size-h2{font-size: $size-h2 + em !important}
    h3{font-size: $size-h3 + em !important}
    h4, .size-h4{font-size: $size-h4 + em !important}
    @include breakpoint-up(tablet-regular){.font-size-h4-regular{font-size: $size-h4 + em !important}}
    @include breakpoint-up(desktop-large){.font-size-h4-large{font-size: $size-h4 + em !important}}

    h5, .size-h5{font-size: $size-h5 + em !important}
    @include breakpoint-up(tablet-regular){.size-h5-tablet-regular{font-size: $size-h5 + em !important}}

    h6, .size-h6{font-size: $size-h6 + em !important}
    p, .size-p{font-size: $size-p + em;}

    .h1, .h2, .h3, h1, h2, h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .titulo-sessao{
        //margin-top: 90px;
        margin-bottom: 30px;
        //@extend %margin-tela;
        h2{
            font-weight: 700;
            font-weight: bold;
        }
        span{
            font-size: $size-h4 + em;
        }        
        .size-p{margin: 0}   

    }

    @mixin titulo-icon($color, $size: 22px){
        padding-left: $size*1.5;
        .icon{
            width: $size;
            left: $size;
            position: absolute;
            z-index: -10;
            background-image: degrade-color($color);
            div{@include aspect-ratio(1,1);}
        }
        //<div class="icon">                                
        //<div class="outer">
        //<div class="inner"></div>
        //</div>
        //</div>
    }
}



section.chamada-home .texto p,
section.cursos-destaque p{    
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 1em;
} 