//$cta-height: 20%;
$white-space: 35;
$white-space-tablet: 20%;
$espacamento-tablet: 17%;
$espacamento: 10%; 
$video: 50%;
$preenchimento-about: 10%;
$cor-curso-dev: #fbb03b; 
$borda-legenda: 3px;
$bg-color-border-radius: 0;
$top-margin: 17; 
$border-margin: $white-space / 3;
$containers-size: ((100 - ($border-margin * 2)) / 2) * 1%;
