/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
.flickity-enabled {
  position: relative; }
  .flickity-enabled:focus {
    outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
    .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
      cursor: -webkit-grabbing;
      cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }
  .flickity-button:hover {
    background: white;
    cursor: pointer; }
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F; }
  .flickity-button:active {
    opacity: 0.6; }
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }
  .flickity-prev-next-button.previous {
    left: 10px; }
  .flickity-prev-next-button.next {
    right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }
  .flickity-page-dots .dot.is-selected {
    opacity: 1; }

.padding-5vh0 {
  padding: 5vh 0; }

.pn-outer-container {
  max-width: 1000px;
  margin: 0 auto; }

.pn-container {
  max-width: 1000px;
  margin: 0 auto; }

.pn-container-fluid {
  width: 100%;
  margin: 0 auto; }
  .pn-container-fluid > .pn-row {
    margin: 0; }

.pn-row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center; }
  .pn-row::after {
    content: "";
    clear: both;
    display: table; }

.pn-col-0 {
  width: 0; }

.pn-col-16 {
  width: calc(100% - 20px); }

.pn-col-15 {
  width: calc(93.75% - 20px); }

.pn-col-14 {
  width: calc(87.5% - 20px); }

.pn-col-13 {
  width: calc(81.25% - 20px); }

.pn-col-12 {
  width: calc(75% - 20px); }

.pn-col-11 {
  width: calc(68.75% - 20px); }

.pn-col-10 {
  width: calc(62.5% - 20px); }

.pn-col-9 {
  width: calc(56.25% - 20px); }

.pn-col-8 {
  width: calc(50% - 20px); }

.pn-col-7 {
  width: calc(43.75% - 20px); }

.pn-col-6 {
  width: calc(37.5% - 20px); }

.pn-col-5 {
  width: calc(31.25% - 20px); }

.pn-col-4 {
  width: calc(25% - 20px); }

.pn-col-3 {
  width: calc(18.75% - 20px); }

.pn-col-2 {
  width: calc(12.5% - 20px); }

.pn-col-1 {
  width: calc(6.25% - 20px); }

.pn-col-16, .pn-col-15, .pn-col-14, .pn-col-13, .pn-col-12, .pn-col-11, .pn-col-10, .pn-col-9, .pn-col-8, .pn-col-7, .pn-col-6, .pn-col-5, .pn-col-4, .pn-col-3, .pn-col-2, .pn-col-1 {
  margin: 0 10px;
  float: left; }

@media only screen and (orientation: landscape) and (min-width: 853px) {
  .pn-outer-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto; }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-0-mobile {
    width: 0; }

  .pn-col-16-mobile {
    width: calc(100% - 20px); }

  .pn-col-15-mobile {
    width: calc(93.75% - 20px); }

  .pn-col-14-mobile {
    width: calc(87.5% - 20px); }

  .pn-col-13-mobile {
    width: calc(81.25% - 20px); }

  .pn-col-12-mobile {
    width: calc(75% - 20px); }

  .pn-col-11-mobile {
    width: calc(68.75% - 20px); }

  .pn-col-10-mobile {
    width: calc(62.5% - 20px); }

  .pn-col-9-mobile {
    width: calc(56.25% - 20px); }

  .pn-col-8-mobile {
    width: calc(50% - 20px); }

  .pn-col-7-mobile {
    width: calc(43.75% - 20px); }

  .pn-col-6-mobile {
    width: calc(37.5% - 20px); }

  .pn-col-5-mobile {
    width: calc(31.25% - 20px); }

  .pn-col-4-mobile {
    width: calc(25% - 20px); }

  .pn-col-3-mobile {
    width: calc(18.75% - 20px); }

  .pn-col-2-mobile {
    width: calc(12.5% - 20px); }

  .pn-col-1-mobile {
    width: calc(6.25% - 20px); }

  .pn-col-16-mobile, .pn-col-15-mobile, .pn-col-14-mobile, .pn-col-13-mobile, .pn-col-12-mobile, .pn-col-11-mobile, .pn-col-10-mobile, .pn-col-9-mobile, .pn-col-8-mobile, .pn-col-7-mobile, .pn-col-6-mobile, .pn-col-5-mobile, .pn-col-4-mobile, .pn-col-3-mobile, .pn-col-2-mobile, .pn-col-1-mobile {
    margin: 0 10px;
    float: left; } }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .pn-outer-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto; }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-0-tablet {
    width: 0; }

  .pn-col-16-tablet {
    width: calc(100% - 20px); }

  .pn-col-15-tablet {
    width: calc(93.75% - 20px); }

  .pn-col-14-tablet {
    width: calc(87.5% - 20px); }

  .pn-col-13-tablet {
    width: calc(81.25% - 20px); }

  .pn-col-12-tablet {
    width: calc(75% - 20px); }

  .pn-col-11-tablet {
    width: calc(68.75% - 20px); }

  .pn-col-10-tablet {
    width: calc(62.5% - 20px); }

  .pn-col-9-tablet {
    width: calc(56.25% - 20px); }

  .pn-col-8-tablet {
    width: calc(50% - 20px); }

  .pn-col-7-tablet {
    width: calc(43.75% - 20px); }

  .pn-col-6-tablet {
    width: calc(37.5% - 20px); }

  .pn-col-5-tablet {
    width: calc(31.25% - 20px); }

  .pn-col-4-tablet {
    width: calc(25% - 20px); }

  .pn-col-3-tablet {
    width: calc(18.75% - 20px); }

  .pn-col-2-tablet {
    width: calc(12.5% - 20px); }

  .pn-col-1-tablet {
    width: calc(6.25% - 20px); }

  .pn-col-16-tablet, .pn-col-15-tablet, .pn-col-14-tablet, .pn-col-13-tablet, .pn-col-12-tablet, .pn-col-11-tablet, .pn-col-10-tablet, .pn-col-9-tablet, .pn-col-8-tablet, .pn-col-7-tablet, .pn-col-6-tablet, .pn-col-5-tablet, .pn-col-4-tablet, .pn-col-3-tablet, .pn-col-2-tablet, .pn-col-1-tablet {
    margin: 0 10px;
    float: left; } }
.bt {
  max-width: 300px;
  margin: 2%; }
  .bt .outer {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 33.3333333333%; }
    .bt .outer > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .bt .bg,
  .bt button {
    margin: 0 !important;
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important; }
  .bt .bg {
    position: absolute;
    background-color: pink;
    bottom: 0;
    right: 0; }
  .bt a {
    width: 100%;
    height: 100%; }
  .bt button {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    transition-duration: 0s;
    display: flex;
    justify-content: center; }
    .bt button:active {
      transition-duration: 5.5s;
      top: unset;
      left: unset;
      right: 5px;
      bottom: 5px; }

section h1,
header h1,
footer h1 {
  font-size: 3em!important; }
section h2,
header h2,
footer h2 {
  font-size: 2.75em!important; }
section h3,
header h3,
footer h3 {
  font-size: 1.75em!important; }
section h4,
header h4,
footer h4 {
  font-size: 1.66em!important; }
section h5,
header h5,
footer h5 {
  font-size: 1.29em!important; }
section h6,
header h6,
footer h6 {
  font-size: 1.15em!important; }
section p,
header p,
footer p {
  font-size: 1em!important; }
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  margin-top: unset;
  margin-bottom: unset; }

body {
  padding-right: unset !important; }

section {
  padding-top: 0;
  padding-bottom: 0; }

* {
  box-sizing: border-box; }

.ly-0002 {
  font-size: 16px;
  color: #0A0A0A; }
  .ly-0002,
  .ly-0002 * {
    font-size: 12px; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      .ly-0002,
      .ly-0002 * {
        font-size: 16px; } }
  .ly-0002 hr {
    width: 40%;
    border: 1px solid;
    border-radius: 5px; }
  .ly-0002 p {
    margin-top: 0; }
  .ly-0002 button {
    font-size: 16px; }
  .ly-0002 b {
    font-size: 1em !important; }
  .ly-0002 .underline {
    font-size: 1em !important;
    border-bottom: 2px solid; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .underline {
        padding-bottom: 3px solid; } }
  .ly-0002 .bt {
    margin: 0 auto !important; }
    .ly-0002 .bt .bg,
    .ly-0002 .bt button {
      border-radius: 5px;
      font-weight: bold; }
  .ly-0002.colors-sample .pn-row {
    display: flex; }
    .ly-0002.colors-sample .pn-row div {
      height: 30px;
      padding: 20px; }
  .ly-0002 figure {
    text-align: center; }
    .ly-0002 figure img {
      width: 80%;
      max-width: 50vw; }
  .ly-0002 .texto-bg {
    font-size: 1em !important;
    padding: 2px 0; }
  .ly-0002 .texto-bg:before,
  .ly-0002 .texto-bg:after {
    content: "";
    padding: 0 5px 0 0;
    height: 100%; }
  .ly-0002 .bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: " "; }
  .ly-0002.colors-sample .color-list > div {
    display: flex;
    justify-content: center;
    flex-direction: column; }

header.ly-0002.home {
  font-family: "Raleway";
  position: relative;
  padding: 30vh 3vw 20px; }
  header.ly-0002.home,
  header.ly-0002.home * {
    box-sizing: border-box;
    font-size: 13px;
    /* 
		@include responsive-font-size(15px, tablet-large-land);
		@include responsive-font-size(16px, desktop-regular);
		
		
		@include responsive-font-size(25px, desktop-regular);
		@include responsive-font-size(30px, desktop-large); */ }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 16px; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 16px; } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 22px; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 22px; } }
    @media only screen and (min-width: 720px) and (orientation: portrait) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 25px; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      header.ly-0002.home,
      header.ly-0002.home * {
        font-size: 25px; } }
  @media only screen and (orientation: landscape) and (min-width: 640px) {
    header.ly-0002.home {
      padding: 4vh 2.6vw 4.6vh 36vw;
      text-align: left; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    header.ly-0002.home {
      width: 100vw;
      min-height: 100vh; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    header.ly-0002.home {
      padding: 10vh 2.6vw 4.6vh 43vw; } }
  @media only screen and (min-width: 1360px) {
    header.ly-0002.home {
      padding: 5vh 1.6vw 10vh 40vw; } }
  @media only screen and (min-width: 1600px) {
    header.ly-0002.home {
      padding: 15vh 2.6vw 4.6vh 36vw; } }
  header.ly-0002.home .pn-row {
    margin: 0; }
  header.ly-0002.home .main-title,
  header.ly-0002.home .conteudo,
  header.ly-0002.home .observacao,
  header.ly-0002.home .data,
  header.ly-0002.home .prova-social {
    margin: 5px 0 0; }
    @media only screen and (min-width: 480px) and (orientation: portrait), (orientation: landscape) and (min-width: 853px) {
      header.ly-0002.home .main-title,
      header.ly-0002.home .conteudo,
      header.ly-0002.home .observacao,
      header.ly-0002.home .data,
      header.ly-0002.home .prova-social {
        margin: 20px 0 0; } }
    @media only screen and (min-width: 1360px) {
      header.ly-0002.home .main-title,
      header.ly-0002.home .conteudo,
      header.ly-0002.home .observacao,
      header.ly-0002.home .data,
      header.ly-0002.home .prova-social {
        margin: 25px 0 0; } }
  header.ly-0002.home .main-title h1 {
    font-size: 1.66em !important;
    font-weight: 500; }
  header.ly-0002.home .main-title span {
    font-size: 1em;
    font-weight: 600; }
  header.ly-0002.home .conteudo,
  header.ly-0002.home .observacao,
  header.ly-0002.home .data {
    font-size: 1.29em; }
  header.ly-0002.home .observacao {
    font-size: 1.15em; }
    @media only screen and (min-width: 1600px) {
      header.ly-0002.home .observacao br {
        display: none; } }
  header.ly-0002.home .conteudo p {
    font-weight: bold; }
  @media only screen and (orientation: landscape) {
    header.ly-0002.home .conteudo br {
      display: none; } }
  header.ly-0002.home .observacao p {
    font-weight: 700; }
  @media only screen and (orientation: landscape) {
    header.ly-0002.home .data p {
      font-weight: 700; } }
  header.ly-0002.home .cta {
    margin: 7px 0; }
    @media only screen and (min-width: 480px) and (orientation: portrait), (orientation: landscape) and (min-width: 853px) {
      header.ly-0002.home .cta {
        margin: 20px 0; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px), (min-width: 720px) and (orientation: portrait) {
      header.ly-0002.home .cta {
        margin-top: 5vh; } }
    header.ly-0002.home .cta .bt {
      margin: 0 auto;
      max-width: 450px;
      width: 80%; }
      header.ly-0002.home .cta .bt .outer {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 26.0456273764%; }
        header.ly-0002.home .cta .bt .outer > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      header.ly-0002.home .cta .bt button {
        font-size: 1.29em; }
      header.ly-0002.home .cta .bt .bg,
      header.ly-0002.home .cta .bt button {
        width: 100% !important;
        height: 100% !important; }
        @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 853px) {
          header.ly-0002.home .cta .bt .bg,
          header.ly-0002.home .cta .bt button {
            width: calc(100% - 10px) !important;
            height: calc(100% - 10px) !important; } }
  header.ly-0002.home .prova-social {
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-width: 1360px) {
      header.ly-0002.home .prova-social {
        padding-top: 0 !important; } }
    header.ly-0002.home .prova-social .g-ytsubscribe,
    header.ly-0002.home .prova-social .fb-like {
      line-height: 0;
      padding: 0;
      margin: 10px 10px 0; }
  header.ly-0002.home p {
    margin: 0; }
  header.ly-0002.home .pn-col-16 {
    width: 100%; }

header.ly-0002.ty-page {
  height: unset !important;
  padding: 0;
  padding: 3vh 0 4vh;
  background: #2e3133;
  color: #fbfbfb !important; }
  header.ly-0002.ty-page .main-title {
    font-size: 2.75em; }
  header.ly-0002.ty-page .sub-title {
    font-size: 1.29em; }

footer.ly-0002 {
  background: #000;
  color: #FBFBFB;
  padding: 20px 6vw;
  text-align: center;
  font-size: 1em; }
  footer.ly-0002 span {
    display: inherit;
    margin-bottom: 20px;
    font-size: 0.85em; }
    footer.ly-0002 span a {
      font-size: 1em; }
  footer.ly-0002 .pn-logo {
    width: 100px;
    height: auto;
    margin: 20px auto; }
  footer.ly-0002 .links ul,
  footer.ly-0002 .social-media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  footer.ly-0002 .links li {
    margin: 0 10px; }
  footer.ly-0002 .social-media {
    margin: 10px 0; }
    footer.ly-0002 .social-media img {
      width: 40px;
      height: auto;
      margin: 0 5px; }

.lp-modal.ly-0002 .modal {
  padding: 0;
  background: rgba(0, 0, 0, 0.45); }
  .lp-modal.ly-0002 .modal .modal-dialog {
    width: 80%;
    max-width: 700px;
    margin: 5vh auto; }
  .lp-modal.ly-0002 .modal .modal-content {
    padding: 0 3vw; }
  .lp-modal.ly-0002 .modal .modal-header {
    border: 0;
    padding: 10px 0 0px;
    min-height: 0; }
    .lp-modal.ly-0002 .modal .modal-header p {
      font-size: 1.75em;
      line-height: 1.75em;
      margin: 0; }
  .lp-modal.ly-0002 .modal .modal-body {
    padding: 0;
    min-height: 0; }
  .lp-modal.ly-0002 .modal .modal-footer {
    font-size: 0.9em !important;
    text-align: center;
    padding: 1vh 0 0;
    margin: 0; }
  .lp-modal.ly-0002 .modal .loading-box {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 auto !important; }
  .lp-modal.ly-0002 .modal .field-error {
    text-align: left;
    font-size: 1em; }
  .lp-modal.ly-0002 .modal .button-bar {
    padding: 0 !important;
    margin: 0 !important; }
  .lp-modal.ly-0002 .modal .d-none {
    display: none !important; }
  .lp-modal.ly-0002 .modal form {
    border: 0; }
    .lp-modal.ly-0002 .modal form input {
      font-size: 1.5em;
      padding: 10px; }
      @media only screen and (min-width: 480px) {
        .lp-modal.ly-0002 .modal form input {
          font-size: 1.29em; } }
  .lp-modal.ly-0002 .modal .bt {
    max-width: 260px; }
    @media only screen and (min-width: 600px), (orientation: landscape) and (min-width: 1024px) {
      .lp-modal.ly-0002 .modal .bt {
        max-width: 300px; } }
    @media only screen and (min-width: 1360px) {
      .lp-modal.ly-0002 .modal .bt {
        max-width: 350px; } }
    .lp-modal.ly-0002 .modal .bt .outer {
      height: 0;
      position: relative;
      padding-bottom: 22.3938223938%; }
      .lp-modal.ly-0002 .modal .bt .outer > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .lp-modal.ly-0002 .modal .bt button {
      font-size: 1.5em; }
    .lp-modal.ly-0002 .modal .bt .bg,
    .lp-modal.ly-0002 .modal .bt button {
      width: 100% !important;
      height: 100% !important; }
      @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
        .lp-modal.ly-0002 .modal .bt .bg,
        .lp-modal.ly-0002 .modal .bt button {
          width: calc(100% - 10px) !important;
          height: calc(100% - 10px) !important; } }
  .lp-modal.ly-0002 .modal .modal-body .input,
  .lp-modal.ly-0002 .modal .button-bar {
    margin: 10px 0 !important; }
    @media only screen and (min-width: 600px), (orientation: landscape) and (min-width: 1024px) {
      .lp-modal.ly-0002 .modal .modal-body .input,
      .lp-modal.ly-0002 .modal .button-bar {
        margin: 20px 0 !important; } }

:not(.lp-modal) .modal-backdrop.fade.in {
  display: none !important; }

.ly-0002 .lp-principal {
  padding: 0;
  margin-bottom: 5vh; }

.ly-0002 .carta {
  position: relative;
  outline: none;
  overflow: hidden; }
  .ly-0002 .carta .bg {
    top: 20vh;
    right: 0;
    z-index: -10;
    background-color: #f3f3f3;
    position: absolute;
    width: 100%;
    height: 100%; }
  .ly-0002 .carta .retrato {
    min-width: 150px;
    width: 25%;
    border-radius: 100%;
    margin: 20px 0; }
  .ly-0002 .carta .conteudo {
    font-size: 20px;
    text-align: justify; }
  .ly-0002 .carta .titulo {
    font-size: 12px;
    margin-bottom: 10px; }
    @media only screen and (min-width: 480px) {
      .ly-0002 .carta .titulo {
        font-size: 16px; } }
    @media only screen and (min-width: 600px) {
      .ly-0002 .carta .titulo {
        font-size: 20px; } }
    .ly-0002 .carta .titulo h2 {
      font-size: 1.75em !important; }
    .ly-0002 .carta .titulo h3 {
      font-size: 1.29em !important; }
  .ly-0002 .carta p {
    font-size: 20px;
    font-size: 1em !important; }
  .ly-0002 .carta hr {
    width: 20%;
    margin: 0 auto 20px; }

.ly-0002 .chamada-lista {
  background: #0A0A0A;
  margin: 5vh 0;
  padding: 5vh 0; }
  .ly-0002 .chamada-lista .pn-row {
    justify-content: flex-start;
    align-items: center; }
  .ly-0002 .chamada-lista .destaque {
    font-size: 1.75em;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold; }
  .ly-0002 .chamada-lista .lista {
    text-align: left;
    font-size: 1.29em; }
    .ly-0002 .chamada-lista .lista ul {
      list-style-type: none;
      padding: 0; }
    .ly-0002 .chamada-lista .lista li {
      border: solid white;
      border-width: 0 0 2px;
      margin-bottom: 20px;
      padding: 0 10px 3px 2px;
      font-size: 1.29em; }
  .ly-0002 .chamada-lista b {
    text-transform: uppercase;
    font-size: 1.75em; }

.ly-0002 .depoimentos {
  color: #0A0A0A; }
  .ly-0002 .depoimentos > .pn-row > :nth-child(even) .foto {
    order: 2; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .depoimentos > .pn-row > :nth-child(even) .foto {
        order: 0; } }
    .ly-0002 .depoimentos > .pn-row > :nth-child(even) .foto img {
      border-radius: 0 5px 5px 5px; }
  .ly-0002 .depoimentos > .pn-row > :nth-child(even) .nome,
  .ly-0002 .depoimentos > .pn-row > :nth-child(even) .profissao {
    text-align: right; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .depoimentos > .pn-row > :nth-child(even) .nome,
      .ly-0002 .depoimentos > .pn-row > :nth-child(even) .profissao {
        text-align: left; } }
  .ly-0002 .depoimentos > .pn-row > :nth-child(even) .profissao {
    border-radius: 0 0 0 25px; }
  .ly-0002 .depoimentos > .pn-row > :nth-child(even) .nome {
    border-radius: 25px 0 0 0; }
  .ly-0002 .depoimentos h5 {
    color: #0A0A0A;
    font-weight: bold;
    margin: 0; }
  .ly-0002 .depoimentos .depoimento {
    display: flex;
    max-width: 500px;
    margin-bottom: 20px; }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      .ly-0002 .depoimentos .depoimento {
        margin-bottom: 30px; } }
    @media only screen and (min-width: 600px) {
      .ly-0002 .depoimentos .depoimento {
        margin-bottom: 40px; } }
  .ly-0002 .depoimentos .profissao {
    margin-bottom: 3px;
    font-size: 1.29em;
    border-radius: 0 0 25px 0; }
  .ly-0002 .depoimentos .nome {
    font-size: 1.66em;
    border-radius: 0 25px 0 0; }
  .ly-0002 .depoimentos .texto {
    text-align: left; }
  .ly-0002 .depoimentos .texto,
  .ly-0002 .depoimentos .nome,
  .ly-0002 .depoimentos .profissao {
    padding: 0 10px;
    font-family: "raleway"; }
  .ly-0002 .depoimentos .nome,
  .ly-0002 .depoimentos .profissao {
    text-align: left;
    font-weight: bold;
    background: pink; }
    @media only screen and (min-width: 480px) and (orientation: portrait), (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .depoimentos .nome,
      .ly-0002 .depoimentos .profissao {
        background: none; } }
  .ly-0002 .depoimentos .foto img {
    border-radius: 5px 0 5px 5px; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .depoimentos .foto img {
        border-radius: 5px !important; } }

.llform001 {
  background-color: white !important; }
  .llform001 .error-box {
    background-color: white;
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center; }
    .llform001 .error-box .show {
      display: block !important; }
    .llform001 .error-box img {
      width: 100px; }
    .llform001 .error-box > div {
      padding: 15px 0; }
  .llform001 .hidden {
    display: none !important; }
  .llform001 label {
    color: #46666d;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 3px; }
  .llform001 input,
  .llform001 select,
  .llform001 textarea {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    color: #555 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    margin-top: 3px !important;
    outline: none !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important; }
  .llform001 .field-error {
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0 0 2px; }
    .llform001 .field-error .show {
      display: block !important; }
  .llform001 .button-bar {
    text-align: center; }
  .llform001 .loading-box {
    color: #828282;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center; }
  .llform001 .show {
    display: block !important; }
  .llform001 img {
    width: 100px; }
  .llform001 .error-box.loading,
  .llform001 .loading-box.loading {
    display: block !important; }
  .llform001 .radio,
  .llform001 .checkbox {
    display: block !important;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    vertical-align: middle !important; }

.ly-0002 .frase-destaque {
  padding: 5vh 0;
  text-align: center;
  position: relative; }
  .ly-0002 .frase-destaque :not(.bg-overlay) {
    z-index: 1; }
  .ly-0002 .frase-destaque span {
    font-family: "Raleway";
    font-weight: 800; }
  .ly-0002 .frase-destaque.pn-container-fluid {
    margin-bottom: 30px; }
  .ly-0002 .frase-destaque .frase-principal {
    font-size: 1.75em; }
  .ly-0002 .frase-destaque .texto-secundario {
    font-size: 1.66em; }

@keyframes float-up-down {
  0% {
    transform: translate(0, 5%); }
  100% {
    transform: translate(0, 250%);
    opacity: 0; } }
.ly-0002 .know-more {
  margin-top: 5px;
  width: 100%;
  z-index: 8;
  text-align: center;
  padding-bottom: 3px; }
  @media only screen and (orientation: landscape) and (min-width: 640px) {
    .ly-0002 .know-more {
      position: absolute;
      width: 100px;
      left: 10vw;
      top: 65vh; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002 .know-more {
      left: 15vw;
      top: 90vh; } }
  @media only screen and (min-width: 1600px) {
    .ly-0002 .know-more {
      width: 50vw;
      left: 0;
      top: 90vh;
      text-align: right; } }
  .ly-0002 .know-more *:focus {
    outline: none; }
  .ly-0002 .know-more span {
    display: none; }
  .ly-0002 .know-more div {
    width: 4px;
    height: 6px;
    position: absolute;
    top: 4px;
    right: 0;
    bottom: auto;
    left: 0;
    animation: float-up-down 1.5s infinite linear;
    background-color: #FBFBFB;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: width 2s; }
  .ly-0002 .know-more button {
    width: 22px;
    height: 34px;
    position: relative;
    padding: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px 25px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: color 0.75s ease-in-out; }

.ly-0002 .texto-destaque {
  font-size: 1.66em;
  text-align: center;
  padding: 20px 0; }
  .ly-0002 .texto-destaque h3 {
    font-size: 2.75em !important;
    margin-bottom: 20px; }
    @media only screen and (min-width: 1600px) {
      .ly-0002 .texto-destaque h3 {
        font-size: 3em !important; } }
  .ly-0002 .texto-destaque hr {
    width: 90%; }
  .ly-0002 .texto-destaque p {
    text-align: left;
    font-size: 1.75em !important; }
    @media only screen and (min-width: 1600px) {
      .ly-0002 .texto-destaque p {
        font-size: 1.66em !important; } }
  .ly-0002 .texto-destaque .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .ly-0002 .texto-destaque .pn-row .imagem {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .texto-destaque .pn-row .imagem {
        justify-content: flex-start; } }
    .ly-0002 .texto-destaque .pn-row .imagem figure {
      width: 100%; }
      @media only screen and (orientation: landscape) {
        .ly-0002 .texto-destaque .pn-row .imagem figure {
          max-width: 50vw; } }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        .ly-0002 .texto-destaque .pn-row .imagem figure {
          padding: 0 20px; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        .ly-0002 .texto-destaque .pn-row .imagem figure {
          width: 90%; } }
      .ly-0002 .texto-destaque .pn-row .imagem figure img {
        width: 100%;
        max-width: unset; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .texto-destaque .pn-row .imagem:first-child {
        align-items: baseline; }
      .ly-0002 .texto-destaque .pn-row .imagem:last-child {
        align-items: flex-end; } }
  .ly-0002 .texto-destaque .pn-row .imagem {
    order: 0; }
  .ly-0002 .texto-destaque .pn-row .conteudo {
    order: 1; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002 .texto-destaque .pn-row .imagem,
    .ly-0002 .texto-destaque .pn-row .conteudo {
      order: unset; } }
  .ly-0002 .texto-destaque .pn-col-16 {
    width: 100%; }
  .ly-0002 .texto-destaque .bt {
    margin: 5vh auto !important;
    width: 100%;
    max-width: 480px; }
    .ly-0002 .texto-destaque .bt .bg,
    .ly-0002 .texto-destaque .bt button {
      border-radius: 0;
      font-size: 2.75em; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002 .texto-destaque .pn-col-8-mobile {
      width: calc(50% - 20px); } }

.ly-0002 .venda {
  font-family: 'raleway'; }

.ly-0002.warning {
  background: #000000;
  color: #fbfbfb;
  text-align: center; }
  .ly-0002.warning span {
    font-size: 1.15em;
    line-height: 1.15em; }
  .ly-0002.warning a {
    font-size: 1em;
    text-decoration: underline; }
  .ly-0002.warning > .pn-row {
    margin-top: 0;
    margin-bottom: 0; }

.ly-0002 .social-media-cta {
  text-align: center;
  padding: 5vh 0 5vh !important; }
  .ly-0002 .social-media-cta img {
    width: 50%;
    max-width: 100px;
    min-width: 30px;
    margin: 30px 0; }
  .ly-0002 .social-media-cta .facebook,
  .ly-0002 .social-media-cta .whatsapp {
    display: flex;
    flex-direction: column; }
    .ly-0002 .social-media-cta .facebook .cta,
    .ly-0002 .social-media-cta .whatsapp .cta {
      margin-top: auto; }
  .ly-0002 .social-media-cta .bt {
    margin: 25px auto 10px !important; }
    .ly-0002 .social-media-cta .bt button {
      font-size: 1.29em; }

.ly-0002 .social-share {
  text-align: justify; }
  .ly-0002 .social-share .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .social-share .flex {
        flex-direction: column; } }
  .ly-0002 .social-share img {
    max-width: 60px;
    margin: 10px; }
  .ly-0002 .social-share h4 {
    margin-bottom: 10px; }

@keyframes reveal {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: auto;
    opacity: 1; } }
@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
.ly-0002 .instagram-feed {
  display: flex;
  flex-direction: column;
  color: black; }
  .ly-0002 .instagram-feed .post {
    max-width: 400px;
    background-color: rgba(251, 251, 251, 0.95);
    padding: 16px 1px;
    margin-bottom: 23px;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    flex-direction: column; }
    .ly-0002 .instagram-feed .post img {
      max-width: 100%; }
    .ly-0002 .instagram-feed .post .user-pic {
      max-width: 11%;
      border-radius: 50%;
      margin: 0 10px 5px;
      float: left; }
    .ly-0002 .instagram-feed .post .user-name,
    .ly-0002 .instagram-feed .post .user-location {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
      .ly-0002 .instagram-feed .post .user-name span,
      .ly-0002 .instagram-feed .post .user-location span {
        font-size: 1em; }
    .ly-0002 .instagram-feed .post .user-name {
      font-size: 14px;
      font-weight: bold; }
    .ly-0002 .instagram-feed .post .user-location {
      font-size: 12px; }
    .ly-0002 .instagram-feed .post .post-text {
      padding: 5px 15px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      display: inline-block; }
      .ly-0002 .instagram-feed .post .post-text .read-more {
        position: absolute;
        bottom: 3px;
        right: 6px;
        cursor: pointer; }
        .ly-0002 .instagram-feed .post .post-text .read-more.hide {
          animation-name: hide;
          animation-duration: 1s;
          opacity: 0; }
      .ly-0002 .instagram-feed .post .post-text .end-text {
        display: none; }
        .ly-0002 .instagram-feed .post .post-text .end-text.show {
          animation-name: reveal;
          animation-duration: 2s;
          display: unset; }
      .ly-0002 .instagram-feed .post .post-text .dots.hidding {
        animation-name: hide;
        animation-duration: 1s;
        opacity: 0; }
      .ly-0002 .instagram-feed .post .post-text .dots.hide {
        display: none; }
      .ly-0002 .instagram-feed .post .post-text p {
        margin: 3px 0; }
    .ly-0002 .instagram-feed .post .user-bar {
      display: inline-block;
      width: 100%; }
      .ly-0002 .instagram-feed .post .user-bar a {
        text-decoration: none;
        color: #262626; }
        .ly-0002 .instagram-feed .post .user-bar a:hover {
          text-decoration: underline; }
      .ly-0002 .instagram-feed .post .user-bar div {
        display: inline-flex;
        flex-direction: column; }
    .ly-0002 .instagram-feed .post .post-media {
      position: relative; }
      .ly-0002 .instagram-feed .post .post-media .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

section.ly-0002.conf-page {
  padding: 2.5vh 3vw; }
  section.ly-0002.conf-page > .pn-row:first-child {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 5vh 3vw 2.5vh;
    border-radius: 4px; }
  section.ly-0002.conf-page h1 {
    font-size: 2.75em;
    font-weight: bold;
    font-family: "Raleway";
    margin-bottom: 20px; }
  section.ly-0002.conf-page p {
    font-size: 1.66em !important;
    margin: 2.5vh 0; }

.ly-0002.ty-page {
  padding-top: 0; }
  .ly-0002.ty-page .pn-container,
  .ly-0002.ty-page .pn-container-fluid {
    padding-left: 6vw;
    padding-right: 6vw; }
    .ly-0002.ty-page .pn-container .pn-container,
    .ly-0002.ty-page .pn-container .pn-container-fluid,
    .ly-0002.ty-page .pn-container-fluid .pn-container,
    .ly-0002.ty-page .pn-container-fluid .pn-container-fluid {
      padding: 0 !important; }
  .ly-0002.ty-page .c-bg.lista {
    background: gainsboro;
    padding-top: 5vh;
    padding-bottom: 5vh; }
  .ly-0002.ty-page .video {
    padding: 0; }
  .ly-0002.ty-page .video-container {
    margin: 2.5vh auto;
    width: 100%; }
    @media only screen and (orientation: landscape) {
      .ly-0002.ty-page .video-container {
        max-width: 47vw; } }
    .ly-0002.ty-page .video-container .video-inner {
      height: 0;
      position: relative;
      padding-bottom: 56.25%; }
      .ly-0002.ty-page .video-container .video-inner > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .ly-0002.ty-page .lista {
    text-align: left; }
    .ly-0002.ty-page .lista li {
      font-size: 1.29em; }
