.padding-5vh0 {
  padding: 5vh 0; }

.pn-container {
  max-width: 1000px;
  margin: 0 auto; }

.pn-container-fluid {
  width: 100%;
  margin: 0 auto; }
  .pn-container-fluid > .pn-row {
    margin: 0; }

.pn-row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center; }
  .pn-row::after {
    content: "";
    clear: both;
    display: table; }

.pn-col-16 {
  width: calc(100% - 20px); }

.pn-col-15 {
  width: calc(93.75% - 20px); }

.pn-col-14 {
  width: calc(87.5% - 20px); }

.pn-col-13 {
  width: calc(81.25% - 20px); }

.pn-col-12 {
  width: calc(75% - 20px); }

.pn-col-11 {
  width: calc(68.75% - 20px); }

.pn-col-10 {
  width: calc(62.5% - 20px); }

.pn-col-9 {
  width: calc(56.25% - 20px); }

.pn-col-8 {
  width: calc(50% - 20px); }

.pn-col-7 {
  width: calc(43.75% - 20px); }

.pn-col-6 {
  width: calc(37.5% - 20px); }

.pn-col-5 {
  width: calc(31.25% - 20px); }

.pn-col-4 {
  width: calc(25% - 20px); }

.pn-col-3 {
  width: calc(18.75% - 20px); }

.pn-col-2 {
  width: calc(12.5% - 20px); }

.pn-col-1 {
  width: calc(6.25% - 20px); }

.pn-col-16, .pn-col-15, .pn-col-14, .pn-col-13, .pn-col-12, .pn-col-11, .pn-col-10, .pn-col-9, .pn-col-8, .pn-col-7, .pn-col-6, .pn-col-5, .pn-col-4, .pn-col-3, .pn-col-2, .pn-col-1 {
  margin: 0 10px;
  float: left; }

@media only screen and (orientation: landscape) and (min-width: 853px) {
  .pn-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto; }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-16-mobile {
    width: calc(100% - 20px); }

  .pn-col-15-mobile {
    width: calc(93.75% - 20px); }

  .pn-col-14-mobile {
    width: calc(87.5% - 20px); }

  .pn-col-13-mobile {
    width: calc(81.25% - 20px); }

  .pn-col-12-mobile {
    width: calc(75% - 20px); }

  .pn-col-11-mobile {
    width: calc(68.75% - 20px); }

  .pn-col-10-mobile {
    width: calc(62.5% - 20px); }

  .pn-col-9-mobile {
    width: calc(56.25% - 20px); }

  .pn-col-8-mobile {
    width: calc(50% - 20px); }

  .pn-col-7-mobile {
    width: calc(43.75% - 20px); }

  .pn-col-6-mobile {
    width: calc(37.5% - 20px); }

  .pn-col-5-mobile {
    width: calc(31.25% - 20px); }

  .pn-col-4-mobile {
    width: calc(25% - 20px); }

  .pn-col-3-mobile {
    width: calc(18.75% - 20px); }

  .pn-col-2-mobile {
    width: calc(12.5% - 20px); }

  .pn-col-1-mobile {
    width: calc(6.25% - 20px); }

  .pn-col-16-mobile, .pn-col-15-mobile, .pn-col-14-mobile, .pn-col-13-mobile, .pn-col-12-mobile, .pn-col-11-mobile, .pn-col-10-mobile, .pn-col-9-mobile, .pn-col-8-mobile, .pn-col-7-mobile, .pn-col-6-mobile, .pn-col-5-mobile, .pn-col-4-mobile, .pn-col-3-mobile, .pn-col-2-mobile, .pn-col-1-mobile {
    margin: 0 10px;
    float: left; } }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .pn-container {
    max-width: 1000px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto; }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-16-tablet {
    width: calc(100% - 20px); }

  .pn-col-15-tablet {
    width: calc(93.75% - 20px); }

  .pn-col-14-tablet {
    width: calc(87.5% - 20px); }

  .pn-col-13-tablet {
    width: calc(81.25% - 20px); }

  .pn-col-12-tablet {
    width: calc(75% - 20px); }

  .pn-col-11-tablet {
    width: calc(68.75% - 20px); }

  .pn-col-10-tablet {
    width: calc(62.5% - 20px); }

  .pn-col-9-tablet {
    width: calc(56.25% - 20px); }

  .pn-col-8-tablet {
    width: calc(50% - 20px); }

  .pn-col-7-tablet {
    width: calc(43.75% - 20px); }

  .pn-col-6-tablet {
    width: calc(37.5% - 20px); }

  .pn-col-5-tablet {
    width: calc(31.25% - 20px); }

  .pn-col-4-tablet {
    width: calc(25% - 20px); }

  .pn-col-3-tablet {
    width: calc(18.75% - 20px); }

  .pn-col-2-tablet {
    width: calc(12.5% - 20px); }

  .pn-col-1-tablet {
    width: calc(6.25% - 20px); }

  .pn-col-16-tablet, .pn-col-15-tablet, .pn-col-14-tablet, .pn-col-13-tablet, .pn-col-12-tablet, .pn-col-11-tablet, .pn-col-10-tablet, .pn-col-9-tablet, .pn-col-8-tablet, .pn-col-7-tablet, .pn-col-6-tablet, .pn-col-5-tablet, .pn-col-4-tablet, .pn-col-3-tablet, .pn-col-2-tablet, .pn-col-1-tablet {
    margin: 0 10px;
    float: left; } }
.ly-0002 {
  font-size: 16px;
  color: #0A0A0A; }
  .ly-0002,
  .ly-0002 * {
    font-size: 12px; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      .ly-0002,
      .ly-0002 * {
        font-size: 16px; } }
  .ly-0002 button {
    font-size: 16px; }
  .ly-0002 b {
    font-size: 1em !important; }
  .ly-0002 .underline {
    font-size: 1em !important; }
  .ly-0002 .bt {
    margin: 0 auto !important; }
    .ly-0002 .bt .bg,
    .ly-0002 .bt button {
      border-radius: 5px;
      font-weight: bold;
      width: 100%;
      height: 100%; }
      @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
        .ly-0002 .bt .bg,
        .ly-0002 .bt button {
          width: calc(100% - 10px) !important;
          height: calc(100% - 10px) !important; } }
  .ly-0002.colors-sample .pn-row {
    display: flex; }
    .ly-0002.colors-sample .pn-row div {
      height: 30px;
      padding: 20px; }
  .ly-0002 figure {
    text-align: center; }
    .ly-0002 figure img {
      width: 80%;
      max-width: 50vw; }
  .ly-0002 .texto-bg {
    font-size: 1em !important; }
  .ly-0002 .texto-bg:before,
  .ly-0002 .texto-bg:after {
    content: '';
    padding: 0 5px 0 0;
    height: 100%; }
  .ly-0002.colors-sample .color-list > div {
    display: flex;
    justify-content: center;
    flex-direction: column; }

section h1, section .size-h1, header h1, header .size-h1 {
  font-size: 3.052em !important; }
section h2, section .size-h2, header h2, header .size-h2 {
  font-size: 2.441em !important; }
section h3, section .size-h3, header h3, header .size-h3 {
  font-size: 1.953em !important; }
section h4, section .size-h4, header h4, header .size-h4 {
  font-size: 1.563em !important; }
section h5, section .size-h5, header h5, header .size-h5 {
  font-size: 1.25em !important; }
section h6, section .size-h6, header h6, header .size-h6 {
  font-size: 1.1em !important; }
section p, section .size-p, header p, header .size-p {
  font-size: 1em !important; }

.bt {
  max-width: 300px;
  margin: 2%; }
  .bt .inner {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 26.6666666667%; }
    .bt .inner > outer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .bt .bg, .bt button {
    margin: 0 !important;
    width: 100%;
    width: 100%;
    height: 100%; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .bt .bg, .bt button {
        width: calc(100% - 10px);
        height: calc(100% - 10px); } }
  .bt .bg {
    position: absolute;
    background-color: pink;
    bottom: 0;
    right: 0; }
  .bt a {
    width: 100%;
    height: 100%; }
  .bt button {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    transition-duration: 0s; }
    .bt button:active {
      transition-duration: 5.5s;
      top: unset;
      left: unset;
      right: 5px;
      bottom: 5px; }

.llform001 {
  background-color: white !important; }

.llform001 > div {
  padding: 8px 0 !important; }

.llform001 > div.hidden {
  display: none !important; }

.llform001 > div > label {
  color: #46666d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 3px; }

.llform001 > div > input,
.llform001 > div > select,
.llform001 > div > textarea {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  color: #555 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  margin-top: 3px !important;
  outline: none !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  width: 100% !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important; }

.llform001 > div > div.field-error {
  color: tomato;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0 0 2px; }

.llform001 > div > div.field-error.show {
  display: block !important; }

.llform001 > div.button-bar {
  text-align: center; }

.llform001 > div.error-box {
  background-color: white;
  color: tomato;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center; }

.llform001 > div.error-box.show {
  display: block !important; }

.llform001 > div.error-box > img {
  width: 100px; }

.llform001 > div.error-box > div {
  padding: 15px 0; }

.llform001 > div.loading-box {
  background-color: white;
  color: #828282;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center; }

.llform001 > div.loading-box.show {
  display: block !important; }

.llform001 > div.loading-box > img {
  width: 100px; }

.llform001 > div.loading-box > div {
  padding: 15px 0; }

.llform001 > div.error-box.loading,
.llform001 > div.loading-box.loading {
  display: block !important; }

.llform001 .radio,
.llform001 .checkbox {
  display: block !important;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  vertical-align: middle !important; }

.checkbox-list.d-none {
  display: none !important; }

header.ly-0002:not(.ty-page) {
  position: relative;
  width: 100vw;
  float: none;
  padding: 40vh 3vw 45px; }
  header.ly-0002:not(.ty-page),
  header.ly-0002:not(.ty-page) * {
    box-sizing: border-box;
    font-size: 13px; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page),
      header.ly-0002:not(.ty-page) * {
        font-size: 17px; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      header.ly-0002:not(.ty-page),
      header.ly-0002:not(.ty-page) * {
        font-size: 20px; } }
    @media only screen and (min-width: 1360px) {
      header.ly-0002:not(.ty-page),
      header.ly-0002:not(.ty-page) * {
        font-size: 22px; } }
    @media only screen and (min-width: 1600px) {
      header.ly-0002:not(.ty-page),
      header.ly-0002:not(.ty-page) * {
        font-size: 25px; } }
    @media only screen and (min-width: 1920px) {
      header.ly-0002:not(.ty-page),
      header.ly-0002:not(.ty-page) * {
        font-size: 30px; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    header.ly-0002:not(.ty-page) {
      height: 100vh; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    header.ly-0002:not(.ty-page) {
      padding: 0; } }
  header.ly-0002:not(.ty-page) .pn-container {
    width: 100%;
    height: 100%; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .pn-container {
        width: 61vw;
        position: absolute;
        right: 0;
        bottom: 0;
        height: unset;
        padding: 0 10px 10vh 0; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      header.ly-0002:not(.ty-page) .pn-container {
        width: 61vw; } }
    @media only screen and (min-width: 1360px) {
      header.ly-0002:not(.ty-page) .pn-container {
        width: 59vw; } }
    @media only screen and (min-width: 1920px) {
      header.ly-0002:not(.ty-page) .pn-container {
        width: 57vw; } }
    header.ly-0002:not(.ty-page) .pn-container > div {
      margin: 0px 0 2px; }
  header.ly-0002:not(.ty-page) .main-title {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px 0; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .main-title {
        background-color: transparent;
        padding: 0;
        border-radius: 0; } }
    @media only screen and (orientation: landscape) {
      header.ly-0002:not(.ty-page) .main-title {
        padding-left: 30vw; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .main-title {
        padding-left: 0; } }
    header.ly-0002:not(.ty-page) .main-title h1 {
      margin: 0;
      font-weight: bold;
      font-size: 1.563em !important;
      line-height: 1em !important; }
    header.ly-0002:not(.ty-page) .main-title span {
      margin: 0;
      font-weight: bold;
      font-size: 1.1em !important;
      line-height: 1em !important; }
  header.ly-0002:not(.ty-page) .conteudo {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    font-size: 1.563em !important;
    line-height: 1.1em !important; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .conteudo {
        background-color: transparent;
        padding: 0; } }
    @media only screen and (orientation: landscape) {
      header.ly-0002:not(.ty-page) .conteudo {
        padding-left: 30vw; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .conteudo {
        padding-left: 0; } }
    @media only screen and (orientation: portrait) {
      header.ly-0002:not(.ty-page) .conteudo {
        text-align: center; } }
    @media only screen and (min-width: 600px) {
      header.ly-0002:not(.ty-page) .conteudo {
        text-align: left; } }
  header.ly-0002:not(.ty-page) .observacao {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    font-size: 1.25em !important;
    line-height: 1em !important;
    font-weight: bold; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .observacao {
        background-color: transparent;
        padding: 0; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .observacao {
        margin-top: 60px !important; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .observacao {
        padding: 0;
        margin-top: unset !important; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .observacao {
        padding: 0;
        font-size: 1.563em; } }
  header.ly-0002:not(.ty-page) .data {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    font-size: 1.1em !important;
    line-height: 1em !important;
    font-weight: bold; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      header.ly-0002:not(.ty-page) .data {
        background-color: transparent;
        padding: 0; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .data {
        margin-top: 60px !important; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .data {
        padding: 0;
        margin-top: unset !important; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .data {
        padding: 0;
        font-size: 1.25em; } }
  header.ly-0002:not(.ty-page) .bt {
    margin: 5vh auto 0 !important;
    font-size: 1.563em !important;
    line-height: 1em !important; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      header.ly-0002:not(.ty-page) .bt {
        max-width: 330px; } }
    header.ly-0002:not(.ty-page) .bt button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      font-size: 1.3em; }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        header.ly-0002:not(.ty-page) .bt button {
          font-size: 23px;
          line-height: 1.2em; } }
  header.ly-0002:not(.ty-page) .prova-social {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    header.ly-0002:not(.ty-page) .prova-social .g-ytsubscribe,
    header.ly-0002:not(.ty-page) .prova-social .fb-like {
      line-height: 0;
      padding: 0;
      margin: 10px 10px 0; }

body {
  padding-right: unset !important; }

.ly-0002.lp-principal {
  padding: 0;
  margin-bottom: 5vh; }
.ly-0002 hr {
  width: 40%;
  border: 1px solid;
  border-radius: 5px; }
.ly-0002 p {
  margin-top: 0; }
.ly-0002 .carta {
  text-align: left;
  position: relative;
  outline: none;
  overflow: hidden; }
  .ly-0002 .carta .bg {
    top: 10%;
    right: 0;
    z-index: -10;
    background-color: #f3f3f3;
    position: absolute;
    width: 100%;
    height: 100%; }
  .ly-0002 .carta .retrato {
    min-width: 150px;
    width: 25%;
    border-radius: 100%;
    margin: 20px 0; }
  .ly-0002 .carta .conteudo {
    font-size: 20px; }
  .ly-0002 .carta h2 {
    font-size: 1.25em !important; }
  .ly-0002 .carta p {
    font-size: 20px;
    font-size: 1.1em !important; }
  .ly-0002 .carta hr {
    width: 20%;
    margin: 0 auto 20px; }
.ly-0002 .chamada-lista {
  background: #0A0A0A;
  margin: 5vh 0;
  padding: 5vh 0; }
  .ly-0002 .chamada-lista .pn-row {
    justify-content: flex-start;
    align-items: center; }
  .ly-0002 .chamada-lista .destaque {
    font-size: 1.563em;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .chamada-lista .destaque {
        text-align: center; } }
  .ly-0002 .chamada-lista .lista {
    text-align: left;
    font-size: 1.25em; }
    .ly-0002 .chamada-lista .lista ul {
      list-style-type: none;
      padding: 0; }
    .ly-0002 .chamada-lista .lista li {
      border: solid white;
      border-width: 0 0 2px;
      margin-bottom: 20px;
      padding: 0 10px 3px 2px;
      font-size: 1.25em; }
  .ly-0002 .chamada-lista b {
    text-transform: uppercase;
    font-size: 1.563em; }
.ly-0002 .depoimentos {
  color: #0A0A0A; }
  .ly-0002 .depoimentos h5 {
    color: #0A0A0A;
    font-weight: bold;
    margin: 0; }
  .ly-0002 .depoimentos .depoimento img {
    height: 1em; }
  .ly-0002 .depoimentos .depoimento1,
  .ly-0002 .depoimentos .depoimento2,
  .ly-0002 .depoimentos .depoimento3,
  .ly-0002 .depoimentos .depoimento4 {
    padding: 40px 30px 0; }
    @media only screen and (orientation: landscape), (min-width: 480px) and (orientation: portrait) {
      .ly-0002 .depoimentos .depoimento1,
      .ly-0002 .depoimentos .depoimento2,
      .ly-0002 .depoimentos .depoimento3,
      .ly-0002 .depoimentos .depoimento4 {
        display: flex; } }
  .ly-0002 .depoimentos .texto {
    padding: 0 5px;
    margin: 0 0 0 6%;
    text-align: justify; }
  .ly-0002 .depoimentos .foto img {
    border-radius: 10px; }
  .ly-0002 .depoimentos .nome {
    text-align: center;
    margin: 10px 0; }
    @media only screen and (orientation: landscape), (min-width: 480px) and (orientation: portrait) {
      .ly-0002 .depoimentos .nome {
        text-align: left;
        margin: 0 0 10px; } }
.ly-0002 .frase-destaque {
  padding: 5vh 0;
  text-align: center; }
  .ly-0002 .frase-destaque span {
    font-size: 1.953em; }
  .ly-0002 .frase-destaque.pn-container-fluid {
    margin-bottom: 60px; }
.ly-0002 .texto-destaque {
  font-size: 1.953em;
  text-align: center;
  padding: 20px 0; }
  .ly-0002 .texto-destaque h3 {
    font-size: 2.441em !important;
    margin-bottom: 20px; }
  .ly-0002 .texto-destaque hr {
    width: 90%; }
  .ly-0002 .texto-destaque p {
    text-align: justify;
    font-size: 1.563em !important; }
  .ly-0002 .texto-destaque .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .ly-0002 .texto-destaque .conteudo .bt {
      width: 35%;
      min-width: 210px;
      margin-top: 25px !important; }
      .ly-0002 .texto-destaque .conteudo .bt .bg,
      .ly-0002 .texto-destaque .conteudo .bt button {
        border-radius: 0; }
  .ly-0002 .texto-destaque .pn-row .imagem {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .texto-destaque .pn-row .imagem {
        justify-content: flex-start; } }
    .ly-0002 .texto-destaque .pn-row .imagem figure {
      width: 100%; }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        .ly-0002 .texto-destaque .pn-row .imagem figure {
          padding: 0 20px; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        .ly-0002 .texto-destaque .pn-row .imagem figure {
          width: 90%; } }
      .ly-0002 .texto-destaque .pn-row .imagem figure img {
        width: 100%;
        max-width: unset; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002 .texto-destaque .pn-row .imagem:first-child {
        align-items: baseline; }
      .ly-0002 .texto-destaque .pn-row .imagem:last-child {
        align-items: flex-end; } }
  .ly-0002 .texto-destaque .pn-row:nth-child(even) .imagem {
    order: 0; }
  .ly-0002 .texto-destaque .pn-row:nth-child(even) .conteudo {
    order: 1; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002 .texto-destaque .pn-row:nth-child(even) .imagem, .ly-0002 .texto-destaque .pn-row:nth-child(even) .conteudo {
      order: unset; } }
  .ly-0002 .texto-destaque .pn-col-16 {
    width: 100%; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002 .texto-destaque .pn-col-8-mobile {
      width: calc(50% - 20px); } }

footer.ly-0002 {
  background: #000;
  color: #FBFBFB;
  padding: 20px 6vw;
  text-align: center;
  font-size: 1em; }
  footer.ly-0002 span {
    display: inherit;
    margin-bottom: 20px;
    font-size: .85em; }
  footer.ly-0002 .pn-logo {
    width: 100px;
    height: auto;
    margin: 20px auto; }
  footer.ly-0002 .links ul,
  footer.ly-0002 .social-media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  footer.ly-0002 .links li {
    margin: 0 10px; }
  footer.ly-0002 .social-media {
    margin: 10px 0; }
    footer.ly-0002 .social-media img {
      width: 40px;
      height: auto;
      margin: 0 5px;
      filter: invert(100%); }

.lp-modal.ly-0002 .modal {
  padding: 0;
  background: rgba(0, 0, 0, 0.45);
  	/* 
  !codigo descontinuado
  &.in {display: flex !important;justify-content: center;} */ }
  .lp-modal.ly-0002 .modal .modal-dialog {
    width: 80%;
    max-width: 700px;
    margin: 5vh auto; }
  .lp-modal.ly-0002 .modal .modal-content {
    padding: 0 5%; }
  .lp-modal.ly-0002 .modal .modal-header {
    border: 0;
    padding: 10% 0 0;
    font-size: 1.25em;
    line-height: 1.4em; }
  .lp-modal.ly-0002 .modal .modal-body {
    padding: 0; }
    .lp-modal.ly-0002 .modal .modal-body form {
      border: 0; }
    .lp-modal.ly-0002 .modal .modal-body input {
      padding: 10px; }
      @media only screen and (min-width: 480px) {
        .lp-modal.ly-0002 .modal .modal-body input {
          font-size: 1.25em; } }
  .lp-modal.ly-0002 .modal .modal-footer {
    font-size: .9em !important;
    text-align: center;
    padding: 0;
    margin: 0; }
  .lp-modal.ly-0002 .modal .loading-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 auto !important; }
  .lp-modal.ly-0002 .modal .field-error {
    text-align: left;
    font-size: 1em; }
  .lp-modal.ly-0002 .modal .bt {
    max-width: 400px;
    width: 100%; }

:not(.lp-modal) .modal-backdrop.fade.in {
  display: none !important; }

header.ly-0002.ty-page {
  height: unset !important;
  padding: 0;
  padding: 3vh 0 4vh;
  background: #2E3133;
  color: #FBFBFB !important; }
  header.ly-0002.ty-page .main-title {
    font-size: 2.441em; }
  header.ly-0002.ty-page .sub-title {
    font-size: 1.25em; }

.ly-0002.ty-page .pn-container,
.ly-0002.ty-page .pn-container-fluid {
  padding-left: 6vw;
  padding-right: 6vw; }
  .ly-0002.ty-page .pn-container .pn-container,
  .ly-0002.ty-page .pn-container .pn-container-fluid,
  .ly-0002.ty-page .pn-container-fluid .pn-container,
  .ly-0002.ty-page .pn-container-fluid .pn-container-fluid {
    padding: 0 !important; }
.ly-0002.ty-page .c-bg.lista {
  background: gainsboro;
  padding-top: 5vh;
  padding-bottom: 5vh; }
.ly-0002.ty-page .video {
  padding: 0; }
.ly-0002.ty-page .video-container {
  margin: 2.5vh auto;
  width: 100%; }
  @media only screen and (orientation: landscape) {
    .ly-0002.ty-page .video-container {
      max-width: 47vw; } }
  .ly-0002.ty-page .video-container .video-inner {
    height: 0;
    position: relative;
    padding-bottom: 56.25%; }
    .ly-0002.ty-page .video-container .video-inner > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
.ly-0002.ty-page .lista {
  text-align: left; }
  .ly-0002.ty-page .lista li {
    font-size: 1.25em; }
.ly-0002.ty-page .social-media-cta {
  text-align: center;
  padding: 0 0 5vh; }
  .ly-0002.ty-page .social-media-cta img {
    width: 50%;
    max-width: 100px;
    min-width: 30px; }
  .ly-0002.ty-page .social-media-cta .bt {
    margin: 25px auto 10px !important; }
.ly-0002.ty-page .social-share {
  text-align: justify; }
  .ly-0002.ty-page .social-share .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.ty-page .social-share .flex {
        flex-direction: column; } }
  .ly-0002.ty-page .social-share img {
    max-width: 60px;
    margin: 10px; }
