@import "https://files.countrycraft.com.br/panoxadrez/dotStore/style/descProdutos/style.css";

*/@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.pn-prod-descricao {
  font-size: 14px;
}
.pn-prod-descricao p,
.pn-prod-descricao b {
  font-family: 'Roboto';
}
.pn-prod-descricao p {
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0.6em 0;
  padding: 0 15px;
}
*/
