@import "../../../../lib/flickity/v2/css/flickity.scss";
@import "../../../lib/sushi-framework/v00004/index";


@import "../../../../../../../../sushi-framework/functionalities/mixings/breakpoint/v00002";
@import "../../../../../../../../sushi-framework/functionalities/mixings/generate-grid/v00003";

$ly-0002-grid: (size: 16,
	conteiner-max: 1000px,
	gutter: 20px,
	prefix: ''
);

@include generate-grid(map($ly-0002-grid, size), map($ly-0002-grid, conteiner-max), map($ly-0002-grid, gutter), map($ly-0002-grid, prefix), '', 'pn-');


@include breakpoint-up(mobile-regular-land) {
	@include generate-grid(map($ly-0002-grid, size), map($ly-0002-grid, conteiner-max), map($ly-0002-grid, gutter), map($ly-0002-grid, prefix), "-mobile", 'pn-');
}


@include breakpoint-up(tablet-regular-land) {
	@include generate-grid(map($ly-0002-grid, size), map($ly-0002-grid, conteiner-max), map($ly-0002-grid, gutter), map($ly-0002-grid, prefix), "-tablet", 'pn-');
}


@import "layout/paleta";
@import "layout/geral";
@import "layout/tipografia";
@import "layout/conteudo";

@import "elementos/botoes";
@import "elementos/header";
@import "elementos/modal";
@import "elementos/footer";
@import "elementos/form";

@import "pages/ty-page";
@import "pages/conf_page";

