section.rastro{
    @extend %size-full-width;
    @extend %font-size;
    //@extend %margim-vertical-section;
    //@extend %margin-horizontal-section;
    padding: 0 10px;

    //$size-bre: 1em;
    $size1: 20px;
    $size1: .7em;
    $border-radius: 3px;
    $breakpoint: mobile-small-land;
    $class: a, span;

    overflow: hidden;
    width: 100%;
    text-align: left;

    > span{
        color: $c-black;
        font-size: $size-h6 + em;
        @include breakpoint-up(tablet-large-land){
            float: left;
            margin-right: 1em;
        }    
    }
    ol{
        text-align: left;
        list-style: none;
        display: inline-table;
        padding: 0;
        font-size: $size-h6 + em;

    }
    li {
        display: inline;
        @include breakpoint-up($breakpoint){display: inline-block;}

        &:first-child {#{$class}{
                           border-radius: $border-radius 0 0 $border-radius;
                           &:before{display: none !important;}
                       }}
        &:last-child {#{$class}{
                          border-radius: 0 $border-radius $border-radius 0;
                          &:after{display: none !important;}
                      }}

        #{$class}{
            display: contents;
            float: left;
            position: relative;
            text-decoration: none;
            text-align: left;

            @include breakpoint-up($breakpoint){
                display: block !important;
                background: #3498db;
                padding-left: 1em; 
                padding-right: 1em;
                margin-right: .5em;
            }

            &:after {
                content: " "; 
                white-space: pre;
                @include breakpoint-up($breakpoint){
                    content: ""; 
                    //white-space: unset;
                    border-top: $size1 solid transparent;
                    border-bottom: $size1 solid transparent;
                    top: 0;
                    z-index: 1;
                    border-left: $size1 solid transparent;
                    position: absolute; 
                    right: -$size1;
                }
            }
            &:before {
                content: " > ";
                white-space: pre;
                @include breakpoint-up($breakpoint){
                    content: "";
                    border-top: $size1 solid transparent;
                    border-bottom: $size1 solid transparent;
                    border-left: $size1 solid #FFFFFF;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}