// ID: curso00002
// Nome: Curso Online Basico

//$curso00002-img-generica: url("https://picsum.photos/1980/1081");

$curso00002-hero-image-desktop: loremImage(1920, 1080);;
$curso00002-hero-image-mobile: loremImage(1500, 600);
$curso00002-chamada-modal: loremImage(500, 300);
$curso00002-destaque: loremImage(500, 300);
$curso00002-lista-cursos: loremImage(700, 700);

@include curso-venda-bg-header(#curso00002, #fbb03b);