*.db
/proj/landingpage 000001/Mailer Landingpage/nbproject/private/
testes/titulo_primeiros_passos.html
CSS/teste/.LCKpn.css~
*.db
img/icones/Thumbs.db
img/paginas/ladingpage/Thumbs.db
img/paginas/PrimeirosPassos/celular/Thumbs.db
img/Thumbs.db
img/icones/Thumbs.db
img/paginas/ladingpage/Thumbs.db
img/icones/Thumbs.db
img/paginas/ladingpage/Thumbs.db
img/Thumbs.db
img/paginas/PrimeirosPassos/computador/7.old.png

html/github/teste_comentario_facebok.html
testes/newhtml.html
testes/newhtml.html
testes/newhtml.html
testes/newhtml.html
