*.db
*/testes/ *
nbproject/*
*.map
img/paginas/PrimeirosPassos/computador/7.old.png
html/github/teste_comentario_facebok.html
css_new/testes/*
css_new/recilando/*
CSS/dotstore/dotstore-min.css
CSS/dotstore/dotstore.old-min.css
html/dot/postagens_blog/qib.html
scss/dotstore/_post_blog.scss
/scss/CSS Hotscool/nbproject/private/
/HTML5Application1/nbproject/private/
/prendasdolar.com.br/nbproject/private/
prendasdolar.com.br/nbproject/project.properties
prendasdolar.com.br/nbproject/project.xml
prendasdolar.com.br/lib/Sushi_Framework/
lib/sushi-framework/
