body{
    //background-color: $c-white;
    background-color: #FFFFFF;
    //background-color: #FFFF00;
    padding-right: unset !important;
}

html {
    scroll-behavior: smooth;
}

button{
    outline: none;
    section.curso &,
    section.loja &{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}