$margim-sections: 4vh;
$margim-titulo: 15vh;
//paleta
$cor1: #b57272; //video ativo
$cor2: #ffffff; //texto
$cor3: #acacac; //video inativo1
$cor4: #898989; //video inativo2
$cor5: #803b3c; //texto
$cor6: #804546;

//@import "../../../../lib/bootstrap/4.3.1/scss/bootstrap.scss/";
@import "../../../../../../sushi-framework/versions/bleed_edge.scss";
@import "../../../../../../sushi-framework/functionalities/mixings/aspect-ratio/v00002";
@mixin libera-aula($aula-number, $status: "unlock") {
  .ly-0002.barra-navegacao .dropdown-menu button.aula-#{$aula-number} {
    @if $status == lock or $status == "amanha" {
      color: #bbbbbb;
      font-weight: normal;
    } @else if $status == "destaque" {
      background: $cor1;
      color: $cor2;
    } @else {
      color: $cor5;
    }
  }
  .lista-aula .aula-#{$aula-number} button {
    @if $status == "destaque" {
      background: $cor1;
      .date,
      .title {
        color: $cor2;
      }
      .status {
        background: $cor2;
        color: $cor1;
      }
    } @else if $status == "unlock" or $status == "lock" or $status == "amanha" {
      background: $cor3;
      .date,
      .title {
        color: $cor5;
      }
      .status {
        background: $cor5;
        color: $cor3;
      }
    }

    .status {
      &::before {
        @if $status == "lock" {
          content: "EM BREVE";
        } @else if $status == "unlock" {
          content: "LIBERADA";
        } @else if $status == "destaque" {
          content: "HOJE!";
        } @else if $status == "amanha" {
          content: "AMANH\00c3";
        }
      }
    }
  }
}

.ly-0002 {
  &.barra-navegacao {
    overflow: unset;
    z-index: 100;
    margin-bottom: $margim-sections;
    background: degrade-color($cor6);
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 1px;
    box-shadow: 0px -14px 12px 6px $cor2;
    @include breakpoint(tablet-regular-land) {
      padding-bottom: $margim-titulo;
      z-index: -1;
    }

    padding: 20px 1.5vw;
    //min-height: 6vh;
    *,
    & {
      font-size: 16px;
      @include breakpoint(tablet-regular-land) {
        font-size: 22px;
      }
      @include breakpoint(desktop-small) {
        font-size: 24px;
      }
      @include breakpoint(desktop-regular) {
        font-size: 28px;
      }
      @include breakpoint(desktop-large) {
        font-size: 33px;
      }
    }
    .dropdown-divider {
      margin: 0;
    }

    .titulo {
      text-align: center;
      font-family: "Ralewey", sans-serif;
      @include breakpoint(tablet-regular-land) {
        padding: 3vh 0 1vh;
      }
      span {
        font-size: 13px;
        color: $cor2;
        font-weight: bold;
        @include breakpoint(tablet-regular-land) {
          /* color: $cor1; */
        }

        &.main-title {
          font-size: 1.75em;
        }
        &.sub-title {
          font-size: 1.29em;
        }
      }
    }
    hr {
      margin: 4px auto;
      border-color: rgba(0, 0, 0, 0.5);
    }
    a {
      color: $cor1;
      font-weight: bold;
    }
    .menu-aulas {
      text-align: center;
      margin: 20px 10px 10px;
      @include breakpoint(tablet-regular-land) {
        display: none;
      }
    }
    .btn.dropdown-toggle {
      width: 90%;
      max-width: 300px;
    }
    .dropdown-menu {
      button {
        width: 100%;
        text-align: left;
        background: transparent;
        border: solid rgba(0, 0, 0, 0.1);
        border-width: 0 0 1px;
        padding: 5px 20px;
      }
      .dropdown-item {
        &:last-child {
          //border: 0;
        }
      }
    }
  }

  &.video {
    padding: 0 3vw;
    @include breakpoint(tablet-regular-land) {
      margin-top: (-1 * $margim-titulo);
      padding: 0 10vw;
    }
  }
  .carousel-container {
    text-align: center;
    padding: 0 5vw 0;
    @include breakpoint(tablet-regular-land) {
      padding: 0;
    }

    .carousel-cell {
      background: #acacac;
      width: 100%;
      @include aspect-ratio(16, 9);
    }
    .carousel {
      width: 100%;
      padding-bottom: 0;
    }
  }
  .lista-aula {
    font-family: "Raleway", "sans-serif";
    display: none;
    @include breakpoint(tablet-regular-land) {
      display: flex;
    }
    flex-direction: column;
    justify-content: center;

    a {
      @include size(100%, 100% / 3);
      button {
        @include size(100%);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        line-height: 1.2em;

        span {
          font-size: 13px;
          @include breakpoint(tablet-large-land) {
            font-size: 17px;
          }
          @include breakpoint(desktop-regular) {
            font-size: 20px;
          }
          @include breakpoint(desktop-large) {
            font-size: 27px;
          }
        }

        .status {
          position: absolute;
          top: 10%;
          width: 70%;
          padding: 2px 10px;
          @include breakpoint(tablet-large-land){padding: 4px 10px;}
          @include breakpoint(desktop-small){padding: 6px 10px;}
          @include breakpoint(desktop-large){padding: 12px 10px;}
          font-weight: bold;
          text-decoration: underline;
        }
        .title,
        .date {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 0;
          line-height: 1.2em;
        }
        .date {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }

    &.lado-01 {
      button {
        align-items: flex-end;
        text-align: right;
      }

      .status {
        left: 0;
        text-align: right;
      }
    }
    &.lado-02 {
      button {
        align-items: flex-start;
        text-align: left;
      }

      .status {
        right: 0;
        text-align: left;
      }
    }

    a.aula-02,
    a.aula-05 {
      margin: 2px 0;
      @include breakpoint(desktop-small) {
        margin: 4px 0;
      }
      @include breakpoint(desktop-regular) {
        margin: 6px 0;
      }
      @include breakpoint(desktop-large) {
        margin: 8px 0;
      }
    }
  }

  &.comentarios {
    //background: #ffffff;
    padding: 0 3vw;
    @include breakpoint(tablet-regular-land) {
      padding: 0 10vw;
    }
    margin-top: $margim-sections;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
}
html {
  scroll-behavior: smooth;
}
footer {
  background: degrade-color($cor6) !important;
  li {
    list-style: none;
  }
  a {
    color: white;
  }
}

@include libera-aula("01", "unlock");
@include libera-aula("02", "unlock");
@include libera-aula("03", "destaque");
@include libera-aula("04", "amanha");
@include libera-aula("05", "lock");
@include libera-aula("06", "lock");
