//@import "../../../../lib/bootstrap/4.3.1/scss/bootstrap.scss/";
@import "../../../../lib/flickity/v2/css/flickity.scss";



.ly-0002 {
  .carousel-container {
    text-align: center;
    .carousel-cell {
      width: 100%;
      iframe{width: 100%}
    }
    .carousel {
      width: 100%;
    }
  }
}
