@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


.pn-prod-descricao {
    font-size: 16px;

    p {
        font-size: 1.3em;
        margin: 0.6em 0;
        color: #0B0B0B;
        font-family: 'Roboto';
        line-height: 1.2em;
    }
}