@import "../../lib/sushi-framework/functionalities/mixings/breakpoint/v00002";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


.pn-prod-descricao {
    font-size: 16px;

    p,
    b {
        //color: #0B0B0B;
        font-family: 'Roboto';
    }

    p {
        font-size: 1.3em;
        line-height: 1.2em;
        margin: 0.6em 0;
        padding: 0 15px
    }
}