.outer-container {
  max-width: 900px;
  margin: 0 auto; }

.container {
  max-width: 900px;
  margin: 0 auto; }

.container-fluid {
  width: 100%;
  margin: 0 auto; }
  .container-fluid > .row {
    margin: 0; }

.row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center; }
  .row::after {
    content: "";
    clear: both;
    display: table; }

.col-16 {
  width: calc(100% - 20px); }

.col-15 {
  width: calc(93.75% - 20px); }

.col-14 {
  width: calc(87.5% - 20px); }

.col-13 {
  width: calc(81.25% - 20px); }

.col-12 {
  width: calc(75% - 20px); }

.col-11 {
  width: calc(68.75% - 20px); }

.col-10 {
  width: calc(62.5% - 20px); }

.col-9 {
  width: calc(56.25% - 20px); }

.col-8 {
  width: calc(50% - 20px); }

.col-7 {
  width: calc(43.75% - 20px); }

.col-6 {
  width: calc(37.5% - 20px); }

.col-5 {
  width: calc(31.25% - 20px); }

.col-4 {
  width: calc(25% - 20px); }

.col-3 {
  width: calc(18.75% - 20px); }

.col-2 {
  width: calc(12.5% - 20px); }

.col-1 {
  width: calc(6.25% - 20px); }

.col-16, .col-15, .col-14, .col-13, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  margin: 0 10px;
  float: left; }

html {
  scroll-behavior: smooth; }

.pn-outer-container {
  max-width: 1500px;
  margin: 0 auto; }

.pn-container {
  max-width: 1500px;
  margin: 0 auto; }

.pn-container-fluid {
  width: 100%;
  margin: 0 auto;
  max-width: 2250px;
  /*aqui*/ }
  .pn-container-fluid > .pn-row {
    margin: 0; }

.pn-row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center; }
  .pn-row::after {
    content: "";
    clear: both;
    display: table; }

.pn-col-0 {
  width: 0; }

.pn-col-16 {
  width: calc(100% - 20px); }

.pn-col-15 {
  width: calc(93.75% - 20px); }

.pn-col-14 {
  width: calc(87.5% - 20px); }

.pn-col-13 {
  width: calc(81.25% - 20px); }

.pn-col-12 {
  width: calc(75% - 20px); }

.pn-col-11 {
  width: calc(68.75% - 20px); }

.pn-col-10 {
  width: calc(62.5% - 20px); }

.pn-col-9 {
  width: calc(56.25% - 20px); }

.pn-col-8 {
  width: calc(50% - 20px); }

.pn-col-7 {
  width: calc(43.75% - 20px); }

.pn-col-6 {
  width: calc(37.5% - 20px); }

.pn-col-5 {
  width: calc(31.25% - 20px); }

.pn-col-4 {
  width: calc(25% - 20px); }

.pn-col-3 {
  width: calc(18.75% - 20px); }

.pn-col-2 {
  width: calc(12.5% - 20px); }

.pn-col-1 {
  width: calc(6.25% - 20px); }

.pn-col-16, .pn-col-15, .pn-col-14, .pn-col-13, .pn-col-12, .pn-col-11, .pn-col-10, .pn-col-9, .pn-col-8, .pn-col-7, .pn-col-6, .pn-col-5, .pn-col-4, .pn-col-3, .pn-col-2, .pn-col-1 {
  margin: 0 10px;
  float: left; }

@media only screen and (orientation: landscape) and (min-width: 853px) {
  .pn-outer-container {
    max-width: 1500px;
    margin: 0 auto; }

  .pn-container {
    max-width: 1500px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto;
    max-width: 2250px;
    /*aqui*/ }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-0-mobile {
    width: 0; }

  .pn-col-16-mobile {
    width: calc(100% - 20px); }

  .pn-col-15-mobile {
    width: calc(93.75% - 20px); }

  .pn-col-14-mobile {
    width: calc(87.5% - 20px); }

  .pn-col-13-mobile {
    width: calc(81.25% - 20px); }

  .pn-col-12-mobile {
    width: calc(75% - 20px); }

  .pn-col-11-mobile {
    width: calc(68.75% - 20px); }

  .pn-col-10-mobile {
    width: calc(62.5% - 20px); }

  .pn-col-9-mobile {
    width: calc(56.25% - 20px); }

  .pn-col-8-mobile {
    width: calc(50% - 20px); }

  .pn-col-7-mobile {
    width: calc(43.75% - 20px); }

  .pn-col-6-mobile {
    width: calc(37.5% - 20px); }

  .pn-col-5-mobile {
    width: calc(31.25% - 20px); }

  .pn-col-4-mobile {
    width: calc(25% - 20px); }

  .pn-col-3-mobile {
    width: calc(18.75% - 20px); }

  .pn-col-2-mobile {
    width: calc(12.5% - 20px); }

  .pn-col-1-mobile {
    width: calc(6.25% - 20px); }

  .pn-col-16-mobile, .pn-col-15-mobile, .pn-col-14-mobile, .pn-col-13-mobile, .pn-col-12-mobile, .pn-col-11-mobile, .pn-col-10-mobile, .pn-col-9-mobile, .pn-col-8-mobile, .pn-col-7-mobile, .pn-col-6-mobile, .pn-col-5-mobile, .pn-col-4-mobile, .pn-col-3-mobile, .pn-col-2-mobile, .pn-col-1-mobile {
    margin: 0 10px;
    float: left; } }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .pn-outer-container {
    max-width: 1500px;
    margin: 0 auto; }

  .pn-container {
    max-width: 1500px;
    margin: 0 auto; }

  .pn-container-fluid {
    width: 100%;
    margin: 0 auto;
    max-width: 2250px;
    /*aqui*/ }
    .pn-container-fluid > .pn-row {
      margin: 0; }

  .pn-row {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; }
    .pn-row::after {
      content: "";
      clear: both;
      display: table; }

  .pn-col-0-tablet {
    width: 0; }

  .pn-col-16-tablet {
    width: calc(100% - 20px); }

  .pn-col-15-tablet {
    width: calc(93.75% - 20px); }

  .pn-col-14-tablet {
    width: calc(87.5% - 20px); }

  .pn-col-13-tablet {
    width: calc(81.25% - 20px); }

  .pn-col-12-tablet {
    width: calc(75% - 20px); }

  .pn-col-11-tablet {
    width: calc(68.75% - 20px); }

  .pn-col-10-tablet {
    width: calc(62.5% - 20px); }

  .pn-col-9-tablet {
    width: calc(56.25% - 20px); }

  .pn-col-8-tablet {
    width: calc(50% - 20px); }

  .pn-col-7-tablet {
    width: calc(43.75% - 20px); }

  .pn-col-6-tablet {
    width: calc(37.5% - 20px); }

  .pn-col-5-tablet {
    width: calc(31.25% - 20px); }

  .pn-col-4-tablet {
    width: calc(25% - 20px); }

  .pn-col-3-tablet {
    width: calc(18.75% - 20px); }

  .pn-col-2-tablet {
    width: calc(12.5% - 20px); }

  .pn-col-1-tablet {
    width: calc(6.25% - 20px); }

  .pn-col-16-tablet, .pn-col-15-tablet, .pn-col-14-tablet, .pn-col-13-tablet, .pn-col-12-tablet, .pn-col-11-tablet, .pn-col-10-tablet, .pn-col-9-tablet, .pn-col-8-tablet, .pn-col-7-tablet, .pn-col-6-tablet, .pn-col-5-tablet, .pn-col-4-tablet, .pn-col-3-tablet, .pn-col-2-tablet, .pn-col-1-tablet {
    margin: 0 10px;
    float: left; } }
.ly-0002.barra-navegacao {
  max-width: 100vw;
  background: rgba(255, 118, 142, 0.34);
  overflow: unset;
  z-index: 100;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px;
  box-shadow: 0px -14px 12px 6px #ffffff;
  padding: 20px 1.5vw; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .ly-0002.barra-navegacao {
      padding-bottom: 15vh;
      z-index: -1;
      margin-bottom: -15vh; } }
  .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
    font-size: 16px; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
        font-size: 22px; } }
    @media only screen and (min-width: 1360px) {
      .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
        font-size: 24px; } }
    @media only screen and (min-width: 1600px) {
      .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
        font-size: 28px; } }
    @media only screen and (min-width: 1920px) {
      .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
        font-size: 33px; } }
  .ly-0002.barra-navegacao .titulo {
    text-align: center;
    font-family: "Raleway", sans-serif; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.barra-navegacao .titulo {
        padding: 3vh 0 1vh; } }
    .ly-0002.barra-navegacao .titulo span {
      font-size: 13px;
      font-weight: bold; }
      .ly-0002.barra-navegacao .titulo span.main-title {
        font-size: 1.75em; }
      .ly-0002.barra-navegacao .titulo span.sub-title {
        font-size: 1.29em; }
  .ly-0002.barra-navegacao hr {
    margin: 4px auto;
    border-color: rgba(0, 0, 0, 0.5); }
  .ly-0002.barra-navegacao a {
    font-weight: bold; }

.ly-0002.chamada {
  margin: 20px auto;
  font-size: 14px;
  padding: 0 3vw !important; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002.chamada {
      margin: 20px auto;
      padding: 0 10vw; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002.chamada .mobile {
      display: none; } }
  .ly-0002.chamada .desktop {
    display: none; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002.chamada .desktop {
        display: unset; } }
  .ly-0002.chamada .text {
    padding: 10px 3vw 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    text-align: left;
    border-radius: 0 0 5px 5px;
    font-size: 14px; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.chamada .text {
        border-radius: 3px; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .ly-0002.chamada .text {
        font-size: 16px; } }
    @media only screen and (min-width: 1600px) {
      .ly-0002.chamada .text {
        font-size: 20px; } }
    @media only screen and (min-width: 1920px) {
      .ly-0002.chamada .text {
        font-size: 27px; } }
    .ly-0002.chamada .text .chamada-span {
      padding: 10px;
      font-weight: bold;
      white-space: pre-wrap;
      margin: 0 0 10px -3vw;
      font-size: 0.9em;
      width: 70%;
      margin-bottom: 1.3em; }
      @media only screen and (orientation: portrait), (orientation: landscape) and (min-width: 853px) {
        .ly-0002.chamada .text .chamada-span {
          width: 90%; } }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        .ly-0002.chamada .text .chamada-span {
          font-size: 1em; } }
      .ly-0002.chamada .text .chamada-span h6 {
        font-weight: bold; }
  .ly-0002.chamada .bt {
    width: 70%;
    margin: 20px auto 0 !important; }
    .ly-0002.chamada .bt * {
      border-radius: 0px; }
    .ly-0002.chamada .bt button {
      font-weight: bold; }
  .ly-0002.chamada img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.chamada img {
        border-radius: 3px; } }

.ly-0002 .comentarios {
  padding: 0 3vw; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .ly-0002 .comentarios {
      padding: 0 0 0 3vw; } }

@keyframes reveal {
  0% {
    height: 0;
    opacity: 0; }
  100% {
    height: auto;
    opacity: 1; } }
@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
.ly-0002 .instagram-feed {
  padding: 0 3vw; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .ly-0002 .instagram-feed {
      padding: 0 3vw 0 0; } }
  .ly-0002 .instagram-feed h3 {
    text-align: center; }
  .ly-0002 .instagram-feed .post {
    border: 0;
    background-color: transparent; }
    .ly-0002 .instagram-feed .post.show {
      color: black;
      max-width: 450px;
      background-color: rgba(251, 251, 251, 0.95);
      padding: 16px 1px 30px;
      margin-bottom: 23px;
      position: relative;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      text-align: left;
      display: flex;
      flex-direction: column; }
      .ly-0002 .instagram-feed .post.show img {
        max-width: 100%; }
      .ly-0002 .instagram-feed .post.show .user-pic {
        max-width: 11%;
        border-radius: 50%;
        margin: 0 10px 5px;
        float: left; }
      .ly-0002 .instagram-feed .post.show .user-name,
      .ly-0002 .instagram-feed .post.show .user-location {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
        .ly-0002 .instagram-feed .post.show .user-name span,
        .ly-0002 .instagram-feed .post.show .user-location span {
          font-size: 1em; }
      .ly-0002 .instagram-feed .post.show .user-name {
        font-size: 14px;
        font-weight: bold; }
      .ly-0002 .instagram-feed .post.show .user-location {
        font-weight: bolder;
        font-size: 12px; }
      .ly-0002 .instagram-feed .post.show .post-text {
        padding: 5px 15px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        display: inline-block;
        font-weight: bolder; }
        .ly-0002 .instagram-feed .post.show .post-text .read-more {
          position: absolute;
          bottom: 10px;
          right: 10px;
          cursor: pointer;
          font-weight: bolder; }
          .ly-0002 .instagram-feed .post.show .post-text .read-more.hide {
            animation-name: hide;
            animation-duration: 1s;
            opacity: 0; }
        .ly-0002 .instagram-feed .post.show .post-text .end-text {
          display: none; }
          .ly-0002 .instagram-feed .post.show .post-text .end-text.show {
            animation-name: reveal;
            animation-duration: 2s;
            display: unset !important; }
        .ly-0002 .instagram-feed .post.show .post-text .dots.hidding {
          animation-name: hide;
          animation-duration: 1s;
          opacity: 0; }
        .ly-0002 .instagram-feed .post.show .post-text .dots.hide {
          display: none; }
        .ly-0002 .instagram-feed .post.show .post-text p {
          margin: 3px 0; }
      .ly-0002 .instagram-feed .post.show .user-bar {
        display: inline-block;
        width: 100%; }
        .ly-0002 .instagram-feed .post.show .user-bar a {
          text-decoration: none;
          color: #262626; }
          .ly-0002 .instagram-feed .post.show .user-bar a:hover {
            text-decoration: underline; }
        .ly-0002 .instagram-feed .post.show .user-bar div {
          display: inline-flex;
          flex-direction: column; }
      .ly-0002 .instagram-feed .post.show .post-media {
        position: relative; }
        .ly-0002 .instagram-feed .post.show .post-media .btn-play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
  .ly-0002 .instagram-feed > .pn-row {
    align-items: center;
    flex-direction: column; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002 .instagram-feed > .pn-row {
        align-items: flex-end; } }
  .ly-0002 .instagram-feed .carregar-mais {
    padding: 20px;
    text-align: center; }
    .ly-0002 .instagram-feed .carregar-mais .bt {
      margin: 10px auto;
      max-width: 200px;
      font-weight: bold; }
    .ly-0002 .instagram-feed .carregar-mais span {
      display: none; }
      .ly-0002 .instagram-feed .carregar-mais span.show {
        display: block; }

.ly-0002.link-chamada {
  display: none;
  justify-content: center; }
  .ly-0002.link-chamada.show {
    display: flex; }
  .ly-0002.link-chamada button {
    margin: 15px 0 0 0;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    box-shadow: 5px 5px #acacac; }

.ly-0002 .menu-aulas {
  text-align: center;
  margin: 20px 10px 10px; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .ly-0002 .menu-aulas {
      display: none; } }
  .ly-0002 .menu-aulas .dropdown-menu {
    display: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.85);
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20vh 3vw; }
    .ly-0002 .menu-aulas .dropdown-menu.show {
      display: flex !important; }
    .ly-0002 .menu-aulas .dropdown-menu .close {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 30px;
      width: 100%;
      text-align: right;
      position: fixed; }
    .ly-0002 .menu-aulas .dropdown-menu button {
      border: 0;
      width: 100%;
      text-align: left;
      border: solid rgba(0, 0, 0, 0.1);
      border-width: 0 0 1px;
      padding: 5px 20px; }

.bt {
  max-width: 300px;
  margin: 2%; }
  .bt .outer {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 33.3333333333%; }
    .bt .outer > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .bt .bg,
  .bt button {
    margin: 0 !important;
    width: calc(100% - 10px) !important;
    height: calc(100% - 10px) !important; }
  .bt .bg {
    position: absolute;
    background-color: pink;
    bottom: 0;
    right: 0; }
  .bt a {
    width: 100%;
    height: 100%; }
  .bt button {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    transition-duration: 0s;
    display: flex;
    justify-content: center; }
    .bt button:active {
      transition-duration: 5.5s;
      top: unset;
      left: unset;
      right: 5px;
      bottom: 5px; }

.ly-0002.aula-video {
  padding: 0;
  margin-top: 5vh; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .ly-0002.aula-video .pn-row {
      display: flex;
      justify-content: center; } }
  .ly-0002.aula-video .pn-row * {
    box-sizing: border-box;
    margin: 0; }
  .ly-0002.aula-video .lista-aula {
    display: none;
    margin: 0;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.aula-video .lista-aula {
        display: flex; } }
    .ly-0002.aula-video .lista-aula.lado-01 {
      padding-right: 3vw; }
      @media only screen and (min-width: 1360px) {
        .ly-0002.aula-video .lista-aula.lado-01 {
          padding-right: 1.5vw; } }
      .ly-0002.aula-video .lista-aula.lado-01 button {
        align-items: flex-end;
        text-align: right; }
      .ly-0002.aula-video .lista-aula.lado-01 .status {
        left: 0;
        text-align: right; }
    .ly-0002.aula-video .lista-aula.lado-02 {
      padding-left: 3vw; }
      @media only screen and (min-width: 1360px) {
        .ly-0002.aula-video .lista-aula.lado-02 {
          padding-left: 1.5vw; } }
      .ly-0002.aula-video .lista-aula.lado-02 button {
        align-items: flex-start;
        text-align: left; }
      .ly-0002.aula-video .lista-aula.lado-02 .status {
        right: 0;
        text-align: left; }
    .ly-0002.aula-video .lista-aula button {
      width: 100%;
      height: calc(100% / 3 - 4px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;
      line-height: 1.2em;
      border: 0;
      position: relative;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 13px;
      color: rgba(255, 255, 255, 0); }
      @media only screen and (orientation: landscape) and (min-width: 1280px) {
        .ly-0002.aula-video .lista-aula button {
          font-size: 17px; } }
      @media only screen and (min-width: 1600px) {
        .ly-0002.aula-video .lista-aula button {
          font-size: 20px; } }
      @media only screen and (min-width: 1920px) {
        .ly-0002.aula-video .lista-aula button {
          font-size: 27px; } }
    .ly-0002.aula-video .lista-aula .status {
      font-size: 0.9em;
      position: absolute;
      top: 10%;
      width: 70%;
      padding: 2px 10px;
      font-weight: bold;
      text-decoration: underline; }
      @media only screen and (orientation: landscape) and (min-width: 1280px) {
        .ly-0002.aula-video .lista-aula .status {
          padding: 4px 10px; } }
      @media only screen and (min-width: 1360px) {
        .ly-0002.aula-video .lista-aula .status {
          padding: 6px 10px; } }
      @media only screen and (min-width: 1920px) {
        .ly-0002.aula-video .lista-aula .status {
          padding: 12px 10px; } }
    .ly-0002.aula-video .lista-aula .title,
    .ly-0002.aula-video .lista-aula .date {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      line-height: 1.2em; }
    .ly-0002.aula-video .lista-aula .date {
      text-decoration: underline;
      font-weight: bold; }
  .ly-0002.aula-video .carousel-container {
    text-align: center;
    position: relative;
    padding: 0 5vw 0; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .ly-0002.aula-video .carousel-container {
        padding: 0 10px; } }
    .ly-0002.aula-video .carousel-container .carousel {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; }
    .ly-0002.aula-video .carousel-container .flickity-viewport {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 0 !important;
      padding-bottom: 56.25%; }
    .ly-0002.aula-video .carousel-container .flickity-slider {
      position: absolute;
      width: 100%;
      height: 100%; }
    .ly-0002.aula-video .carousel-container .carousel-cell {
      width: 100%;
      height: 100%; }
      .ly-0002.aula-video .carousel-container .carousel-cell .cell-inner {
        position: relative;
        width: 100%;
        height: 100%; }
      .ly-0002.aula-video .carousel-container .carousel-cell iframe,
      .ly-0002.aula-video .carousel-container .carousel-cell img {
        width: calc(100% - 2px);
        height: calc(100% - 1px); }

body {
  font-family: "Raleway", "sans-serif";
  margin: 0;
  padding: 0; }
  body.no-scrool {
    overflow: hidden; }

html {
  scroll-behavior: smooth; }

section {
  padding-top: unset;
  padding-bottom: unset; }

footer {
  max-width: unset !important;
  background: #000;
  color: #FBFBFB;
  padding: 20px 6vw;
  text-align: center;
  font-size: 1em; }
  footer span {
    display: inherit;
    margin-bottom: 20px;
    font-size: 0.85em; }
    footer span a {
      font-size: 1em; }
  footer .pn-logo {
    width: 100px;
    height: auto;
    margin: 20px auto; }
  footer .links ul,
  footer .social-media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  footer .links li {
    margin: 0 10px; }
  footer .social-media {
    margin: 10px 0; }
    footer .social-media img {
      width: 40px;
      height: auto;
      margin: 0 5px; }

.mg-top-4vh {
  margin-top: 4vh;
  margin-bottom: 4vh; }
