&.header-curso{
    @extend %size-full-width;
    @extend %font-size;

    //display: table;

    @include breakpoint-up(tablet-regular-land){
        @include size(100vw, 100vh);
    }
    @include breakpoint-up(desktop-small){overflow: hidden}

    .mobile{
        position: relative;
        @include breakpoint-up(tablet-regular-land){position: unset;}
        @include size(100vw, calc(100vh - 60px));
        #know-more{
            position: absolute;
            height: 100px;
            bottom: 0;
        }
    }
    .bg-color{
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%);
        @include breakpoint-up(tablet-large-land){
            @include size(((100 - $white-space) * 1%), 100%);
            border-radius: 0 0 #{$bg-color-border-radius} 0;
        }
    }
    .bg-image{
        @include size(100%);
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        @include breakpoint-up(tablet-regular-land){display: none;}
    } 
    .titulo-container{
        font-size: 13px !important;
        @include size(1%, calc(100vh - 100px));
        @include breakpoint-up(tablet-regular-land){@include size($containers-size, unset);}
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: $size-know-more-height;
        color: $c-white;
        //font-size: 1em;
        padding: 0 10%;
        @include breakpoint-up(landscape){
            padding-left: 70px;
            padding-right: 65px;
        }
        @include breakpoint-up(mobile-small-land){
            padding: 0 90px;
        }


        @include breakpoint-up(tablet-regular-land){
            /*width: $containers-size;*/
            position: absolute;
            padding: 0;
            padding-right: 10%;
            top: ($top-margin * 1%);
            left: ($border-margin * 1%);
            border-top: $borda-legenda solid $c-white;

        }

        span.legenda{    
            display: none;
            @include breakpoint-up(tablet-regular-land){display: unset};
            padding: 3px 20px;
            border: 1px solid $c-white;
            padding: 3px 20px;
            position: absolute;
            top: 0;
            left: 0;
            border-width: 0px $borda-legenda $borda-legenda $borda-legenda;
            font-size: $size-h3 + em;

        }
        h1{
            @include breakpoint-up(mobile-small-land, mobile-small-portrait){margin-top: 1em;}
            @include breakpoint-up(tablet-regular-land){margin-top: 30%;}
        }
        .bt.buy{
            text-align: center;
            max-width: 200px;
            margin: 0 auto;
            @include breakpoint-up(mobile-small-portrait, mobile-regular-land){margin: 2em auto 0;}
        }
    }
    .cta-container{
        @include font-family(2);

        position: relative;        
        @include breakpoint-up(tablet-regular-land){position: absolute; bottom: 0}

        margin-top: 60px;
        @include breakpoint-up(tablet-regular-land){margin: 0}

        width: 100%;
        @include breakpoint-up(tablet-regular-land){
            display: flex;
            padding-left: 10px;
        }
        @include breakpoint-up(tablet-large-land){
            width: (100 - $white-space * 1%);
            padding-left: 6vw;
        }
        @include breakpoint-up(desktop-small){height: 20vh}

        .cta{
            margin-bottom: 20px;
            @include breakpoint-up(tablet-regular-land){margin-bottom: 0;}

            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;



            @include breakpoint-up(mobile-regular-land){
                display: flex;
                justify-content: center;
                //flex-direction: column;
                flex-basis: 0;
                flex: 1 1 0;
            }
            @include breakpoint-up(tablet-regular-land){flex-direction: column;}
            @include breakpoint-up(desktop-small){
                position: relative;
            }
        }
        @include breakpoint-up(desktop-small){
            .cta{
                .icon img{}
            }
            .cta:hover{
                $time-img: 0.5s;
                //$time:($time-img * 2);
                $time:1s;
                .icon img{                        
                    -webkit-transition: height $time-img;
                    transition: height $time-img;
                    height: 0; 
                }
                .descricao{
                    height: unset !important;
                    display: contents;
                }
            }
        }
        .cta.buy{
            margin-top: 50px;
            @include breakpoint-up(tablet-regular-land){margin-top: 0;}
            flex-direction: column;
            .icon{flex-direction: column;}
            .bt{
                max-width: 250px;
                margin: 0 auto;
                @include breakpoint-up(tablet-regular-land){display: none}
            }
        }
        .cta:first-child{
            @include breakpoint-up(desktop-small){

                border-radius: #{$bg-color-border-radius} 0 0 0;
                background-position: right;

            }
        }
        .cta:last-child{
            @include breakpoint-up(desktop-small){

                border-radius: 0 #{$bg-color-border-radius} #{$bg-color-border-radius} 0;
                background-position: left;

            }
        }
        .icon{
            display: flex;
            flex-direction: column;
            @include breakpoint-up(tablet-regular-land){display: inline; text-align: center;}
            margin-bottom: 5px;

            @include breakpoint-up(desktop-small){display: flex; margin-bottom: 0;}

            img{
                height: 100px;
                @include breakpoint-up(tablet-regular-land){
                    height: 50px;
                }
                margin: 0 20px;
            }
            h4{
                align-self: center;
                text-align: center;
                flex-grow: 1;
            }
        }
        .descricao{
            padding: 3px 6%;
            @include breakpoint-up(tablet-regular-land){padding: 0;}
            text-align: center;
            align-self: center;
            @include breakpoint-up(mobile-regular-land){width: 70%;}
            @include breakpoint-up(tablet-regular-land){width: 100%;}
            p{font-size: $size-h5 + em;}

            @include breakpoint-up(desktop-small){
                height: 0;
                overflow: hidden;
                p{
                    font-size: $size-h6 + em;
                    padding: 0 10px;
                }
            }
        }
    }

    .know-more{
        @include breakpoint-up(tablet-regular-land){display: none;}
    }
    .video-outer{
        padding: 0 5% 20px;
        @include breakpoint-up(landscape){
            padding: 0 15% 20px;
        }

        @include breakpoint-up(tablet-regular-land){
            width: $containers-size + 5%;
            position: absolute;
            padding: 0;
            top: ($top-margin * 1%);
            right: ($border-margin * 1%);
        }
    }
}