.pagina-venda{
    //$cta-height: 20%;
    $white-space: 35;
    $white-space-tablet: 20%;
    $espacamento-tablet: 17%;
    $espacamento: 10%; 
    $video: 50%;
    $preenchimento-about: 10%;
    $cor-curso-dev: #fbb03b; 

    $borda-legenda: 3px;

    $bg-color-border-radius: 0;




    $top-margin: 17; 
    $border-margin: $white-space / 3;
    $containers-size: ((100 - ($border-margin * 2)) / 2) * 1%;

    @import "_header.scss";
    @import "_conteudo.scss";
    @import "_aulas.scss";
    
    //dont-colapse
    @include breakpoint-up(tablet-regular-land) {
        .dont-collapse.collapse {
            display: block;
            height: auto !important;
            visibility: visible;
        }
        .dont-collapse.collapsing{
            position: relative;
            height: unset !important;
            overflow: hidden;
        }

    }
}




/*
    - Rastro com tamanho igual o bg color
    - Adicionar cor no fundo das aulas (Utilizar cinza OU uma cor muito clara do curso?)

    - Estabelecer outras cores para o curso(Primaria, secudaria, terciaria etc)

    DESKTOP:
        - Adicionar margim esquerda na etapa NAO selecionada
        - Acrescentar preenchimento no titulo de etapas
        - Corrigir padding no conteudo e nas aulas
            - Conteudo: 0 6vw 0 6vw
            - Aulas:
                - MARGIM-LEFT na etapa: não selecionada 6vw left / selecionada 1vw        
*/