.pagina-venda{
    //$cta-height: 20%;
    $white-space: 35;
    $white-space-tablet: 20%;
    $espacamento-tablet: 17%;
    $espacamento: 10%; 
    $video: 50%;
    $preenchimento-about: 10%;
    $cor-curso-dev: #fbb03b; 

    $borda-legenda: 3px;

    $bg-color-border-radius: 0;




    $top-margin: 17; 
    $border-margin: $white-space / 3;
    $containers-size: ((100 - ($border-margin * 2)) / 2) * 1%;



    &.header-curso{
        @extend %size-full-width;
        @extend %font-size;

        //display: table;

        @include breakpoint-up(tablet-regular-land){
            @include size(100vw, 100vh);
        }
        .mobile{
            position: relative;
            @include breakpoint-up(tablet-regular-land){position: unset;}
            @include size(100vw, calc(100vh - 60px));
        }
        .bg-color{
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            @include breakpoint-up(tablet-large-land){
                @include size(((100 - $white-space) * 1%), 100%);
                border-radius: 0 0 #{$bg-color-border-radius} 0;
            }
        }
        .bg-image{
            @include size(100%);
            position: absolute;
            background-size: cover;
            top: 0;
            left: 0;
            @include breakpoint-up(tablet-regular-land){display: none;}
        } 
        .titulo-container{
            font-size: 13px !important;
            @include size(1%, calc(100vh - 100px));
            @include breakpoint-up(tablet-regular-land){@include size($containers-size, unset);}
            position: relative;
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: $size-know-more-height;
            color: $c-white;
            font-size: 1em;
            padding: 10%;
            @include breakpoint-up(tablet-regular-land){
                /*width: $containers-size;*/
                position: absolute;
                padding: 0;
                padding-right: 10%;
                top: ($top-margin * 1%);
                left: ($border-margin * 1%);
                border-top: $borda-legenda solid $c-white;

            }

            span.legenda{    
                display: none;
                @include breakpoint-up(tablet-regular-land){display: unset};
                padding: 3px 20px;
                border: 1px solid $c-white;
                padding: 3px 20px;
                position: absolute;
                top: 0;
                left: 0;
                border-width: 0px $borda-legenda $borda-legenda $borda-legenda;
                font-size: $size-h3 + em;

            }
            h1{
                margin-top: 1em;
                @include breakpoint-up(tablet-regular-land){margin-top: 30%;}
            }
            .bt.buy{
                text-align: center;
                max-width: 200px;
                @include breakpoint-up(portrait, mobile-regular){margin: 2em auto 0;}
            }
        }
        .cta-container{
            @include font-family(2);

            position: relative;        
            @include breakpoint-up(tablet-regular-land){position: absolute; bottom: 0}

            margin-top: 60px;
            @include breakpoint-up(tablet-regular-land){margin: 0}

            width: 100%;
            @include breakpoint-up(tablet-regular-land){
                display: flex;
                padding-left: 10px;
            }
            @include breakpoint-up(tablet-large-land){
                width: (100 - $white-space * 1%);
                padding-left: 6vw;
            }
            @include breakpoint-up(desktop-small){height: 20vh}

            .cta{
                margin-bottom: 20px;
                @include breakpoint-up(tablet-regular-land){margin-bottom: 0;}

                @include breakpoint-up(mobile-regular-land){
                    display: flex;
                    justify-content: center;
                    //flex-direction: column;
                    flex-basis: 0;
                    flex: 1 1 0;
                }
                @include breakpoint-up(tablet-regular-land){flex-direction: column;}
                @include breakpoint-up(desktop-small){
                    position: relative;
                }
                &:hover .descricao{
                    @include breakpoint-up(desktop-small){
                        transform: translate(0,0);
                    }
                }
            }
            .cta.buy{
                margin-top: 50px;
                @include breakpoint-up(tablet-regular-land){margin-top: 0;}
                //flex-direction: column;
                //.icon{flex-direction: column;}
                .bt{
                    max-width: 250px;
                    margin: 0 auto;
                    @include breakpoint-up(tablet-regular-land){display: none}
                }
            }
            .cta:first-child{
                @include breakpoint-up(desktop-small){
                    .descricao{
                        border-radius: #{$bg-color-border-radius} 0 0 0;
                        background-position: right;
                    }
                }
            }
            .cta:last-child{
                @include breakpoint-up(desktop-small){
                    .descricao{
                        border-radius: 0 #{$bg-color-border-radius} #{$bg-color-border-radius} 0;
                        background-position: left;
                    }
                }
            }
            .icon{
                display: flex;
                flex-direction: column;
                @include breakpoint-up(tablet-regular-land){display: inline; text-align: center;}
                margin-bottom: 5px;

                img{
                    height: 100px;
                    @include breakpoint-up(tablet-regular-land){
                        height: 50px;
                    }
                    margin: 0 20px;
                }
                h4{
                    align-self: center;
                    text-align: center;
                    flex-grow: 1;
                }
            }
            .descricao{
                padding: 3px 6%;
                @include breakpoint-up(tablet-regular-land){padding: 0;}
                text-align: center;
                align-self: center;
                @include breakpoint-up(mobile-regular-land){width: 70%;}
                @include breakpoint-up(tablet-regular-land){width: 100%;}
                p{font-size: $size-h5 + em;}

                @include breakpoint-up(desktop-small){
                    position: absolute;
                    @include size(100%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: translate(0, 100%);
                    transition: transform 300ms linear;
                }
            }
        }

        .know-more{
            @include breakpoint-up(tablet-regular-land){display: none;}
        }
        .video-outer{
            padding: 0 5% 20px;
            @include breakpoint-up(landscape){
                padding: 0 15% 20px;
            }

            @include breakpoint-up(tablet-regular-land){
                width: $containers-size + 5%;
                position: absolute;
                padding: 0;
                top: ($top-margin * 1%);
                right: ($border-margin * 1%);
            }
        }
    }
    &.conteudo-curso{
        @extend %size-full-width;
        @extend %font-size;
        //@extend %margim-vertical-section;

        color: $c-black;
        padding: 0 10px;
        @include breakpoint-up(mobile-regular-land){display: flex}
        .content,.aulas accordion{
            @include breakpoint-up(mobile-regular-land){float: left}
        }

        @include breakpoint-up(tablet-regular-land) {
            .dont-collapse.collapse {
                display: block;
                height: auto !important;
                visibility: visible;
            }

            .dont-collapse.collapsing{
                position: relative;
                height: unset !important;
                overflow: hidden;
            }

        }

        h2{text-align: center}
        .content{
            width: 100%;   

            @include breakpoint-up(mobile-regular-land){width: (100% - ($white-space * 1%));}
            @include breakpoint-up(desktop-small){padding: 0 $preenchimento-about;}

            #mais-perguntas{
                .card-header{
                    text-align: center;
                    font-size: 20px;
                    &:not(.collapsed){
                        display: none;
                    }
                }
            }
        }
        .accordion{
            h2,h3{cursor: default;}
        }

        .aulas.accordion{
            width: 100%;
            @include breakpoint-up(mobile-regular-land){width:($white-space * 1%);}
        }
        .cartao{
            display: grid;
            margin-bottom: 20px;
        }      

        .cartao .header-aula .frame-aula{
            width: 150px;
            //display: inline-table;
            //background-color: black;
            float: left;
            background-size: cover;
            margin-right: 20px;

            display: none;
            @include breakpoint-up(mobile-small, mobile-small-land){display: inline-table;}

            //div{
            //@include aspect-ratio(16,9);
            //background-size: cover;
            //}
            img{width: 100%;}
        }
        .embed{
            @include aspect-ratio(16,9);
            iframe{

            }
        }

        .para-quem{
            display: flex;
            flex-wrap: wrap;

            @include breakpoint-up(landscape, mobile-regular){
                :nth-child(even) {
                    .texto{margin-right: 20px;}
                    img{order: 10;}
                }
                :nth-child(odd) {
                    .texto{margin-left: 20px;}
                }
            }

            .icon{
                width: 100%;        
                text-align: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                @include breakpoint-up(landscape, mobile-regular){flex-direction: row;}
                margin-bottom: 30px;
                img{@include size(100px, auto)}
            }
        }
    }
}