// Nome: Curso Online Basico

$curso-id: 'curso00002';
//$curso00002-color: #fbb03b;
$curso00002-color: $c-blue;
$curso00002-hero-image-desktop: loremImage(1920, 1080);;
$curso00002-hero-image-mobile: loremImage(1500, 600);
$curso00002-chamada-modal: loremImage(500, 300);
$curso00002-destaque: loremImage(500, 300);
$curso00002-lista-cursos: loremImage(700, 700);

@include curso-colors($curso-id, $curso00002-color);
 
@include home-carousel-img($curso-id, url(https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00002/banner_home.jpg));

@include curso-venda-bg-header(#curso00002, $curso00002-color);
@include curso-venda-bg-image('#curso00002', loremImage(2000, 1080));


@include curso-curriculo-img('#curso00002', '01', loremImage(500));
@include curso-curriculo-img('#curso00002', '02', loremImage(500));
@include curso-curriculo-img('#curso00002', '03', loremImage(500)); 
@include curso-curriculo-img('#curso00002', '04', loremImage(500));
@include curso-curriculo-img('#curso00002', '05', loremImage(500));
@include curso-curriculo-img('#curso00002', '06', loremImage(500));
@include curso-curriculo-img('#curso00002', '07', loremImage(500));
@include curso-curriculo-img('#curso00002', '08', loremImage(500));
@include curso-curriculo-img('#curso00002', '09', loremImage(500));
@include curso-curriculo-img('#curso00002', '10', loremImage(500));
@include curso-curriculo-img('#curso00002', '11', loremImage(500));
@include curso-curriculo-img('#curso00002', '12', loremImage(500));

@include curso-display-primeira-aula($curso-id, '01');
@include curso-display-primeira-aula($curso-id, '07');
@include curso-display-primeira-aula($curso-id, '10');

@include curso-venda-carousel-image($curso-id,'0001', loremImage(500));

@include cursos-cta-config($curso-id, 3);
@include cursos-cta-color($curso-id, $c-red-1,'01');
@include cursos-cta-color($curso-id, $c-blue,'02', $c-white);
@include curso-header-buttom($curso-id, invert($curso00002-color));


