section.ly-0002 {
    .bt {
        margin: 0 auto;
        .bg, button {
            @include size(calc(100% - 20px));
        }

        .outer {
            //@include aspect-ratio(509,113);
            //@include aspect-ratio(863,113);
       
        }

        //form button {margin-top: 0 !important;}
   
    }

    .underline {
        font-size: 1em;
    }
}
