.ly-0002 {
	font-size: 16px;
	color: $c-black;

	

	.underline {
		font-size: 1em;
	}

	.bt {
		margin: 0 auto !important;


		.bg,
		button {
			border-radius: 5px;
			font-weight: bold;

			@include size(100%);

			@include breakpoint-up(tablet-regular-portrait, tablet-regular-land) {
				@include size(calc(100% - 10px) !important);
			}
		}


	}
}