header.ly-0002.ty-page {
	height: unset !important;
	padding: 0;
	h1{
		font-size: ($size-h2 * 1em) !important;
	}
	h2{
		font-size: ($size-h4 * 1em) !important;
	}
}

.ly-0002.ty-page {

	&,
	* {
		font-size: 16px;
	}

	.video-container {
		margin: 0 0 5vh;
		width: 100%;
		padding: 0 6vw;
		max-width: 700px;

		.video-inner {
			@include aspect-ratio(16, 9);
		}
	}

	.social-media-cta img{
		width: 50%;
		max-width: 100px;
		min-width: 30px;

	}

}

/* 

.lp-ty-page.ly-0002 {
	

	&.pn-container{
		margin-bottom: 60px;
	}

	
	.share-icons{
		font-size: $size-h5 * 1em;
		img{
			@include size(50px)
		}
	}
	
}
 */