/*ESTE ARQUIVO SERA TOTALMENTE DESCONTINUADO E ADAPTADO PARA O NOVO CODIGO - este e um codigo legado*/

.f26.bold.mTop10.mBottom40, .f26.bold.mTop10.mBottom40 {
    font-family: bellota; color: #12484E !important
}/* Mudanca dos titulos da hotscool*/

.Negrito{
    font-weight: bold;
    font-weight: 700;
}

.ContainerInformativo{
    display: flex;
    align-items: center;
}


.Infobox, .InfoboxIMG{
    width: 47%;
    margin: 3%

}
div.Infobox{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 25px;
    border: 3px dashed #20588f;
}
.Infobox{
    font-family: 'opensans', sans-serif;
    color: #000000;
    font-size: 15px;
}

.InfoboxIMG img{
    width: 100%;
    border: 2px solid #20588f;
    border-radius: 10px;
}
.InfoboxIMG img:hover{
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	transition: transform 1.0s;
}

@media screen and (max-width: 999px){
	.InfoboxIMG img:hover{
		-ms-transform: unset !important;
		-webkit-transform: unset !important;
		transform: unset !important;
		transition: unset !important;
	}
}

span.IntroText{
	font-size: 15px;
    text-align: justify;
	margin: 0 10vw;
}
span.IntroText p{
	margin-bottom: 20px;
}




.TextoDestaque{
    font-weight: 700;
}

@media screen and (max-width: 799px){
    .ContainerInformativo{
        display: inline-block;

    }
    .Infobox, .InfoboxIMG{
        width: 74%;
        margin-top: 15px;
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media screen and (max-width: 400px){
    .ContainerInformativo{
        display: inline-block;

    }
    .Infobox, .InfoboxIMG{
        width: 100%;
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
    }
}


.conteinerInteriorCentralizado{
    text-align: center;
}
