<section class="lp-principal ly-0002" data-lp-id="ly-0002">
    <div class="legenda">modulo: carta</div>
    <div class="ly-0002 pn-container carta">
        <div class="pn-row">
            <div class="bg"></div>
            <div class="pn-container pn-col-15">
                <div class="pn-row">
                    <div class="pn-col-16 text-center">
                        <img src="https://panoxadrez.github.io/image/fotos_tia_lilia/old/tia_lili-01.jpg"
                            class="retrato">
                        <hr>
                    </div>
                    <div class="titulo pn-col-16 text-center">
                        <h2>
                            Conheça <b>Eliana Zerbinatti</b>
                        </h2>
                        <h3>
                            <b>Sua Professora e Designer!</b>
                        </h3>

                    </div>
                    <div class="pn-col-16 conteudo">
                        <p>Exemplo módulo de carta</p>
                        <p>Sou esposa, mãe e avó. Sou, também, designer e crafter apaixonada. Mas, acima de tudo, sou
                            cristã e grata a Deus pelo dom que ele me concedeu: ensinar e passar a outras pessoas os
                            conhecimentos que Ele também me conferiu.</p>
                        <p>Comecei minha vida artística dando aulas na cozinha da minha casa, há mais de 40 anos.
                            Ensinei tricô, crochê, bordados, culinária, pintura e patchwork. Como artesã, tive materiais
                            publicados em várias revistas no Brasil e no exterior, além de ter participado de inúmeros
                            programas de TV. Como empreendedora, fundei meu próprio ateliê em 2000 e idealizei, junto da
                            minha família e equipe, a loja virtual PanoXadrez.com.br.</p>
                        <p>Agora, como professora, eu convido você a participar de um curso online inédito e exclusivo,
                            em que apresentarei dezenas de dicas e truques que vão fazer você costurar MAIS e MELHOR!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>