<section class="lp-principal ly-0002" data-lp-id="ly-0002">
<div class="legenda">modulo: frase-destaque</div>
    <div class="pn-container-fluid  frase-destaque c-bg-01">
        <div class="bg-overlay"></div>
        <div class="pn-row">
            <div class="pn-col-16">
                <span class="frase-principal">Eu vou te mostrar o que nunca ninguém te contou sobre Costura e
                    Patchwork!</span>
                <hr>
                <span class="texto-secundario">Veja o que teremos nas aulas especiais:</span>
            </div>
        </div>
    </div>
</section>