<div class="pn-container-fluid texto-destaque">
    <div class="pn-row">
        <div class="pn-col-15">
            <div class="pn-row">
                <div class="pn-col-16 pn-col-8-mobile imagem">
                    <figure>
                        <img
                            src='https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/c_001-med.jpg' />
                    </figure>
                </div>
                <div class="pn-col-16 pn-col-8-mobile conteudo">
                    <h3>Tecidos: combinação, beleza e cuidados</h3>
                    <p>Ah, que delícia é só de olhar para os tecidos, não? Cada um mais lindo que o outro, nos
                        transmitindo diferentes sensações: nostalgia, aconchego, alegria... Mas e a escolha deles,
                        como faz? Como combinar tecidos para uma colcha, uma bolsa ou uma peça utilitária? E como
                        cuidar deles? Qualquer tecido pode ser usado? Essas e outras dúvida serão abordadas nas
                        nossas aulas!</p>
                </div>
            </div>
        </div>
        <div class="pn-container pn-col-15">
            <div class="pn-row">
                <hr>
            </div>
        </div>
    </div>
    <div class="pn-row">
        <div class="pn-col-15">
            <div class="pn-row">
                <div class="pn-col-16 pn-col-8-mobile conteudo">
                    <h3>Patchwork: tradição, capricho e técnica</h3>
                    <p>Cantinhos perfeitamente alinhados, sanduíches retinhos e trabalhos perfeitos é o que todos
                        desejamos, não é? Pois para que isso aconteça, sim, temos que ter certos cuidados e certos
                        procedimentos. Mas você sabe que para tudo existe uma técnica? Nas aulas vamos saber um
                        pouco sobre tradições, sobre o que faz a diferença na hora do corte e das costuras e
                        conferir detalhes no nosso ambiente de trabalho que fazem a diferença no resultado final.
                    </p>
                </div>
                <div class="pn-col-16 pn-col-8-mobile imagem">
                    <figure>
                        <img
                            src='https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/c_002-med.jpg' />
                    </figure>
                </div>
            </div>
        </div>
        <!-- <div class="pn-container pn-col-15">
                        <div class="pn-row">
                            <hr>
                        </div>
                    </div> -->
    </div>

</div>