<section class="lp-principal ly-0002" data-lp-id="ly-0002">
    <div class="legenda">modulo: chamada-lista</div>
    <div class="pn-container-fluid chamada-lista c-bg-02">
        <div class="pn-row">
            <div class="pn-container pn-col-16">
                <div class="pn-row">
                    <div class="pn-col-16 pn-col-5-tablet destaque">
                        <span class="destaque">E mais:</span>
                    </div>
                    <div class="pn-col-16 pn-col-11-tablet lista">
                        <ul>
                            <li>Como vencer o bloqueio criativo antes de criar uma peça</li>
                            <li>Dicas para precificar suas artes e vender sempre com lucro</li>
                            <li>Os melhores blocos para começar no Patchwork e Quilting</li>
                        </ul>
                        <b>ISSO TUDO E MAIS EM AULAS GRATUITAS, DO DIA 3 AO DIA 8 DE SETEMBRO. VAGAS LIMITADAS!
                            CADASTRE-SE NO BOTÃO ACIMA E NÃO PERCA NENHUM DETALHE.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>