<div class="pn-container depoimentos">
    <div class="pn-row">
        <div class="pn-col-16 texto-destaque">
            <h4>Depoimento de quem<br> já aprendeu com a <b>Tia Lili</b></h4>
        </div>
        <div class="pn-col-16" style="flex-wrap: wrap; display: flex;">
            <div class="pn-col-16 pn-col-8-tablet depoimento1">
                <div class="foto"></div>
                <div class="texto">
                    <div class="nome"></div>
                    <div class="depoimento"></div>
                </div>

            </div>
            <div class="pn-col-16 pn-col-8-tablet depoimento2">
                <div class="foto"></div>
                <div class="texto">
                    <div class="nome"></div>
                    <div class="depoimento"></div>
                </div>

            </div>
            <div class="pn-col-16 pn-col-8-tablet depoimento3">
                <div class="foto"></div>
                <div class="texto">
                    <div class="nome"></div>
                    <div class="depoimento"></div>
                </div>

            </div>
            <div class="pn-col-16 pn-col-8-tablet depoimento4">
                <div class="foto"></div>
                <div class="texto">
                    <div class="nome"></div>
                    <div class="depoimento"></div>
                </div>

            </div>
        </div>
    </div>
</div>