/*config geral*/

* {
    box-sizing: border-box;
}

section.ly-0002 {

    &,
    section {
        padding-top: 0;
        padding-bottom: 0;
    }
}


.ly-0002 {
    color: $c-black;



    &.conteudo-principal {
        font-size: 16px;

        @include font-family(2);

        .bt {
            margin: 0 auto !important;


            .bg,
            button {
                border-radius: 5px;
                font-weight: bold;

                @include size(100%);

                @include breakpoint-up(tablet-regular-portrait, tablet-regular-land) {
                    @include size(calc(100% - 10px) !important);
                }
            }


        }

        .underline {
            font-size: 1em;
        }
    }
}