/*Carousel default config*/
$knowmore-size: 45px;
//$carousel-control: 6%;


div.carousel-home{
    @extend %size-hero;

    //font-family: Calibri;
    font-family: Source Sans;
    margin-bottom: 60px;
    font-size: 100%;
    font-size: 16px;


    div.slide-0000{background-color: #b21f2d}
    div.slide-0001{background-color: #138496}
    div.slide-0002{background-color: #4a4a4a}
    div.slide-0003{background-color: #6d84b4}



    .flickity-viewport {
        height: 100% !important;
    }

    .flickity-page-dots {
        bottom: 110px;
        .dot{
            @include square(30px);
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(255, 255, 255);
            border-image: initial;
            &.is-selected{background-color: rgba(255, 255, 255, 1);}

        }
    }
    .carousel-cell{
        width: 100%; 
        height: 100%;                   
        margin-right: 0px;
        display: table;
    }
    div.cell-container{
        display: table-cell;
        vertical-align: bottom;
        padding: 10%;
    }
    div.cell-inner{
        @extend %font-size;
        background: rgba(201, 185, 162, 0.25);
        width: 50%;
        padding: 1% 3%;
        border-radius: 9px;
        color: #FBFBFB;
        
        > * {display: block;}
        
        button{
            font-size: 1.75em;
        }
    }
    h3{font-size: 2em;}
    span{font-size: 1.4em;}
    .knowmore{
        position: absolute;
  background: hsla(0, 0%, 0%, 0.3);
  z-index: 1;
  padding: 2px 20px;
  font-size: 26px;
  color: white;
  pointer-events: none;
    }
}