/*Carousel default config*/
$knowmore-size: 45px;
//$carousel-control: 6%;


div.carousel-home{
    @extend %size-hero;

    //font-family: Calibri;
    font-family: Source Sans;
    margin-bottom: 60px;
    font-size: 100%;
    font-size: 16px;


    div.slide-0000{background-color: #b21f2d}
    div.slide-0001{background-color: #138496}
    div.slide-0002{background-color: #4a4a4a}
    div.slide-0003{background-color: #6d84b4}

    .flickity-page-dots {
        bottom: 110px;
    }
    .carousel-cell{
        width: 100%; 
        height: 100%;                   
        margin-right: 0px;
        display: table;
        > div{
            display: table-cell;
            vertical-align: bottom;
            padding: 10%;
        }
    }
}