$c-branco: #fbfbfb;
$c-preto: #000000;
$c-vermelho1: #de554e;
$c-vermelho2: #a6012c;
$c-vermelho3: #ed6c44;
$c-bege: #d2c7a7;

$bg-desktop: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/lp04-header_bg-med.jpg";
$bg-mobile: $bg-desktop;
$bg-mobile-land: $bg-mobile;

@import "../../../../../../sushi-framework/functionalities/mixings/breakpoint/v00002";
@import "modules/form";

body {
  margin: 0;
  padding: 0;
}

header.home {
  .bg-overlay {
    display: none;
  }
  & {
    position: relative;
    color: $c-branco;
    background-color: $c-preto;
    background: $c-preto url($bg-mobile) top center no-repeat;
    background-size: 100% auto;
    z-index: 0;

    @include breakpoint(landscape) {
      background: $c-preto url($bg-mobile-land) top left no-repeat;
      background-size: contain;
    }

    @include breakpoint(mobile-regular-land) {
      background: $c-preto url($bg-desktop) top left no-repeat;

      //background-size: auto 100%;
      background-size: cover;
    }

    @include breakpoint(portrait) {
      .pn-container > div {
        background-color: transparent;
      }
    }
    background-attachment: fixed !important;
  }

  .main-title {
    &,
    h1 {
      $color: rgba(0, 0, 0, 0.2);
      color: $c-vermelho1 !important;
      text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color;
    }
  }
  .underline {
    $cor1: $c-vermelho3;
    $color2: rgba(0, 0, 0, 0.2);
    border-color: $cor1;
    color: $cor1;
    text-shadow: -1px 0 $color2, 0 1px $color2, 1px 0 $color2, 0 -1px $color2;
  }
}

.ty-page {
  .banner {
    padding: 5vh 0;
    img {
      max-width: 500px;
      width: 100%;
      border-radius: 5px;
    }
    .pn-col-16 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      font-size: 2em;
    }
  }
  .c-bg {
    background: rgba(128, 128, 128, 0.35);
  }
}

.frase-destaque {
  //.c-bg-01 {
  //background-image: url(https://raw.githubusercontent.com/panoxadrez/panoxadrez.github.io/master/quiltinbox.com.br/img/home/lp04-bg_static-med.jpg),url(https://panoxadrez.github.io/quiltinbox.com.br/img/home/lp04-bg_static-med.jpg);
  //background-position: center center;
  //background-attachment: fixed;
  //}

  .bt {
    max-width: 430px;
    button {
      font-size: 2.75em;
    }
  }
}

.bt {
  button {
    background-color: $c-bege;
  }
  .bg {
    background-color: $c-vermelho2;
  }
  button,
  .bg {
    border-radius: 5px !important;
  }
}
.carta {
  $cor1: $c-vermelho1;
  
  border-radius: 5px;
  hr {
    border-color: $cor1;
  }
  b {
    color: $cor1;
  }
}
.texto-destaque {
  hr {
    border-color: $c-vermelho2;
  }
}

.llformCustom {
  textarea {
    font-size: 1.29em;
    padding: 10px;
  }
}
