$c-branco: #fbfbfb;
$c-preto: #000000;
$c-verde: #7c8556;
$c-verde-aqua-1: #009395;
$c-verde-aqua-2: #009491;
$c-vermelho: #c64847;
$c-amarelo: #d49f1b;
$c-salmao: #f07148;
$c-bege: #d2c7a7;

$bg-desktop: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/lp04-header_bg-med.jpg";
$bg-mobile: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/n/land_03-mob_bg_02.jpg";
$bg-mobile-land: $bg-desktop;

@import "../../../../../../sushi-framework/functionalities/mixings/size/v00002";

@import "../../../../../../sushi-framework/functionalities/mixings/breakpoint/v00002";
@import "modules/form";

body {
  margin: 0;
  padding: 0;
}

header.home {
  .bg-overlay {
    display: none;
  }
  & {
    position: relative;
    color: $c-branco;
    background-color: $c-preto;
    background: $c-preto url($bg-mobile) top center no-repeat;
    background-size: 100% auto;
    z-index: 0;

    @include breakpoint(landscape) {
      background: $c-preto url($bg-mobile-land) top left no-repeat;
      background-size: cover;
    }

    @include breakpoint(mobile-regular-land) {
      background: $c-preto url($bg-desktop) top left no-repeat;

      //background-size: auto 100%;
      background-size: cover;
    }

    @include breakpoint(portrait) {
      background: $c-preto url($bg-mobile) top left no-repeat;
      background-size: cover;

      .pn-container > div {
        background-color: transparent;
      }
    }
    background-attachment: fixed !important;
  }

  .main-title {
    @include breakpoint(desktop-small) {
      margin: 20px 0 !important;
    }

    &,
    h1 {
      $color: rgba(0, 0, 0, 0.2);
      color: $c-vermelho !important;
      text-shadow: -1px 0 $color, 0 1px $color, 1px 0 $color, 0 -1px $color;
      br {
        @include breakpoint(tablet-regular-land) {
          display: none;
        }
      }
    }
  }
  .underline {
    //$cor1: $c-vermelho3;
    $color2: rgba(0, 0, 0, 0.2);
    border-color: $c-verde-aqua-1;
    //color: $cor1;
    text-shadow: -1px 0 $color2, 0 1px $color2, 1px 0 $color2, 0 -1px $color2;
  }
  .conteudo2 {
    font-size: 1.29em;
    font-weight: bold;
    padding: 0 4vw;

    @include breakpoint(mobile-xsmall-land) {
      padding: 0;
    }

    margin: 5px 0;

    @include breakpoint(tablet-regular) {
      padding: 0 10vw;
    }
    @include breakpoint(tablet-regular-land) {
      padding: 0;
    }

    br {
      @include breakpoint(mobile-xsmall-land) {
        display: none;
      }
      @include breakpoint(desktop-small) {
        display: block;
      }
    }
  }
}

.modal,
header.home {
  .bt {
    button {
      background-color: $c-vermelho;
      color: $c-branco;
    }
    .bg {
      background-color: $c-verde-aqua-1;
    }
  }
  button,
  .bg {
    @include size(calc(100% -15px));
  }
}

.modal {
  .modal-header {
    padding: 2.5vh 15%;
  }
  input {
    border-color: $c-vermelho !important;
    color: #585656 !important;
    font-weight: bold !important;

    &::placeholder {
      color: $c-vermelho;
      font-weight: normal;
    }
  }
}

.ty-page {
  .banner {
    padding: 5vh 0;
    img {
      max-width: 500px;
      width: 100%;
      border-radius: 5px;
    }
    .pn-col-16 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      font-size: 2em;
    }
  }
  .c-bg {
    background: rgba(128, 128, 128, 0.35);
  }
}

.frase-destaque {
  //.c-bg-01 {
  //background-image: url(https://raw.githubusercontent.com/panoxadrez/panoxadrez.github.io/master/quiltinbox.com.br/img/home/lp04-bg_static-med.jpg),url(https://panoxadrez.github.io/quiltinbox.com.br/img/home/lp04-bg_static-med.jpg);
  //background-position: center center;
  //background-attachment: fixed;
  //}

  .bt {
    max-width: 430px;
    button {
      font-size: 2.75em;
    }
  }
}

.bt {
  button {
    background-color: $c-vermelho;
    color: $c-branco;
  }
  &.c-01 .bg {
    background-color: $c-salmao;
  }
  &.c-02 .bg {
    background-color: $c-verde-aqua-2;
  }
  &.c-03 .bg {
    background-color: $c-verde;
  }
  button,
  .bg {
    border-radius: 5px !important;
  }
  .texto-destaque &,
  .frase-destaque & {
    button,
    .bg {
      @include size(calc(100% - 20px) !important);
    }
  }
}
.carta {
  $cor1: $c-vermelho;

  border-radius: 5px;
  hr {
    border-color: $cor1;
  }
  b {
    color: $cor1;
  }
}
.texto-destaque {
  hr {
    border-color: $c-vermelho;
  }
}
.lp-principal.ly-0002 .chamada-lista {
  background: #018b8f;
  color: $c-branco;
  margin-bottom: 0 !important;
}

.llformCustom {
  textarea {
    font-size: 1.29em;
    padding: 10px;
  }
}
.ly-0002:not(footer) a {
  font-size: 1em !important;
  text-decoration: underline;

  padding: 0 5px;
  border-radius: 5px;
  &:hover {
    text-decoration: underline;
    background: rgba(240, 113, 72, 0.2);
  }
}

form input {
  margin-bottom: 5px !important;
}
html {
  scroll-behavior: smooth;
}
