/*Carousel config*/
$knowmore-size: 45px;
$carousel-control: 6%;


div#carouselHome.carousel{
    @include size-hero;
    //font-family: Calibri;
    font-family: Source Sans;
    margin-bottom: 60px;
    font-size: 100%;
    font-size: 16px;

    @media #{$screen-desktop-regular}{font-size: 100%; font-size: 13px}
    @media #{$screen-tablets-regular}{font-size: 100%; font-size: 12px}
    @media #{$screen-cellphone-regular},#{$screen-cellphone-regular-landscape}{
        font-size: 100%; 
        font-size: 11px;
        height: calc(100vh - 50px)
    }



    .carousel-inner{height: 100%  !important;}
    div.carousel-item{
        width: 100%;
        height: 100% !important;
        background-size: cover;
        background-position: left top;
    }
    div.carousel-item-container{
        width: 35%;
        height: 35%;
        background-color: rgba(201, 185, 162, 0.25);
        border-radius: 0 25px 25px 0;
        top: 40%;
        position: absolute;
        padding-left: $carousel-control;
        padding-right: 20px;

        @media #{$screen-desktop-small}{
            top: 45%;
            width: 45%;
            height: 35%;
            padding: 5px 15px 5px $carousel-control;
        }

        @media #{$screen-tablets-regular}{
            height: auto;
            top: 50%;
        }

        @media #{$screen-portrait}{
            padding: 5px $carousel-control  !important;
            width: 100% !important;
            border-radius: 0;
            top: 60%;

            @media #{$screen-cellphone-regular}{
                top: 55%;
                height: auto;
            }
        }
        @media #{$screen-cellphone-xsmall}, #{$screen-cellphone-xsmall-landscape}{top:48%}


    }
    div.carousel-item-inner{
        position: relative;                
        width: 100%;
        height: 100%;
        padding: 10px 10px 0 0;
        text-align: justify;

        @media #{$screen-desktop-small}{
            padding: 0;
        }
        @media #{$screen-cellphone-regular}{
            position: relative;
        }

        

        h3{
            //font-size: 36px;
            //font-size: 1.14em;
            //font-size: 3.6em;                        
            font-size: 2em;                        
            color: #000000;
            text-align: left;
            margin-bottom: 15px;
            @media #{$screen-portrait}{text-align: center}
            color: 000000;
        }
        span{
            //font-size: 18px;
            // >> font-size: 1.8em;
            font-size: 1.4em;
            color: #FBFBFB;

            @media #{$screen-tablets-regular}{display: none;}
            @media #{$screen-cellphone-regular},#{$screen-cellphone-regular-landscape}{display: none}
        }
        

        //button
        div{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 3%;
            @media #{$screen-tablets-regular}{position: relative; display: inline-block}
            color: #FBFBFB;
            button{
                margin-bottom: 20px;
                display: inline-block;
                border: 0;
                color: #FFFFFF;
                background-color: #D71410;
                
                border-radius: 10px;
                width: 50%;
                padding: 7px 0;
                //font-size: 20px;
                font-size: 1.75em;
                @media #{$screen-portrait}{
                    //font-size: 1em;
                    width: 25%;
                    @media #{$screen-tablets-regular-portrait}{
                        //font-size: 0.7em;
                    }
                }
                @media #{$screen-desktop-small}{
                    width: 35%;
                    padding: 3px 0;
                    //font-size: 1.5em;
                }
                //@media #{$screen-tablets-regular}{font-size: 1.5em;}
            }
        }
    }
    a.auxiliar,
    a.auxiliar *{
        display: none;
        position: relative !important;
        background: none !important;
        font-size: 3.5em;
        color: #FFFFFF !important;
        position: inherit;

        @media #{$screen-cellphone-regular},#{$screen-cellphone-regular-landscape}{display: inline-block !important;}
        //@media #{$screen-cellphone-small}{font-size: 38px;}
        //@media #{$screen-cellphone-small-landscape}{font-size: 30px;}
    }
    div.carousel-indicators{
        //position: absolute;
        bottom: $knowmore-size;
        //background-color: white;
        height: 15%;
        width: 100%;
        left: 50vw;
        right: 50vw;
        margin: 0 -50%;
        padding: 0 3%;

        @media #{$screen-desktop-small}{
            div.carousel-indicators-container.active,
            div.carousel-indicators-container:hover
                {
                opacity: 1;
                background-color: #333 !important;
            }
        }
    }
    div.carousel-indicators-container{
        width: 30%;
        height: 100%;
        float: left;
        transform: skew(-5deg);
        transition: .5s ease;
        //filter: sepia(75%);
        position: relative;
        overflow: hidden;
        background: none !important;
        margin-left: -1px;

        @media #{$screen-desktop-small}{
            > *{display: none}

            //filter: sepia(0);
            background-image: none;

            $carousel-home-mini-icon-size: 25px;                
            width: $carousel-home-mini-icon-size;
            max-width: $carousel-home-mini-icon-size;
            height: $carousel-home-mini-icon-size;
            max-height: $carousel-home-mini-icon-size;

            margin-left: calc(#{$carousel-home-mini-icon-size} / 2);

            opacity: 0.55;
            background-color: white !important;
            border-radius: 100%;
        }

        div{
            //display: inline-block;
            width: 112%;
            transform: skew(5deg);
            left: -6%;
            right: -6%;
            padding: 0 6%;
            position: relative;
            &.bg{
                position: absolute;
                height: 100%;
                z-index: 2;
                top: 0;
                bottom: 0;
                filter: blur(1px);
                background-size: cover;
                background-position: center;  
                background-position: top center;
                background-repeat: no-repeat;
            }
            &.titulo{
                z-index: 3;
                //span{background-color: $cor-fundo-cursos-home-A72;}
                position: relative;
                height: 100%;
                div{
                    position: absolute;
                    bottom: 0;
                    text-align: left;
                    padding: 5px 12%;
                    color: white;
                    transform: skew(0);
                    font-family: Bellota
                }
            }

        }
        &.active{
            * { filter: blur(0) !important;}
        }







    }
    .knowmore{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: $knowmore-size;
        bottom: 0;
        /*opacity: 0.5;*/
        text-align: center;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.85) 75%, rgb(255, 255, 255) 100%);
        border: 0;
        margin: 0;
        padding: 0;
        z-index: 95;
        button{
            background-color: unset; 
            border: 0;
            margin: 0;
            padding: 0;
            span{
                position: absolute;
                animation: float-up-down 1s infinite alternate linear;

            }

        }
    }
    a.carousel-control-prev, 
    a.carousel-control-next{
        width: $carousel-control;
        transition: .5s ease;
    }
    a.carousel-control-prev:hover{background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%)}
    a.carousel-control-next:hover{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%)}
    a.carousel-control-prev:focus, a.carousel-control-next:focus{background: none;}
}
