/*Carousel config*/
$knowmore-size: 45px;
$carousel-control: 6%;


div#carouselHome{
    @include size-hero;
    
    //font-family: Calibri;
    font-family: Source Sans;
    margin-bottom: 60px;
    font-size: 100%;
    font-size: 16px;
}
