section.lp-header#LP000001 {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none;
    background-color: rgb(57, 20, 143)
}