//Examples
//Escurecer: darken( $color, X% )
//Adiciona preto para escurecer: shade( $base-color, 10% )

//Clarear: lighten( $color, X% )
//adiciona branco para clarear: tint( $base-color, 10% ) 
//saturate: ( $color, X% )
//desaturate( $color, X% )
//adiciona camada alpha/transforma em RGBA: rgba( $base-color, .7 )




//cores auxiliares
$home-cor-destaque: $cor-bege-dark-vanilla;

//config
$botoes-default-bg: $cor-vermelho-1;
$botoes-default-color: $cor-branco;

$botoes-claro-bg: $cor-branco;
$botoes-claro-color: $cor-preto;


//Cores Menu Hotscool
$menu-frontend-cor-principal: $cor-preto;
$menu-frontend-cor-secundaria: $cor-branco;