.ly-0002.link-chamada {
  display: none;
  justify-content: center;
  &.show {
    display: flex;
  }
  button {
    margin: 15px 0 0 0;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    box-shadow: 5px 5px rgb(172, 172, 172);
  }
}