/* Carta da tia Lili / ID: CartaTiaLili ========================================================================================= */
/* carta-da-tia-lili ================================================================================================================= */

div#CartaTiaLili p{
    text-align: justify;
    font-family: tahoma, arial, helvetica, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

div#CartaTiaLili p span.fonte1{
    font-size: 18pt;
    line-height: 1.42857143;
    font-weight: bold;
    font-weight: 700;
    
}
div#CartaTiaLili p span.fonte2{
    line-height: 1.42857143;
    font-size: 16pt; 
    
}
div#CartaTiaLili p span.fonte3{
    font-size: 14pt;
}