@mixin botao-fundo-branco{color: #FBFBFB;background-color: #de554e;}
@mixin botao-fundo-vermelho{color: #1A4057;background-color: #FBFBFB;}

div.divisoria{
    margin: 35px 0;
    display: inline-block;
}
h1, h2, h3,h4, h5, h6{font-family: 'Montserrat', sans-serif;}
//p{font-family: 'Roboto', sans-serif;}

div.header-container, 
div.texto-bio,
div.form-container{
    &, div{
        font-size: 100%;
        font-size: 16px;
    }
}

@mixin full-width{
    position: relative;
    width: 100vw;

    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

div.menu-fixo{
    @include full-width;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
}

div.header-container{
    @include full-width;
    height: 100vh;
    //background-image: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");
    background-image: url("https://panoxadrez.github.io/img/leadlovers/belasprendasdolar.com.br/img000001.png");
    @media screen and (orientation: portrait){
        background-image: none;
        background-image: linear-gradient(45deg, rgba(138, 31, 39, 1), rgba(229, 107, 102, 1));
    }

    background-size: cover;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: bottom center;
    text-align: center;

    > a button{
        @include botao-fundo-branco;
        padding-top: 12px;
        border-radius: 25px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8%;
        font-size: 1em;
        font-weight: 700;
        color: #FBFBFB;
        background-color: #de554e;
        padding: 9px 15px;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 73%;
        left: 68%;
        width: 20%;
        @media screen and (orientation: portrait){display: none;}


    }

    div.titulo{
        //height: 70%; display: inline-block;
        width: 70%;
        position: relative;        
        display: none;
        padding-top: 3vh;
        @media screen and (orientation: portrait){display: inline-block;}

        div.texto{
          //  float: left;width: 70%;position: absolute;bottom: 0;padding-bottom: 15vh;
        }
        img{
            width: 100%;
            //float: left; position: absolute; bottom: 0; right: 0;
        }
        h1{
            font-size: 2.38em;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
        }

        h3{
            font-size: 1.50em; 
            color: rgba(97, 148, 195, 1);
            font-family: 'Montserrat', sans-serif;
        }
        h4{
            font-size: 1.13em;
        }

        button{
            font-size: 1em;
        }
    }

}

div.form-container{
    height: 39vh;
    //background-image: linear-gradient(45deg, rgba(237, 202, 61, 1), rgba(142, 198, 209, 1));
    //background-image: linear-gradient(45deg, rgba(138, 31, 39, 1), rgba(229, 107, 102, 1));
    background-image: linear-gradient(45deg, rgba(15, 110, 93, 1), rgba(17, 109, 120, 1));
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    > div{float: left;}
    div.texto{
        width: 70%;
        text-align: justify;
        padding-right: 25px;

        h4, p {color: white;}
        p{font-size: 01.24em;}
        h4{
            text-align: center;
            font-size: 1.53em;
        }
        img{
            margin-right: 25px;
            margin-top: -8%;
            float: left;
            width: 29%;
        }

    }
    div.form{
        width: 30%;
        input{
            font-size: 0.88em;
            width: 100%;
            height: 48px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1%;
            border-radius: 4px;
            border-color: #ccc !important;
            box-shadow: none;
            box-sizing: border-box;
            outline: none !important;
            padding: 6px 12px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        button{
            clear: both;
            display: block;
            width: 90%;
            padding-top: 12px;
            border-radius: 25px;
            //margin-top: 24px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 8%;
            font-size: 16px;
            font-weight: 700;
            @include botao-fundo-vermelho;
            //color: rgba(250, 230, 115, 1);background-color: rgba(97, 148, 195, 1);
            padding: 9px 15px;
            border: 0;
            line-height: inherit;
            text-decoration: none;
            cursor: pointer;



        }
    }
}

div.texto-bio{
    @include full-width;
    padding: 0 15%;
    margin-top: 70px;
    height: 40vh;
    font-size: 1.88em;
    text-align: justify;
    span{
        display: inline-block;
        float: left;
        width: 70%;
    }

    img{
        float: left;
        width: 23%;
        margin-right: 7%;
    }
}