div.header-container{
    &, div{
        font-size: 100%;
        font-size: 16px;
    }
}

@mixin full-width{
    position: relative;
    width: 100vw;

    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

div.menu-fixo{
    @include full-width;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
}

div.header-container{
    height: 100vh;
    @include full-width;
    //background-image: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");
    background-image: url("https://panoxadrez.github.io/img/leadlovers/belasprendasdolar.com.br/img000001.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    text-align: center;

    > a button{
        clear: both;
        display: block;
        width: 90%;
        padding-top: 12px;
        border-radius: 25px;
        //margin-top: 24px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8%;
        font-size: 16px;
        font-weight: 700;
        color: rgba(250, 230, 115, 1);
        background-color: rgba(97, 148, 195, 1);
        padding: 9px 15px;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    div.titulo{
        height: 70%;
        width: 70%;
        position: relative;
        display: inline-block;
        display: none;

        div.texto{
            float: left;
            width: 70%;
            position: absolute;
            bottom: 0;
            padding-bottom: 15vh;
        }
        img{
            width: 30%;
            float: left;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        h1{
            font-size: 2.38em;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
        }

        h3{
            font-size: 1.50em; 
            color: rgba(97, 148, 195, 1);
            font-family: 'Montserrat', sans-serif;
        }
        h4{
            font-size: 1.13em;
        }

        button{
            font-size: 1em;
        }
    }

}

div.form-container{
    height: 30%;
    background-image: linear-gradient(45deg, rgba(237, 202, 61, 1), rgba(142, 198, 209, 1));
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    > div{float: left;}
    div.texto{
        width: 70%;
        text-align: justify;
        padding-right: 25px;

        h4, p {color: white;}
        h4{text-align: center}
        img{
            margin-top: -100px;
            float: left;
            width: 29%;
        }

    }
    div.form{
        width: 30%;
        input{
            font-size: 0.88em;
            width: 100%;
            height: 48px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 1%;
            border-radius: 4px;
            border-color: #ccc !important;
            box-shadow: none;
            box-sizing: border-box;
            outline: none !important;
            padding: 6px 12px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        button{
            clear: both;
            display: block;
            width: 90%;
            padding-top: 12px;
            border-radius: 25px;
            //margin-top: 24px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 8%;
            font-size: 16px;
            font-weight: 700;
            color: rgba(250, 230, 115, 1);
            background-color: rgba(97, 148, 195, 1);
            padding: 9px 15px;
            border: 0;
            line-height: inherit;
            text-decoration: none;
            cursor: pointer;



        }
    }


}