/*Destaque Cursos*/
$padding-curso: 13%;


div.containerCursosHome{
    @extend %size-full-width;
    @extend %font-size;

    background-color: $home-cor-destaque;
    @include breakpoint(mobile-regular, mobile-small-land){background-color: unset;}

    position: relative;
    //overflow: auto;
    text-align: center;

    padding: 0 20%;
    @include breakpoint(tablet-large){padding: 0px 5%;}
    @include breakpoint(mobile-regular, mobile-small-land){padding: 0;}

    height: 50vh;
    @include breakpoint(portrait, mobile-small-land){height: 45vh;}
    @include breakpoint(mobile-regular, mobile-small-land){height: auto;}

    div.innerCursosHome{
        display: inline-block;
        margin-bottom: -5px;
        width: 100%;
        height: 100%;

        &.diagonal-1{
            & > div{
                transform: skew(5deg);                
                > *{transform: skew(-5deg);}
                @include breakpoint(mobile-regular, mobile-small-land){transform: skew(0deg); > *{transform: skew(0deg);}}
            }
        }
        &.diagonal-2{
            & > div{
                transform: skew(-5deg);
                //correção em elementos filhos
                > *{transform: skew(5deg);}
                @include breakpoint(mobile-regular, mobile-small-land){transform: skew(0deg); > *{transform: skew(0deg);}}
            }
        }
        &.diagonal-1, &.diagonal-2{
            > div{box-shadow: 1px 1px 1px transparent;}

        }

        div.cursoHome {
            border-left: 6px solid #FFFFFF;
            @include breakpoint(mobile-regular, mobile-small-land){border: 0 !important;};
            &:last-child {border-right: 6px solid #FFFFFF;}

            width: 50%;
            @include breakpoint(mobile-regular, mobile-small-land){width: 100%;};

            float: left;
            @include breakpoint(mobile-regular, mobile-small-land){float: none;}

            height: 100%;
            @include breakpoint(mobile-regular){height: 55vh;};
            @include breakpoint(mobile-small-land){height: 70vh;};
            @include breakpoint(mobile-small){height: 65vh}

            overflow: hidden;
            text-align: center;
            background-size: cover;
            display: inline;
            @include breakpoint(mobile-regular, mobile-small-land){display: table;};
            position: relative;
            &:hover .nomeCurso{
                opacity: 0;
            }

        }

        div.bg{
            top: 0;
            bottom: 0;
            left: -6%;
            right: -6%;
            position: absolute;
        }

        div.nomeCurso{
            @include position(absolute, auto, -1%, 0, auto);
            display: table;

            padding: 0 6%;

            width: 103%;
            height: 100%;
            max-height: 80px;                

            color: $cor-preto;
            text-align: center;
            @include breakpoint(table-large, tablet-large-land){text-align: left;}
            
            $desaturate-color: desaturate($home-cor-destaque, 10%);
            background-color: rgba($desaturate-color, .75);
            $desaturate-color: null;
            
            @include breakpoint(tablet-large, tablet-large-land){opacity: 1 !important;}

            //br{@include breakpoint(table-large, tablet-large-land){display: none;}}

            div{
                display: table-cell;
                vertical-align: middle;
                //height: 100%;
                font-size: 1.56em;
            }
            button{
                display: none;
                @include breakpoint(table-large, tablet-large-land){display: inline;}
                
                background-color: $botoes-default-bg;
                color: $botoes-default-color;
                width: 25%;
                float: left;
            }
            span{
                font-size: 1em;

                @include breakpoint(table-large, tablet-large-land){
                    width: 70%;
                    margin-right: 5%;
                    float: left;
                }
            }
        }
        .overlay{
            @include position(absolute, 0, -6%, 0, -6%);

            padding-top: 10%;
            padding-left: $padding-curso;
            padding-right: $padding-curso; 
            @include breakpoint(desktop-regular){padding-top: 3%;}

            background-color: rgba($cor-preto, .75);
            color: $cor-branco;
            transition: .5s ease;
            opacity: 0;

            &:hover{
                opacity: 1;
            }
            @include breakpoint(tablet-large, tablet-large-land){
                display: none !important; 
                opacity: 0 !important;
                @include position(relative, unset !important, unset !important, unset !important, unset !important);
                @include size(0px !important, 0px !important);
            }


            p{
                font-size: 1.06em;
                color: $cor-branco;
                text-align: justify;
            }
            h3{font-size: 2.25em;}
            div{
                position: absolute;
                right: -6%;
                left: -6%;
                bottom: 0;
                width: 100%;
                padding-bottom: 11%;
                padding-left: 6%;
                @include breakpoint(desktop-regular){padding-bottom: 5%;}
            }
            button{
                margin: auto;
                width: 45%;
                background-color: $botoes-default-bg;
                color: $botoes-default-color;
                border: 0;
                border-radius: 5px;
                color: $cor-branco;
                font-size: 1.25em;
                &.desativado{
                    background-color: desaturate( $botoes-default-bg, 25% ) !important;
                    color: darken($botoes-default-color, 90%);
                    color: $botoes-default-color !important;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
    }
}