//layout desenvolvido para LeadLovers

section.lp-header.ly-0002{
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none;
    padding: 50vh 6vw 0;
    
    &, *{
        font-size: 16px;
    }
}