#wrap {
  position: relative; }

.ly-0002.chamada {
  display: none; }

.barra-navegacao {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-bottom: -3vh; }
  .barra-navegacao .titulo {
    color: #000000;
    text-align: center; }
  .barra-navegacao .sub-title {
    font-size: 0.8em !important; }
  .barra-navegacao .menu-aulas > button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold; }
  .barra-navegacao .menu-aulas .dropdown-menu {
    padding: 15vh 3vw; }
    .barra-navegacao .menu-aulas .dropdown-menu button {
      background: rgba(255, 255, 255, 0.45);
      font-weight: bold;
      border: solid rgba(0, 0, 0, 0.3);
      border-width: 0 0 1px 0;
      margin-bottom: 4px; }

.bg-container-outer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .bg-container-outer .bg-container-inner {
    position: relative;
    width: 100%;
    height: 100%; }
  .bg-container-outer .background-1 {
    position: absolute;
    background: #d2d24e;
    width: 200%;
    height: 70vh;
    transform: rotate(-20deg);
    top: -40vh;
    left: -50%; }
    @media only screen and (orientation: landscape) {
      .bg-container-outer .background-1 {
        height: 86vh;
        transform: rotate(-14deg);
        top: -40vh;
        left: -50%; } }
    @media only screen and (min-width: 360px) and (orientation: portrait) {
      .bg-container-outer .background-1 {
        transform: rotate(-10deg); } }
    @media only screen and (orientation: landscape) and (min-width: 640px) {
      .bg-container-outer .background-1 {
        transform: rotate(-7deg);
        height: 80vh; } }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      .bg-container-outer .background-1 {
        height: 63vh;
        transform: rotate(-8deg); } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .bg-container-outer .background-1 {
        transform: rotate(-5deg);
        height: 74vh; } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      .bg-container-outer .background-1 {
        height: 57vh;
        transform: rotate(-6deg); } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .bg-container-outer .background-1 {
        height: 81vh;
        transform: rotate(-3deg); } }
    @media only screen and (min-width: 720px) and (orientation: portrait) {
      .bg-container-outer .background-1 {
        height: 53vh; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      .bg-container-outer .background-1 {
        height: 78vh; } }
    @media only screen and (min-width: 1920px) {
      .bg-container-outer .background-1 {
        height: 74vh; } }
  .bg-container-outer .background-2 {
    position: absolute;
    background: #e2a147;
    width: 200%;
    height: 54vh;
    z-index: -1;
    transform: rotate(8deg);
    top: -15vh;
    right: -91%; }
    @media only screen and (orientation: landscape) {
      .bg-container-outer .background-2 {
        transform: rotate(6deg);
        top: -15vh;
        right: -91%; } }
    @media only screen and (min-width: 360px) and (orientation: portrait) {
      .bg-container-outer .background-2 {
        height: 50vh;
        transform: rotate(4deg); } }
    @media only screen and (orientation: landscape) and (min-width: 640px) {
      .bg-container-outer .background-2 {
        height: 63vh;
        transform: rotate(3deg); } }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      .bg-container-outer .background-2 {
        height: 40vh; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .bg-container-outer .background-2 {
        height: 54vh;
        transform: rotate(3deg); } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      .bg-container-outer .background-2 {
        height: 34vh;
        transform: rotate(3deg); } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .bg-container-outer .background-2 {
        height: 58vh;
        transform: rotate(3deg); } }
    @media only screen and (min-width: 720px) and (orientation: portrait) {
      .bg-container-outer .background-2 {
        height: 30vh;
        transform: rotate(5deg); } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      .bg-container-outer .background-2 {
        height: 56vh; } }
    @media only screen and (min-width: 1360px) {
      .bg-container-outer .background-2 {
        height: 56vh !important;
        transform: rotate(8deg); } }
    @media only screen and (min-width: 1920px) {
      .bg-container-outer .background-2 {
        height: 51vh !important; } }
  .bg-container-outer .background-3 {
    background: #d2d24e;
    width: 147vw;
    height: 16vh;
    top: 93vh;
    position: absolute;
    right: -31%;
    transform: rotate(-13deg); }
    @media only screen and (orientation: landscape) {
      .bg-container-outer .background-3 {
        top: 157vh; } }
    @media only screen and (min-width: 360px) and (orientation: portrait) {
      .bg-container-outer .background-3 {
        top: 73vh; } }
    @media only screen and (orientation: landscape) and (min-width: 640px) {
      .bg-container-outer .background-3 {
        top: 148vh;
        transform: rotate(-9deg); } }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      .bg-container-outer .background-3 {
        top: 62vh; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .bg-container-outer .background-3 {
        top: 136vh; } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      .bg-container-outer .background-3 {
        transform: rotate(-16deg);
        top: 55vh; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .bg-container-outer .background-3 {
        top: 99vh; } }
    @media only screen and (min-width: 720px) and (orientation: portrait) {
      .bg-container-outer .background-3 {
        top: 51vh; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      .bg-container-outer .background-3 {
        transform: rotate(-6deg);
        top: 98vh; } }
    @media only screen and (min-width: 1360px) {
      .bg-container-outer .background-3 {
        top: 97vh; } }
    @media only screen and (min-width: 1600px) {
      .bg-container-outer .background-3 {
        top: 94vh; } }
    @media only screen and (min-width: 1920px) {
      .bg-container-outer .background-3 {
        top: 89vh; } }
  .bg-container-outer .background-4 {
    background: #e2a147;
    width: 200vw;
    height: 27vh;
    transform: rotate(-2deg);
    top: 80vh;
    position: absolute;
    left: -50%; }
    @media only screen and (orientation: landscape) {
      .bg-container-outer .background-4 {
        height: 29vh;
        transform: rotate(-5deg);
        top: 145vh; } }
    @media only screen and (min-width: 360px) and (orientation: portrait) {
      .bg-container-outer .background-4 {
        height: 22vh;
        top: 64vh; } }
    @media only screen and (orientation: landscape) and (min-width: 640px) {
      .bg-container-outer .background-4 {
        transform: rotate(-3deg);
        top: 140vh; } }
    @media only screen and (min-width: 480px) and (orientation: portrait) {
      .bg-container-outer .background-4 {
        top: 56vh; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      .bg-container-outer .background-4 {
        top: 129vh; } }
    @media only screen and (min-width: 600px) and (orientation: portrait) {
      .bg-container-outer .background-4 {
        transform: rotate(-5deg);
        top: 50vh; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .bg-container-outer .background-4 {
        top: 90vh; } }
    @media only screen and (min-width: 720px) and (orientation: portrait) {
      .bg-container-outer .background-4 {
        top: 46vh; } }
    @media only screen and (orientation: landscape) and (min-width: 1280px) {
      .bg-container-outer .background-4 {
        transform: rotate(-1deg);
        top: 88vh; } }
    @media only screen and (min-width: 1360px) {
      .bg-container-outer .background-4 {
        transform: rotate(-2deg);
        top: 85vh; } }
    @media only screen and (min-width: 1600px) {
      .bg-container-outer .background-4 {
        top: 83vh; } }
    @media only screen and (min-width: 1920px) {
      .bg-container-outer .background-4 {
        top: 79vh; } }

.carousel-cell {
  border-radius: 4px;
  overflow: hidden; }

.lista-aula button {
  background: transparent;
  border: 0 !important; }
  .lista-aula button .status {
    font-size: 0.7em !important; }
  .lista-aula button.lock {
    border-color: transparent !important;
    background: #006569;
    color: #ffffff; }
    .lista-aula button.lock .status {
      background: rgba(0, 52, 54, 0.2);
      color: #ffffff; }
  .lista-aula button.amanha {
    border-color: transparent !important;
    background: rgba(241, 241, 200, 0.7); }
    .lista-aula button.amanha .status {
      background: rgba(210, 210, 78, 0.8);
      color: #000000; }
  .lista-aula button.liberada {
    border-color: transparent !important;
    color: #ffffff;
    background: #009395; }
    .lista-aula button.liberada .status {
      background: rgba(0, 97, 98, 0.2);
      color: #ffffff; }
  .lista-aula button.hoje {
    border-color: transparent !important;
    color: #ffffff;
    background: #f07148; }
    .lista-aula button.hoje .status {
      background: rgba(236, 76, 25, 0.2);
      color: #ffffff; }
  .lista-aula button span.title {
    font-size: 0.8em; }

.link-chamada {
  padding-bottom: 5px; }
  .link-chamada button {
    background: #cea5d1;
    border: 0 !important;
    box-shadow: 5px 5px #e8b5b5 !important;
    font-weight: bold; }

.fb-comments {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2px; }
