$c-branco: #ffffff;
$c-preto: #000000;
$cor1: #de554e;
$cor2: #e2a147;
$cor3: #5ba256;
$cor4: #e8b5b5;
$cor5: #cea5d1;
$cor6: #21aab1;
$cor7: #d2d24e;

@import "../../../../../../sushi-framework/functionalities/mixings/breakpoint/v00002";
@import "../../../../../../sushi-framework/functionalities/funcions/str-replace/v00001";
@import "../../../../../../sushi-framework/functionalities/funcions/ends-with/v00001";
@import "../../../../../../sushi-framework/functionalities/mixings/size/v00002";
@import "../../../../../../sushi-framework/functionalities/mixings/aspect-ratio/v00002";
#wrap {
  position: relative;
}
.ly-0002.chamada {
  display: none;
}

.barra-navegacao {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-bottom: -3vh;
  .titulo {
    color: $c-preto;
    @include breakpoint(landscape) {
      padding: 0 10vw;
    }
    @include breakpoint(mobile-small-land) {
      padding: 0 25vw;
    }
    @include breakpoint(mobile-regular-land) {
      padding: 0 16vw;
      text-align: right !important;
    }
    @include breakpoint(tablet-regular-land) {
      padding: 3vh 12vw 1vh !important;
    }
    @include breakpoint(tablet-large-land) {
      padding: 3vh 19vw 1vh !important;
    }
    @include breakpoint(desktop-small) {
      padding: 3vh 18vw 1vh !important;
    }
  }
  .sub-title {
    font-size: 1em !important;
  }
  .menu-aulas {
    > button {
      padding: 0.5em 1em;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background: rgba(255, 255, 255, 0.9);
      font-weight: bold;
    }
    .dropdown-menu {
      padding: 15vh 3vw;
      button {
        background: rgba(255, 255, 255, 0.45);
        font-weight: bold;
        border: solid rgba(0, 0, 0, 0.3);
        border-width: 0 0 1px 0;
        margin-bottom: 4px;
      }
    }
  }
}

.bg-container-outer {
  position: absolute;
  overflow: hidden;
  @include size(100%);
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .bg-container-inner {
    position: relative;
    @include size(100%);
  }

  .background-1 {
    position: absolute;
    background: $cor7;
    @include size(200%, 70vh);
    transform: rotate(-20deg);
    top: -40vh;
    left: -50%;
    @include breakpoint(landscape) {
      height: 86vh;
      transform: rotate(-14deg);
      top: -40vh;
      left: -50%;
    }
    @include breakpoint(mobile-small-portrait) {
      transform: rotate(-10deg);
    }
    @include breakpoint(mobile-small-land) {
      transform: rotate(-7deg);
      height: 80vh;
    }
    @include breakpoint(mobile-regular-portrait) {
      height: 63vh;
      transform: rotate(-8deg);
    }
    @include breakpoint(mobile-regular-land) {
      transform: rotate(-5deg);
      height: 74vh;
    }
    @include breakpoint(tablet-regular-portrait) {
      height: 57vh;
      transform: rotate(-6deg);
    }
    @include breakpoint(tablet-regular-land) {
      height: 63vh;
      transform: rotate(-3deg);
    }
    @include breakpoint(tablet-large-portrait) {
      height: 53vh;
    }
  }
  .background-2 {
    position: absolute;
    background: $cor2;
    @include size(200%, 54vh);
    z-index: -1;
    transform: rotate(8deg);
    top: -15vh;
    right: -91%;
    @include breakpoint(landscape) {
      transform: rotate(6deg);
      top: -15vh;
      right: -91%;
    }
    @include breakpoint(mobile-small-portrait) {
      height: 50vh;
      transform: rotate(4deg);
    }
    @include breakpoint(mobile-small-land) {
      height: 63vh;
      transform: rotate(3deg);
    }
    @include breakpoint(mobile-regular-portrait) {
      height: 40vh;
    }
    @include breakpoint(mobile-regular-land) {
      height: 54vh;
      transform: rotate(3deg);
    }
    @include breakpoint(tablet-regular-portrait) {
      height: 34vh;
      transform: rotate(3deg);
    }
    @include breakpoint(tablet-regular-land) {
      height: 42vh;
      transform: rotate(3deg);
    }
    @include breakpoint(tablet-large-portrait) {
      height: 30vh;
      transform: rotate(5deg);
    }
    @include breakpoint(desktop-small) {
      height: 39vh !important;
      transform: rotate(8deg);
    }
  }

  .background-3 {
    background: $cor7;
    @include size(147vw, 16vh);
    top: 93vh;
    position: absolute;
    right: -31%;
    transform: rotate(-13deg);
    @include breakpoint(landscape) {
      top: 157vh;
    }
    @include breakpoint(mobile-small-portrait) {
      top: 73vh;
    }
    @include breakpoint(mobile-small-land) {
      top: 148vh;
      transform: rotate(-9deg);
    }
    @include breakpoint(mobile-regular-portrait) {
      top: 62vh;
    }
    @include breakpoint(mobile-regular-land) {
      top: 136vh;
    }
    @include breakpoint(tablet-regular-portrait) {
      transform: rotate(-16deg);
      top: 55vh;
    }
    @include breakpoint(tablet-regular-land) {
      top: 99vh;
    }
    @include breakpoint(tablet-large-portrait) {
      top: 51vh;
    }
    @include breakpoint(tablet-large-land) {
      transform: rotate(-6deg);
      top: 98vh;
    }
    @include breakpoint(desktop-small) {
      top: 97vh;
    }
    @include breakpoint(desktop-regular) {
      top: 94vh;
    }
    @include breakpoint(desktop-large) {
      top: 89vh;
    }
  }

  .background-4 {
    background: $cor2;
    @include size(200vw, 27vh);
    transform: rotate(-2deg);
    top: 80vh;
    position: absolute;
    left: -50%;
    @include breakpoint(landscape) {
      height: 29vh;
      transform: rotate(-5deg);
      top: 145vh;
    }
    @include breakpoint(mobile-small-portrait) {
      height: 22vh;
      top: 64vh;
    }
    @include breakpoint(mobile-small-land) {
      transform: rotate(-3deg);
      top: 140vh;
    }
    @include breakpoint(mobile-regular-portrait) {
      top: 56vh;
    }
    @include breakpoint(mobile-regular-land) {
      top: 129vh;
    }
    @include breakpoint(tablet-regular-portrait) {
      transform: rotate(-5deg);
      top: 50vh;
    }
    @include breakpoint(tablet-regular-land) {
      top: 90vh;
    }
    @include breakpoint(tablet-large-portrait) {
      top: 46vh;
    }
    @include breakpoint(tablet-large-land) {
      transform: rotate(-1deg);
      top: 88vh;
    }
    @include breakpoint(desktop-small) {
      transform: rotate(-2deg);
      top: 85vh;
    }
    @include breakpoint(desktop-regular) {
      top: 83vh;
    }
    @include breakpoint(desktop-large) {
      top: 81vh;
    }
  }
}

.carousel-cell {
  border-radius: 4px;
  overflow: hidden;
}
.lista-aula button {
  background: transparent;
  border: 0 !important;
  .status {
    margin-right: -1px !important;
    font-size: 0.7em;
  }
  &.lock {
    $cor: #006569;
    border-color: transparent !important;
    background: lighten(rgba($cor, 0.7), 30%);
    .status {
      background: rgba($cor, 0.8);
      color: $c-branco;
      border-radius: 5px 0 0;
    }
  }
  &.amanha {
    $cor: $cor7;
    border-color: transparent !important;
    background: lighten(rgba($cor, 0.7), 30%);
    .status {
      background: rgba($cor, 0.8);
      color: $c-preto;
      border-radius: 5px 0 0;
    }
  }
  &.liberada {
    $cor: #009395;
    border-color: transparent !important;
    background: lighten(rgba($cor, 0.7), 30%);
    .status {
      background: rgba($cor, 0.8);
      color: $c-preto;
      border-radius: 5px 0 0;
    }
  }
  &.hoje {
    $cor: #f07148;
    border-color: transparent !important;
    background: lighten(rgba($cor, 0.7), 30%);
    .status {
      background: rgba($cor, 0.8);
      color: $c-preto;
      border-radius: 5px 0 0;
    }
  }
  span.title {
    font-size: 0.8em;
  }
}

.link-chamada {
  padding-bottom: 5px;
  button {
    background: $cor5;
    border: 0 !important;
    box-shadow: 5px 5px $cor4 !important;
    font-weight: bold;
  }
}
