$css-major-version: 1;
$css-minor-version: 0;
$css-patch-correcao: 0;
$css-type-version: live;

$css-current-version:"#{$css-major-version}.#{$css-minor-version}.#{$css-patch-correcao}";






@import "codes/_botoes.scss";
@import "codes/_headers.scss";
@import "codes/_hotscool.scss";
//@import "codes/_hotscool_menu_branco.scss";
@import "codes/_paginas.scss";
@import "codes/_pn.scss";  