@charset "UTF-8";
/* Compiled on 2019-06-14 11:27:41 -0300 */
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
/*hotscool*/
@import "https://cdn.hotscool.com/css/frontend.css";
@import "https://panoxadrez.github.io/lib/bootstrap/bootstrap-4.3.1-dist/bootstrap.css";
/*opensans*/
@import "https://hotscool.com/fonts/opensans.css?r=87717";
section.carousel-home, section.chamada-home, section.loja, section.cursos-destaque, section.depoimentos, section.aprendizado-social, section.header-curso, section.conteudo-curso {
  position: relative;
  width: 100vw;
  max-width: 1980px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  float: none; }

section.carousel-home, section.chamada-home, section.loja, section.cursos-destaque, section.depoimentos, section.aprendizado-social, section.header-curso, section.carousel-home *, section.chamada-home *, section.loja *, section.cursos-destaque *, section.depoimentos *, section.aprendizado-social *, section.header-curso * {
  font-size: 13px; }
  @media only screen and (min-width: 360px) and (orientation: portrait) {
    section.carousel-home, section.chamada-home, section.loja, section.cursos-destaque, section.depoimentos, section.aprendizado-social, section.header-curso, section.carousel-home *, section.chamada-home *, section.loja *, section.cursos-destaque *, section.depoimentos *, section.aprendizado-social *, section.header-curso * {
      font-size: 14px; } }
  @media only screen and (min-width: 480px) and (orientation: portrait) {
    section.carousel-home, section.chamada-home, section.loja, section.cursos-destaque, section.depoimentos, section.aprendizado-social, section.header-curso, section.carousel-home *, section.chamada-home *, section.loja *, section.cursos-destaque *, section.depoimentos *, section.aprendizado-social *, section.header-curso * {
      font-size: 16px; } }
  @media only screen and (min-width: 480px) {
    section.carousel-home, section.chamada-home, section.loja, section.cursos-destaque, section.depoimentos, section.aprendizado-social, section.header-curso, section.carousel-home *, section.chamada-home *, section.loja *, section.cursos-destaque *, section.depoimentos *, section.aprendizado-social *, section.header-curso * {
      font-size: 16px; } }

section.loja, section.cursos-destaque, section.aprendizado-social {
  margin-top: 45px;
  margin-bottom: 45px; }
  @media only screen and (orientation: landscape) {
    section.loja, section.cursos-destaque, section.aprendizado-social {
      margin-top: 60px;
      margin-bottom: 60px; } }

section.loja, section.cursos-destaque .titulo-sessao, section.depoimentos .titulo-sessao, section.depoimentos .carousels-container, section.aprendizado-social .titulo-sessao {
  padding-left: 6vw;
  padding-right: 6vw; }

div.barra-divisoria {
  margin: 60px 0;
  width: 100%;
  height: 21px;
  background-repeat: no-repeat;
  background: url(https://panoxadrez.github.io/image/layout/barra-divisoria.png);
  background-position: center; }

.menu-automatico {
  display: none; }

.navegacao-normal {
  position: fixed;
  z-index: 90; }

/*bot├úo de entrar*/
.navegacao-normal .botao-branco-redondo.pointer.botao-entrar.inline.uppercase {
  color: #FBFBFB !important;
  background: #0A0A0A !important;
  font-weight: 700; }

/*Linha divisoria*/
div.absoluto-centralizado.navegacao-normal .inline {
  color: #0A0A0A !important; }

/*Links do menu*/
div.absoluto-centralizado.navegacao-normal span a {
  color: #0A0A0A !important; }

/*popover menu*/
.pre-login div {
  color: #FBFBFB !important;
  background: #0A0A0A !important; }

/*Menu Burguer*/
div.absoluto-centralizado.navegacao-normal #nav-icon3 span, div#nav-icon3.abrir-menu.open span {
  background: #0A0A0A !important; }

/*icones usuario logado*/
.glyphicon.glyphicon-comment.f18.bold.pointer {
  color: #0A0A0A !important; }

/*sino de notificacoes*/
.notificacoes.inline .icone.inline i#notificacoes {
  color: #0A0A0A !important; }

/*NUMERO DE NOTIFICA├ç├òES USUARIO LOGADO*/
.absoluto-centralizado.navegacao-normal div.numero_notificacoes, .absoluto-centralizado.navegacao-normal img.foto-perfil {
  background: #FBFBFB !important;
  color: #0A0A0A !important;
  border-color: #0A0A0A !important; }

/*NOME DO USUARIO LOGADO*/
.absoluto-centralizado.navegacao-normal #menu-usuario {
  color: #0A0A0A !important; }

/*correcao ao bootstrap / dropdown menu para cursos etc*/
.popover.bottom {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px !important; }
  .popover.bottom.fade.in {
    opacity: 1 !important; }

.popover {
  max-width: 387px !important; }

section.chamada-home .texto {
  padding: 0 6%; }

body {
  background-color: #FFFFFF; }

html {
  scroll-behavior: smooth; }

h1 {
  font-size: 3.052em !important; }

h2 {
  font-size: 2.441em !important; }

h3 {
  font-size: 1.953em !important; }

h4 {
  font-size: 1.563em !important; }

h5 {
  font-size: 1.25em !important; }

h6 {
  font-size: 1em !important; }

p {
  font-size: 1em; }

.size-p {
  font-size: 1em !important; }

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

.titulo-sessao {
  margin-bottom: 30px; }
  .titulo-sessao h2 {
    font-weight: 700;
    font-weight: bold; }
  .titulo-sessao span {
    font-size: 1.563em; }
  .titulo-sessao .size-p {
    margin: 0; }

@keyframes float-up-down {
  0% {
    margin-top: 5%; }
  100% {
    margin-top: 95%;
    opacity: 0; } }
/*Carousel default config*/
.carousel {
    /*
    
    .cell-inner > *{@include square(100%);}
*/ }
  .carousel .flickity-viewport {
    height: 100% !important; }

.know-more {
  width: 100%;
  z-index: 8;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 3px; }
  .know-more *:focus {
    outline: none; }
  .know-more span {
    display: none; }
  .know-more div {
    width: 4px;
    height: 6px;
    position: absolute;
    top: 4px;
    right: 0;
    bottom: auto;
    left: 0;
    animation: float-up-down 1.5s infinite linear;
    background-color: #FBFBFB;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: width 2s; }
  .know-more button {
    width: 22px;
    height: 34px;
    position: relative;
    padding: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px 25px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: color 0.75s ease-in-out; }

/*section.carousel-home{
    .know-more{ 
        position: absolute;
        bottom: 0;
        height: 10vh; 
    }
}*/
/*Home*/
section.carousel-home {
  background-color: black;
  height: calc(100vh - 55px); }
  @media only screen and (min-width: 1360px) {
    section.carousel-home {
      height: 100vh; } }
  section.carousel-home .carousel-cell {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    display: table;
    background-size: cover; }
    @media only screen and (min-width: 1360px) {
      section.carousel-home .carousel-cell {
        height: 100vh; } }
  section.carousel-home div.cell-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: bottom; }
  section.carousel-home div.cell-inner {
    position: absolute;
    bottom: 25vh;
    width: 100%;
    color: #0A0A0A;
    background: rgba(201, 185, 162, 0.55);
    font-family: Raleway, sans-serif;
    text-align: center; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.carousel-home div.cell-inner {
        width: 50%;
        padding: 1% 3% 1% 85px;
        padding: 1% 2% 1% 90px;
        border-radius: 0 9px 9px 0;
        width: 510px;
        height: 271px; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.carousel-home div.cell-inner {
        text-align: left; } }
    section.carousel-home div.cell-inner .content {
      height: 75%;
      vertical-align: middle; }
    section.carousel-home div.cell-inner .titulo {
      font-size: 2em; }
    section.carousel-home div.cell-inner .sub-titulo {
      font-size: 1.563em; }
    section.carousel-home div.cell-inner span.texto {
      color: #FBFBFB;
      font-size: 1.25em;
      line-height: 1.875em;
      display: none; }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        section.carousel-home div.cell-inner span.texto {
          display: initial; } }
    section.carousel-home div.cell-inner .buy {
      width: 100%;
      height: 25%;
      text-align: center; }
    section.carousel-home div.cell-inner span {
      font-size: 1.4em; }
    section.carousel-home div.cell-inner a {
      width: 100%; }
    section.carousel-home div.cell-inner button {
      font-size: 1.25em;
      margin: 10px 0;
      border-radius: 10px;
      padding: 5px 25px;
      background-image: linear-gradient(150deg, #d22f27 0%, #bc2b23 100%); }
  section.carousel-home .flickity-page-dots {
    bottom: 15vh; }
    section.carousel-home .flickity-page-dots .dot {
      width: 15px;
      height: 15px;
      opacity: 1;
      background-color: rgba(251, 251, 251, 0.3);
      box-shadow: rbga(#FBFBFB 0.2) 0px 3px 15px;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: #FBFBFB;
      border-image: initial; }
      section.carousel-home .flickity-page-dots .dot.is-selected {
        background-color: #fbfbfb; }

section.chamada-home {
  font-family: Raleway, sans-serif;
  color: #0A0A0A;
  margin-top: 10vh; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    section.chamada-home {
      display: flex; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.chamada-home {
      padding: 0 15%; } }
  section.chamada-home h2 {
    margin-left: -2px; }
  section.chamada-home .texto {
    text-align: justify; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      section.chamada-home .texto {
        width: 60%; } }
    section.chamada-home .texto .titulo-sessao {
      margin-top: 0;
      padding: 0; }
    section.chamada-home .texto p {
      font-size: 1.25em;
      line-height: 1em;
      margin-bottom: 1.7em; }
  section.chamada-home .foto-desktop {
    display: none;
    float: left;
    width: 40%;
    align-self: center;
    text-align: center;
    padding: 0 3% 0 3%; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      section.chamada-home .foto-desktop {
        display: inline; } }
    section.chamada-home .foto-desktop img {
      width: 100%;
      max-width: 500px; }
  section.chamada-home .links {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media only screen and (orientation: landscape) and (min-width: 480px) {
      section.chamada-home .links {
        flex-direction: row; } }
    section.chamada-home .links .redes-sociais {
      width: 100%;
      order: 1;
      padding: 2%;
      padding-left: 20px;
      align-self: flex-end; }
      @media only screen and (orientation: landscape) and (min-width: 853px), (min-width: 1360px) {
        section.chamada-home .links .redes-sociais {
          width: 100%; } }
      @media only screen and (orientation: landscape) and (min-width: 480px) {
        section.chamada-home .links .redes-sociais {
          order: 0; } }
      @media only screen and (orientation: landscape) and (min-width: 853px), (min-width: 1360px) {
        section.chamada-home .links .redes-sociais {
          padding-left: 0; } }
      section.chamada-home .links .redes-sociais img {
        width: 30px; }
    section.chamada-home .links .foto-mobile {
      width: 100%;
      padding: 0 0 0 30%;
      margin: 20px 0;
      text-align: right; }
      @media only screen and (orientation: landscape) and (min-width: 480px) {
        section.chamada-home .links .foto-mobile {
          width: 50%; } }
      @media only screen and (orientation: landscape) and (min-width: 480px) {
        section.chamada-home .links .foto-mobile {
          padding: 0; } }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        section.chamada-home .links .foto-mobile {
          display: none; } }
      section.chamada-home .links .foto-mobile img {
        width: 100%;
        min-width: 160px;
        max-width: 250px; }
    @media only screen and (orientation: landscape) and (min-width: 853px), (min-width: 1360px) {
      section.chamada-home .links .blog {
        float: right; } }
    section.chamada-home .links .blog button {
      background-color: #0A0A0A;
      color: #FBFBFB;
      padding: 0 10px;
      margin: 10px 0;
      font-size: 1.25em;
      line-height: 1.875em; }

section.loja {
  font-family: Raleway, sans-serif; }
  section.loja .titulo {
    color: #181d21;
    font-weight: bold;
    width: 100%; }
    @media only screen and (orientation: landscape) and (min-width: 640px), (min-width: 720px) {
      section.loja .titulo br {
        display: none; } }
    section.loja .titulo .inner {
      display: inline-block; }
    section.loja .titulo .square {
      width: 30px;
      position: absolute;
      background-color: #5b5756;
      z-index: -1; }
      section.loja .titulo .square:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
    section.loja .titulo h3 {
      border: 4px solid #ff6563;
      margin: 17px;
      padding: 5px; }
  section.loja .botoes {
    text-align: center; }
    @media only screen and (orientation: landscape) and (min-width: 853px), (min-width: 720px) {
      section.loja .botoes {
        display: flex;
        justify-content: center; } }
  section.loja .bt {
    width: 46%;
    max-width: 250px;
    float: left;
    margin: 2%; }
    section.loja .bt .outer {
      width: 100%;
      position: relative;
      height: 0;
      position: relative;
      padding-bottom: 26.6666666667%; }
      section.loja .bt .outer > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    section.loja .bt .bg, section.loja .bt button {
      width: calc(100% - 10px);
      height: calc(100% - 10px); }
    section.loja .bt .bg {
      position: absolute;
      background-color: #d2d24e;
      bottom: 0;
      right: 0; }
    section.loja .bt button {
      position: absolute;
      background-color: #009395;
      top: 0;
      left: 0;
      outline: none;
      transition-duration: 0s; }
      section.loja .bt button:active {
        background-color: #ff6563;
        transition-duration: 5.5s;
        top: unset;
        left: unset;
        right: 5px;
        bottom: 5px; }

/*Destaque Cursos*/
section.cursos-destaque {
  font-family: Raleway, sans-serif; }
  section.cursos-destaque .titulo-sessao {
    color: #181d21; }
    section.cursos-destaque .titulo-sessao .inner {
      display: inline-block;
      position: relative; }
    section.cursos-destaque .titulo-sessao .square {
      width: 20px;
      position: absolute;
      background-color: #fbb03b;
      z-index: -1;
      top: 10px;
      left: -6px; }
      section.cursos-destaque .titulo-sessao .square:after {
        content: "";
        display: block;
        padding-bottom: 100%; }
  section.cursos-destaque .carousel {
    height: 81.24vh; }
    @media only screen and (orientation: landscape) and (min-width: 480px) {
      section.cursos-destaque .carousel {
        height: 200vh; } }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      section.cursos-destaque .carousel {
        height: 81.24vh; } }
    @media only screen and (orientation: portrait) {
      section.cursos-destaque .carousel {
        min-height: 400px; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.cursos-destaque .carousel {
        padding-left: 10%;
        padding-right: 10%; } }
    section.cursos-destaque .carousel .carousel-cell {
      width: 100%;
      height: 100%; }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        section.cursos-destaque .carousel .carousel-cell {
          width: 50%;
          height: 100%; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        section.cursos-destaque .carousel .carousel-cell {
          width: 48%;
          height: 100%;
          margin: 0 2%; } }
      section.cursos-destaque .carousel .carousel-cell:hover .overlay {
        top: 0; }
    section.cursos-destaque .carousel .inner {
      width: 320px;
      height: 100%;
      display: inline-block; }
    section.cursos-destaque .carousel .bg {
      position: absolute;
      height: 78%;
      width: 58%;
      top: 5.88%;
      display: table;
      padding: 3.5% 6%; }
    section.cursos-destaque .carousel .titulo {
      color: white;
      display: table-cell; }
      section.cursos-destaque .carousel .titulo span {
        font-size: 1.563em;
        line-height: 1em; }
        @media only screen and (orientation: landscape) and (min-width: 480px) {
          section.cursos-destaque .carousel .titulo span {
            font-size: 1.953em;
            line-height: 1em; } }
        @media only screen and (orientation: landscape) and (min-width: 853px) {
          section.cursos-destaque .carousel .titulo span {
            font-size: 1.563em;
            line-height: 1em; } }
    section.cursos-destaque .carousel .foto {
      position: absolute;
      height: 60.35%;
      max-width: 100%;
      overflow: hidden;
      /*            .inner{
                      @include aspect-ratio(6,5);
                      width: 100%;
                      //@include size(100%);
                  }*/ }
      @media only screen and (orientation: landscape) and (min-width: 853px) {
        section.cursos-destaque .carousel .foto {
          width: 86%; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        section.cursos-destaque .carousel .foto {
          width: unset; } }
      section.cursos-destaque .carousel .foto .bg {
        position: absolute;
        width: 100%;
        height: 100%; }
      section.cursos-destaque .carousel .foto img {
        height: 100%; }
    section.cursos-destaque .carousel .overlay {
      display: none;
      position: absolute;
      height: 50%;
      top: 100%;
      padding: 10%;
      transition: 1s;
      display: table-cell; }
      section.cursos-destaque .carousel .overlay .inner {
        display: table;
        width: 100%;
        padding: 6%; }
        section.cursos-destaque .carousel .overlay .inner p {
          display: table-cell;
          vertical-align: middle;
          text-align: justify; }
      section.cursos-destaque .carousel .overlay .acesse {
        width: 100%;
        text-align: center;
        position: absolute;
        padding-bottom: 20px;
        bottom: 0;
        left: 0; }
        section.cursos-destaque .carousel .overlay .acesse a {
          text-align: center; }
      section.cursos-destaque .carousel .overlay button {
        background-color: #FBFBFB !important;
        width: 50%;
        border-radius: 10px; }
    section.cursos-destaque .carousel .saiba-mais {
      width: 100%;
      display: inline-block;
      text-align: center;
      position: absolute;
      color: #0A0A0A;
      bottom: 0; }
      @media only screen and (min-width: 1360px) {
        section.cursos-destaque .carousel .saiba-mais {
          display: none; } }
      section.cursos-destaque .carousel .saiba-mais button {
        background-color: #0A0A0A;
        color: #FBFBFB;
        height: 8.82%;
        width: 37.68%;
        border-radius: 10px;
        font-size: 0.875em; }
    section.cursos-destaque .carousel .flickity-button.previous {
      background: #d2d24e; }
      section.cursos-destaque .carousel .flickity-button.previous .flickity-button-icon {
        fill: #0A0A0A; }
    section.cursos-destaque .carousel .flickity-button.next {
      background: #f07148; }
      section.cursos-destaque .carousel .flickity-button.next .flickity-button-icon {
        fill: #FBFBFB; }
    section.cursos-destaque .carousel .flickity-button:disabled {
      display: none; }
    section.cursos-destaque .carousel .flickity-prev-next-button {
      width: 20px;
      height: 20px; }
    section.cursos-destaque .carousel .buttom {
      display: none;
      position: absolute;
      height: 74.70%;
      top: 5.88%;
      width: 6.72%; }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        section.cursos-destaque .carousel .buttom {
          display: unset; } }
      section.cursos-destaque .carousel .buttom.prev-buttom {
        left: 0;
        background-color: #d2d24e;
        margin-right: 5.20%; }
      section.cursos-destaque .carousel .buttom.next-buttom {
        right: 0;
        background-color: #f07148; }

div.accordion#faq-Home {
  color: #0A0A0A !important; }
  div.accordion#faq-Home div.faq-item {
    margin-bottom: -1px; }
  div.accordion#faq-Home div.question {
    cursor: pointer;
    text-align: justify;
    background-color: #c9b9a2;
    padding: 30px 10px; }
    div.accordion#faq-Home div.question span {
      color: #FBFBFB;
      font-size: 1.4em; }
  div.accordion#faq-Home div.answer {
    text-align: justify;
    background-color: #d8d1c6; }
    div.accordion#faq-Home div.answer div.answer-body {
      padding: 15px 30px 15px 60px; }
    div.accordion#faq-Home div.answer span {
      font-size: 1.25em; }
  div.accordion#faq-Home div.question::before {
    color: #FBFBFB;
    font-size: 1.4em;
    content: "\FF0D"; }
  div.accordion#faq-Home div.question.collapsed::before {
    color: #FBFBFB;
    font-size: 1.4em;
    content: "\FF0B"; }

section.depoimentos {
  font-family: Raleway, sans-serif;
  color: #181d21; }
  section.depoimentos .titulo-sessao .inner {
    display: inline-block;
    position: relative; }
  section.depoimentos .titulo-sessao .square {
    width: 20px;
    position: absolute;
    background-color: #fbb03b;
    z-index: -1;
    top: 10px;
    left: -6px; }
    section.depoimentos .titulo-sessao .square:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
  section.depoimentos .carousel {
    width: 100%;
    height: 300px;
    color: #0A0A0A; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.depoimentos .carousel {
        width: 50%;
        float: left; } }
    section.depoimentos .carousel .carousel-cell {
      width: 100%;
      height: 100%; }
    section.depoimentos .carousel .outer {
      position: relative; }
  section.depoimentos .depoimento-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 5px; }
  section.depoimentos .bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
    section.depoimentos .bg img {
      width: 100%; }
  section.depoimentos .foto {
    width: 80px;
    text-align: center; }
    section.depoimentos .foto img {
      width: 100%;
      border-radius: 5px; }
  section.depoimentos .texto {
    width: calc(100% - 80px);
    padding: 3em 10px 0 10px; }
    section.depoimentos .texto img {
      height: 1em; }
  section.depoimentos .nome {
    position: absolute;
    top: 0;
    background-size: contain;
    display: inline-block;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 340px;
    margin-bottom: 1.2em; }
    section.depoimentos .nome h5 {
      margin-top: 0;
      color: #FBFBFB;
      font-weight: 700;
      margin-bottom: 0; }
    section.depoimentos .nome span {
      font-size: 0.9em;
      line-height: 1.35em; }
  section.depoimentos .depoimentos-home1 .nome, section.depoimentos .depoimentos-home3 .nome {
    left: 0;
    padding: 5px 10px 5px calc(80px + 10px); }
  section.depoimentos .depoimentos-home2 .nome, section.depoimentos .depoimentos-home4 .nome {
    right: 0;
    padding: 5px calc(80px + 10px) 5px 10px;
    text-align: right; }
    @media only screen and (min-width: 600px) {
      section.depoimentos .depoimentos-home2 .nome, section.depoimentos .depoimentos-home4 .nome {
        left: 0; } }
    @media only screen and (min-width: 600px) {
      section.depoimentos .depoimentos-home2 .nome, section.depoimentos .depoimentos-home4 .nome {
        padding: 5px 10px 5px calc(80px + 10px); } }
    @media only screen and (min-width: 600px) {
      section.depoimentos .depoimentos-home2 .nome, section.depoimentos .depoimentos-home4 .nome {
        text-align: left; } }
  section.depoimentos .depoimentos-home2 .foto, section.depoimentos .depoimentos-home4 .foto {
    order: 2; }
    @media only screen and (min-width: 600px) {
      section.depoimentos .depoimentos-home2 .foto, section.depoimentos .depoimentos-home4 .foto {
        order: 0; } }

section.depoimentos .depoimentos-home1 #depoimento-1 div.nome, section.depoimentos .depoimentos-home3 #depoimento-1 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); }
section.depoimentos .depoimentos-home2 #depoimento-1 .nome, section.depoimentos .depoimentos-home4 #depoimento-1 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-1 .nome, section.depoimentos .depoimentos-home4 #depoimento-1 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-2 div.nome, section.depoimentos .depoimentos-home3 #depoimento-2 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); }
section.depoimentos .depoimentos-home2 #depoimento-2 .nome, section.depoimentos .depoimentos-home4 #depoimento-2 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-2 .nome, section.depoimentos .depoimentos-home4 #depoimento-2 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-3 div.nome, section.depoimentos .depoimentos-home3 #depoimento-3 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); }
section.depoimentos .depoimentos-home2 #depoimento-3 .nome, section.depoimentos .depoimentos-home4 #depoimento-3 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-3 .nome, section.depoimentos .depoimentos-home4 #depoimento-3 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-4 div.nome, section.depoimentos .depoimentos-home3 #depoimento-4 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); }
section.depoimentos .depoimentos-home2 #depoimento-4 .nome, section.depoimentos .depoimentos-home4 #depoimento-4 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-4 .nome, section.depoimentos .depoimentos-home4 #depoimento-4 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-5 div.nome, section.depoimentos .depoimentos-home3 #depoimento-5 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); }
section.depoimentos .depoimentos-home2 #depoimento-5 .nome, section.depoimentos .depoimentos-home4 #depoimento-5 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-5 .nome, section.depoimentos .depoimentos-home4 #depoimento-5 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-6 div.nome, section.depoimentos .depoimentos-home3 #depoimento-6 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); }
section.depoimentos .depoimentos-home2 #depoimento-6 .nome, section.depoimentos .depoimentos-home4 #depoimento-6 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-6 .nome, section.depoimentos .depoimentos-home4 #depoimento-6 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-7 div.nome, section.depoimentos .depoimentos-home3 #depoimento-7 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); }
section.depoimentos .depoimentos-home2 #depoimento-7 .nome, section.depoimentos .depoimentos-home4 #depoimento-7 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-7 .nome, section.depoimentos .depoimentos-home4 #depoimento-7 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-8 div.nome, section.depoimentos .depoimentos-home3 #depoimento-8 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); }
section.depoimentos .depoimentos-home2 #depoimento-8 .nome, section.depoimentos .depoimentos-home4 #depoimento-8 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-8 .nome, section.depoimentos .depoimentos-home4 #depoimento-8 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-9 div.nome, section.depoimentos .depoimentos-home3 #depoimento-9 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); }
section.depoimentos .depoimentos-home2 #depoimento-9 .nome, section.depoimentos .depoimentos-home4 #depoimento-9 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-9 .nome, section.depoimentos .depoimentos-home4 #depoimento-9 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-10 div.nome, section.depoimentos .depoimentos-home3 #depoimento-10 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); }
section.depoimentos .depoimentos-home2 #depoimento-10 .nome, section.depoimentos .depoimentos-home4 #depoimento-10 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-10 .nome, section.depoimentos .depoimentos-home4 #depoimento-10 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-11 div.nome, section.depoimentos .depoimentos-home3 #depoimento-11 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); }
section.depoimentos .depoimentos-home2 #depoimento-11 .nome, section.depoimentos .depoimentos-home4 #depoimento-11 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-11 .nome, section.depoimentos .depoimentos-home4 #depoimento-11 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-12 div.nome, section.depoimentos .depoimentos-home3 #depoimento-12 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); }
section.depoimentos .depoimentos-home2 #depoimento-12 .nome, section.depoimentos .depoimentos-home4 #depoimento-12 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-12 .nome, section.depoimentos .depoimentos-home4 #depoimento-12 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-13 div.nome, section.depoimentos .depoimentos-home3 #depoimento-13 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); }
section.depoimentos .depoimentos-home2 #depoimento-13 .nome, section.depoimentos .depoimentos-home4 #depoimento-13 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-13 .nome, section.depoimentos .depoimentos-home4 #depoimento-13 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-14 div.nome, section.depoimentos .depoimentos-home3 #depoimento-14 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); }
section.depoimentos .depoimentos-home2 #depoimento-14 .nome, section.depoimentos .depoimentos-home4 #depoimento-14 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-14 .nome, section.depoimentos .depoimentos-home4 #depoimento-14 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); } }

section.depoimentos .depoimentos-home1 #depoimento-15 div.nome, section.depoimentos .depoimentos-home3 #depoimento-15 div.nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); }
section.depoimentos .depoimentos-home2 #depoimento-15 .nome, section.depoimentos .depoimentos-home4 #depoimento-15 .nome {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.flip.svg); }
  @media only screen and (min-width: 600px) {
    section.depoimentos .depoimentos-home2 #depoimento-15 .nome, section.depoimentos .depoimentos-home4 #depoimento-15 .nome {
      background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg); } }

section.aprendizado-social {
  font-family: Raleway, sans-serif;
  color: #181d21; }
  section.aprendizado-social .titulo-sessao .inner {
    display: inline-block;
    position: relative; }
  section.aprendizado-social .titulo-sessao .square {
    width: 20px;
    position: absolute;
    background-color: #fbb03b;
    z-index: -1;
    top: 10px;
    left: -6px; }
    section.aprendizado-social .titulo-sessao .square:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
  section.aprendizado-social .imagem {
    width: 100%;
    position: relative; }
    section.aprendizado-social .imagem img {
      width: 100%; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      section.aprendizado-social .imagem .mobile {
        display: none;
        /*teste*/ } }
    section.aprendizado-social .imagem .tablet {
      display: none; }
      @media only screen and (min-width: 600px), (orientation: landscape) and (min-width: 1024px) {
        section.aprendizado-social .imagem .tablet {
          display: unset; } }
      @media only screen and (min-width: 1360px) {
        section.aprendizado-social .imagem .tablet {
          display: none; } }
      section.aprendizado-social .imagem .tablet .bg {
        width: 44%;
        height: 100%;
        background-image: linear-gradient(150deg, #3c9db8 0%, #4aa9c4 100%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10; }
        @media only screen and (orientation: landscape) {
          section.aprendizado-social .imagem .tablet .bg {
            left: unset;
            right: 0; } }
      section.aprendizado-social .imagem .tablet .landscape {
        display: none; }
        @media only screen and (orientation: landscape) and (min-width: 1024px) {
          section.aprendizado-social .imagem .tablet .landscape {
            display: unset; } }
      section.aprendizado-social .imagem .tablet .portrait {
        display: none; }
@media only screen and (min-width: 600px) and (orientation: portrait) {
  section.aprendizado-social .imagem .tablet .portrait {
    display: unset; } }

    section.aprendizado-social .imagem .desktop {
      display: none;
      width: 100%;
      text-align: center;
      padding-top: 25vh; }
      @media only screen and (min-width: 1360px) {
        section.aprendizado-social .imagem .desktop {
          display: inline-block; } }
  section.aprendizado-social .textos {
    display: flex;
    margin-top: 3em; }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.aprendizado-social .textos {
        position: absolute;
        top: 15%;
        left: 0;
        width: 48%; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .textos {
        width: 100%;
        height: 100%;
        top: 0;
        color: #FBFBFB;
        padding-top: 10vh; }
        section.aprendizado-social .textos p {
          color: #FBFBFB; } }
  section.aprendizado-social .texto {
    width: 62%;
    padding: 0 6%;
    text-align: left; }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto {
        width: 100%;
        height: 100%;
        z-index: -1; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto {
        padding: 0; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-1 {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 11%; } }
    @media only screen and (min-width: 1920px) {
      section.aprendizado-social .texto .texto-1 {
        top: 16%; } }
    section.aprendizado-social .texto .texto-1 h4:before {
      content: '1. '; }
      @media only screen and (min-width: 1360px) {
        section.aprendizado-social .texto .texto-1 h4:before {
          content: ''; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-1 .outer {
        width: 34%;
        height: 150px;
        display: inline-block;
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_01.svg);
        padding: 2%; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 45%; } }
    section.aprendizado-social .texto .texto-2 h4:before {
      content: '2. '; }
      @media only screen and (min-width: 1360px) {
        section.aprendizado-social .texto .texto-2 h4:before {
          content: ''; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-2 .outer {
        position: absolute;
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_02.svg);
        width: 19%;
        height: 47%;
        left: 12%;
        padding: 2%; } }
    @media only screen and (min-width: 1600px) {
      section.aprendizado-social .texto .texto-2 .outer {
        width: 19%;
        height: 100%; } }
    @media only screen and (min-width: 1920px) {
      section.aprendizado-social .texto .texto-2 .outer {
        width: 19%;
        height: 49%; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-3 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 25%; } }
    section.aprendizado-social .texto .texto-3 h4:before {
      content: '3. '; }
      @media only screen and (min-width: 1360px) {
        section.aprendizado-social .texto .texto-3 h4:before {
          content: ''; } }
    @media only screen and (min-width: 1360px) {
      section.aprendizado-social .texto .texto-3 .outer {
        position: absolute;
        width: 26%;
        height: 100%;
        right: 7%;
        padding: 2% 2% 0 5%;
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_03.svg); } }
    section.aprendizado-social .texto .outer {
      background-size: 100%;
      background-repeat: no-repeat; }
    section.aprendizado-social .texto h4 {
      font-weight: 700; }
    section.aprendizado-social .texto p {
      font-size: 0.9em;
      line-height: 1.35em; }
  section.aprendizado-social .decor {
    width: 38%;
    position: relative;
    /*        > div{
                width: 85%;
                @include aspect-ratio (1,1);
                div{
                    
                    background-color: pink;
                    position: absolute;
                    width: 100%;
                }
                
            }
    */ }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.aprendizado-social .decor {
        display: none; } }
    section.aprendizado-social .decor > div {
      width: 85%;
      position: absolute; }
      section.aprendizado-social .decor > div > div {
        height: 0;
        position: relative;
        padding-bottom: 100%; }
        section.aprendizado-social .decor > div > div > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
    section.aprendizado-social .decor .decor-1 {
      top: 10%; }
      section.aprendizado-social .decor .decor-1 .inner {
        background-image: linear-gradient(150deg, #009395 0%, #00acaf 100%); }
    section.aprendizado-social .decor .decor-2 {
      top: 0;
      right: 0; }
      section.aprendizado-social .decor .decor-2 .inner {
        background-image: linear-gradient(150deg, #e5e2d3 0%, #eeede3 100%); }

/* config venda */
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.header-curso {
    width: 100vw;
    height: 100vh; } }
section.header-curso div.bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso div.bg-color {
      width: 80%;
      height: 100vh; } }
  @media only screen and (min-width: 1360px) {
    section.header-curso div.bg-color {
      width: 65%;
      height: 100vh;
      border-radius: 0 0 25px 0; } }
section.header-curso .bg-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .bg-image {
      display: none; } }
section.header-curso .carousel-header .flickity-button {
  z-index: 20; }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.header-curso .carousel-header {
    width: 45%;
    position: absolute;
    top: 15%;
    right: 15%; } }
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  section.header-curso .carousel-header {
    width: 50%; } }
@media only screen and (min-width: 1360px) {
  section.header-curso .carousel-header {
    width: 45%;
    top: 20%;
    right: 10%; } }
section.header-curso .carousel-header .flickity-viewport {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; }
  section.header-curso .carousel-header .flickity-viewport > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
section.header-curso .carousel-header .flickity-slider {
  position: absolute;
  top: 0px; }
section.header-curso .carousel-header .carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  display: table; }
section.header-curso .carousel-header div.cell-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell; }
section.header-curso .carousel-header div.cell-inner {
  width: 100%;
  height: 100%;
  background-size: cover; }
section.header-curso .carousel-header .flickity-page-dots {
  bottom: 10px; }
  @media only screen and (min-width: 1360px) {
    section.header-curso .carousel-header .flickity-page-dots {
      bottom: -25px; } }
section.header-curso .titulo-container {
  width: 1%;
  height: 85vh;
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 15vh;
  color: #FBFBFB;
  font-size: 1em;
  padding: 10%; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .titulo-container {
      width: 35vw;
      height: unset; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .titulo-container {
      padding: 0 8px; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .titulo-container {
      position: absolute;
      top: 15%;
      left: 5%; }
      section.header-curso .titulo-container button {
        display: none; } }
  @media only screen and (min-width: 1360px) {
    section.header-curso .titulo-container {
      top: 20%;
      left: 10%; } }
  section.header-curso .titulo-container span {
    font-size: 1.953; }
  section.header-curso .titulo-container .buy {
    width: 100%;
    text-align: center; }
    section.header-curso .titulo-container .buy button {
      min-width: 25vw;
      padding: 5px 10px;
      margin: 10px;
      border-radius: 15px; }
section.header-curso .cta-container {
  position: relative;
  padding: 0 10px;
  margin-top: 5vh;
  text-align: center;
  width: 100%; }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .cta-container {
      position: absolute; } }
  @media only screen and (min-width: 1360px) {
    section.header-curso .cta-container {
      padding: 0 10%; } }
  @media only screen and (min-width: 1360px) {
    section.header-curso .cta-container {
      margin-top: 0; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    section.header-curso .cta-container {
      bottom: 0;
      display: flex;
      width: 80%; } }
  @media only screen and (min-width: 1360px) {
    section.header-curso .cta-container {
      text-align: center;
      width: 65%;
      height: 20vh; } }
  section.header-curso .cta-container h4 {
    text-align: center; }
  section.header-curso .cta-container p {
    text-align: justify; }
    @media only screen and (min-width: 1360px) {
      section.header-curso .cta-container p {
        text-align: center; } }
  section.header-curso .cta-container div.cta {
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden; }
    @media only screen and (min-width: 1360px) {
      section.header-curso .cta-container div.cta {
        width: 100%;
        height: 100%; } }
    @media only screen and (min-width: 1360px) {
      section.header-curso .cta-container div.cta {
        margin-bottom: 0; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.header-curso .cta-container div.cta {
        display: inline; } }
    @media only screen and (min-width: 1360px) {
      section.header-curso .cta-container div.cta {
        position: relative;
        display: table;
        flex: 1 1 auto !important; } }
    section.header-curso .cta-container div.cta div.icon {
      display: table-cell;
      vertical-align: middle;
      z-index: -1; }
    section.header-curso .cta-container div.cta img {
      float: left;
      height: 100px; }
      @media only screen and (min-width: 1360px) {
        section.header-curso .cta-container div.cta img {
          height: 50px;
          float: none; } }
    section.header-curso .cta-container div.cta h4 {
      float: none; }
    section.header-curso .cta-container div.cta div.descricao {
      padding: 10px 13% 10px;
      float: left;
      width: calc(100% - 100px); }
      @media only screen and (min-width: 1360px) {
        section.header-curso .cta-container div.cta div.descricao {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 100%;
          left: 0;
          border-radius: 25px 25px 0 0;
          padding: 5% 10% 0; } }
    section.header-curso .cta-container div.cta.buy {
      display: table; }
      section.header-curso .cta-container div.cta.buy .buy-buttom {
        display: table-cell;
        vertical-align: middle; }
        section.header-curso .cta-container div.cta.buy .buy-buttom button {
          border-radius: 25px;
          padding: 10px 15px;
          outline: none; }
  @media only screen and (min-width: 1360px) {
    section.header-curso .cta-container div.cta:hover .descricao {
      top: 0;
      transition: top 0.5s; } }

section.conteudo-curso {
  padding: 0 10px; }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    section.conteudo-curso {
      display: flex; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    section.conteudo-curso .content, section.conteudo-curso .aulas accordion {
      float: left; } }
  section.conteudo-curso div.content {
    width: 100%; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      section.conteudo-curso div.content {
        width: 65%; } }
    @media only screen and (min-width: 1360px) {
      section.conteudo-curso div.content {
        padding: 0 10%; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      section.conteudo-curso div.content .collapse {
        display: block;
        height: auto !important;
        visibility: visible; }
      section.conteudo-curso div.content .collapsing {
        position: relative;
        height: unset !important;
        overflow: hidden; } }
  section.conteudo-curso .accordion h2, section.conteudo-curso .accordion h3 {
    cursor: default; }
  section.conteudo-curso div.accordion.cursoContent {
    /*        @include breakpoint-up(mobile-regular-land){
                .collapse{
                    display: inline !important;
                }
            }*/ }
  section.conteudo-curso div.aulas.accordion {
    width: 100%; }
    @media only screen and (orientation: landscape) and (min-width: 853px) {
      section.conteudo-curso div.aulas.accordion {
        width: 35%; } }
  section.conteudo-curso .cartao {
    display: grid;
    margin-bottom: 20px; }
  section.conteudo-curso .cartao .header-aula .frame-aula {
    width: 150px;
    float: left;
    background-size: cover;
    margin-right: 20px;
    display: none; }
    @media only screen and (min-width: 360px), (orientation: landscape) and (min-width: 640px) {
      section.conteudo-curso .cartao .header-aula .frame-aula {
        display: inline-table; } }
    section.conteudo-curso .cartao .header-aula .frame-aula div {
      height: 0;
      position: relative;
      padding-bottom: 56.25%;
      background-size: cover; }
      section.conteudo-curso .cartao .header-aula .frame-aula div > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

.carousel-home .carousel-cell#curso00001 {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/banner_home.jpg); }

#curso00002 .know-more a span {
  color: #235b6b; }

#curso00002 .accordion.cursoContent h2 {
  color: #235b6b; }
#curso00002 .aulas.accordion h3 {
  color: #235b6b; }

.carousel-home .carousel-cell#curso00002 {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00002/banner_home.jpg);
  background-position: center bottom; }

#curso00002 .bg-color {
  background: linear-gradient(150deg, #3c9db8 0%, #4aa9c4 100%); }

#curso00002 .bg-image {
  background-image: url("https://picsum.photos/2000/1099?random=18"); }

#curso00002 .aulas .frame-aula#frame-aula-01 {
  background-image: url("https://picsum.photos/500/511?random=117"); }

#curso00002 .aulas .frame-aula#frame-aula-02 {
  background-image: url("https://picsum.photos/500/510?random=13"); }

#curso00002 .aulas .frame-aula#frame-aula-03 {
  background-image: url("https://picsum.photos/500/505?random=11"); }

#curso00002 .aulas .frame-aula#frame-aula-04 {
  background-image: url("https://picsum.photos/500/517?random=120"); }

#curso00002 .aulas .frame-aula#frame-aula-05 {
  background-image: url("https://picsum.photos/500/505?random=115"); }

#curso00002 .aulas .frame-aula#frame-aula-06 {
  background-image: url("https://picsum.photos/500/518?random=114"); }

#curso00002 .aulas .frame-aula#frame-aula-07 {
  background-image: url("https://picsum.photos/500/519?random=15"); }

#curso00002 .aulas .frame-aula#frame-aula-08 {
  background-image: url("https://picsum.photos/500/509?random=113"); }

#curso00002 .aulas .frame-aula#frame-aula-09 {
  background-image: url("https://picsum.photos/500/510?random=11"); }

#curso00002 .aulas .frame-aula#frame-aula-10 {
  background-image: url("https://picsum.photos/500/503?random=120"); }

#curso00002 .aulas .frame-aula#frame-aula-11 {
  background-image: url("https://picsum.photos/500/509?random=110"); }

#curso00002 .aulas .frame-aula#frame-aula-12 {
  background-image: url("https://picsum.photos/500/502?random=19"); }

curso00002 .cartao .header-aula .frame-aula#frame-aula-01 {
  display: inline-table !important; }

curso00002 .cartao .header-aula .frame-aula#frame-aula-07 {
  display: inline-table !important; }

curso00002 .cartao .header-aula .frame-aula#frame-aula-10 {
  display: inline-table !important; }

#curso00002 .carousel-header .carousel-cell .img0001 {
  background-image: url("https://picsum.photos/500/509?random=116"); }

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  width: 100%;
  height: 100%;
  #curso00002 .cta-container div.cta {
    max-width: 33.3333333333%; } }
@media only screen and (min-width: 1360px) {
  #curso00002 .cta-container div.cta.cta-01 .descricao {
    background-color: #de554e;
    color: #FBFBFB; } }
@media only screen and (min-width: 1360px) {
  #curso00002 .cta-container div.cta.cta-02 .descricao {
    background-color: #3c9db8;
    color: #FBFBFB; } }
div.header-curso#curso00002 .cta-container div.cta.buy .buy-buttom button {
  background-color: #c36247;
  color: #FBFBFB; }

.carousel-home .carousel-cell#qib00001 {
  background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/chamadas/qib/03_quilt-banner.jpg); }

section.cursos-destaque .carousel .carousel-cell#curso00001 .bg {
  background-image: linear-gradient(150deg, #de554e 0%, #e26a63 100%);
  left: 0; }
section.cursos-destaque .carousel .carousel-cell#curso00001 .titulo {
  left: 5.79%; }
section.cursos-destaque .carousel .carousel-cell#curso00001 .foto {
  left: 0;
  text-align: left; }
section.cursos-destaque .carousel .carousel-cell#curso00001 .titulo {
  left: 5.79%; }
section.cursos-destaque .carousel .carousel-cell#curso00001 .overlay {
  background-image: linear-gradient(150deg, #de554e 0%, #e26a63 100%);
  color: #FBFBFB; }
  section.cursos-destaque .carousel .carousel-cell#curso00001 .overlay button {
    color: #de554e !important; }

section.cursos-destaque .carousel .carousel-cell#curso00001 .foto {
  top: 0; }
section.cursos-destaque .carousel .carousel-cell#curso00001 .titulo {
  top: 64.70%;
  vertical-align: bottom; }

section.cursos-destaque .carousel .carousel-cell#curso00002 .bg {
  background-image: linear-gradient(150deg, #3c9db8 0%, #4aa9c4 100%);
  right: 0; }
section.cursos-destaque .carousel .carousel-cell#curso00002 .titulo {
  right: 5.79%; }
section.cursos-destaque .carousel .carousel-cell#curso00002 .foto {
  right: 0;
  text-align: right; }
section.cursos-destaque .carousel .carousel-cell#curso00002 .titulo {
  left: 37.68%; }
section.cursos-destaque .carousel .carousel-cell#curso00002 .overlay {
  background-image: linear-gradient(150deg, #3c9db8 0%, #4aa9c4 100%);
  color: #0A0A0A; }
  section.cursos-destaque .carousel .carousel-cell#curso00002 .overlay button {
    color: #3c9db8 !important; }

section.cursos-destaque .carousel .carousel-cell#curso00002 .foto {
  top: 140px; }
section.cursos-destaque .carousel .carousel-cell#curso00002 .titulo {
  top: 8.82%;
  vertical-align: top; }

/*CSS Version: 2.0.0. This is a test version!. Compiled on 2019-06-14 11:27:42 -0300*/
