/*
Nome:
ID: #qib00001
*/
$qib00001-img-generica: url("https://picsum.photos/1980/1082");

$qib00001-hero-image-desktop: $qib00001-img-generica;
$qib00001-hero-image-mobile: $qib00001-img-generica;
$qib00001-chamada-modal: $qib00001-img-generica;
$qib00001-destaque: $qib00001-img-generica;
$qib00001-lista-cursos: $qib00001-img-generica;


@include config-curso(
"#qib00001", 
$qib00001-hero-image-desktop, 
$qib00001-hero-image-mobile, 
$qib00001-chamada-modal, 
$qib00001-destaque, 
$qib00001-lista-cursos
);