/*
Nome:
ID: qib00001
*/


$qib00001-hero-image-desktop: url("https://c.pxhere.com/photos/c0/08/adorable_animal_animal_photography_big_cat_cat_cat_face_cat's_eyes_close_up-1510859.jpg!d");
$qib00001-hero-image-mobile: $qib00001-hero-image-desktop;
$qib00001-chamada-modal: $qib00001-hero-image-desktop;
$qib00001-destaque:$qib00001-hero-image-desktop;
$qib00001-lista-cursos:$qib00001-hero-image-desktop;


@include config-curso(
"#qib00001", 
$qib00001-hero-image-desktop, 
$qib00001-hero-image-mobile, 
$qib00001-chamada-modal, 
$qib00001-destaque, 
$qib00001-lista-cursos
);