// ID: curso00002
// Nome: Curso Online Basico

$curso00002-img-generica: url("https://picsum.photos/1980/1080");

$curso00002-hero-image-desktop: $curso00002-img-generica;
$curso00002-hero-image-mobile: $curso00002-img-generica;
$curso00002-chamada-modal: $curso00002-img-generica;
$curso00002-destaque: $curso00002-img-generica;
$curso00002-lista-cursos: $curso00002-img-generica;





@include config-curso(
            "#curso00002", 
            $curso00002-hero-image-desktop, 
            $curso00002-hero-image-mobile, 
            $curso00002-chamada-modal, 
            $curso00002-destaque, 
            $curso00002-lista-cursos
            )