// Nome: Curso online de criação e de formação de professores de patchwork e quiling
// ID: curso00001 


$curso0001-hero-image-desktop: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");
$curso0001-hero-image-mobile: url("https://panoxadrez.github.io/img/paginas/curso00001/header_canto.jpeg");
$curso0001-chamada-modal: url("https://panoxadrez.github.io/img/paginas/curso00001/chamada_miniatura_modal.jpg");

@include config-curso(#curso00001, $curso0001-hero-image-desktop, $curso0001-hero-image-mobile, $curso0001-chamada-modal, $curso0001-chamada-modal, $curso0001-chamada-modal)