.ly-0002 .carta {
  //text-align: left;
  position: relative;
  outline: none;
  overflow: hidden;

  .bg {
    //bottom: 0;
    top: 20vh;
    right: 0;
    z-index: -10;
    background-color: rgb(243, 243, 243);
    position: absolute;

    @include size(100%);
  }

  .retrato {
    min-width: 150px;
    width: 25%;
    //max-width: 150px;
    border-radius: 100%;
    margin: 20px 0;
  }

  .conteudo {
    font-size: 20px;
    text-align: justify;
  }
  .titulo {
    font-size: 12px;
    @include breakpoint-up(mobile-regular) {
      font-size: 16px;
    }
    @include breakpoint-up(tablet-regular) {
      font-size: 20px;
    }
    margin-bottom: 10px;

    h2 {
      font-size: ($size-h3 * 1em) !important;
    }
    h3 {
      font-size: ($size-h5 * 1em) !important;
    }
  }

  p {
    font-size: 20px;
    font-size: ($size-p * 1em !important);
  }

  hr {
    width: 20%;
    margin: 0 auto 20px;
  }
}
