@warn "teste";

//layout desenvolvido para LeadLovers

section.lp-header.ly-0002 {
    position: relative;
    width: 100vw;

    @include breakpoint-up(tablet-regular-land) {
        height: 100vh;
    }


    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none;
    padding: 40vh 6vw 45px;

    @include breakpoint-up(tablet-regular-land) {
        padding: 0;
    }


    &,
    * {
        font-size: 16px;

        @include responsive-font-size(17px, tablet-regular-land);
        @include responsive-font-size(20px, tablet-large-land);
        @include responsive-font-size(22px, desktop-small);
        @include responsive-font-size(25px, desktop-regular);
        @include responsive-font-size(30px, desktop-large);
    }

    .container {
        @include size(100%);
        @include breakpoint-up(tablet-regular-land) {
            width: 61vw;
            position: absolute;
            right: 0;
            bottom: 0;
            height: unset;
            padding: 0 10px 10vh 0;
        }
        @include breakpoint-up(tablet-large-land) {width: 61vw;}
        @include breakpoint-up(desktop-small) {width: 59vw;}
        @include breakpoint-up(desktop-large) {width: 57vw;}

        > div{
            margin: 20px 0;
        }
    }

    .main-title {
        h1 {
            margin: 0;
            font-weight: bold;

            @include font-size(($size-h4 * 1em) !important, 1em !important);
        }

        span {
            margin: 0;
            font-weight: bold;

            @include font-size(($size-h6 * 1em) !important, 1em !important);
        }
    }

    .conteudo {
        @include font-size(($size-h3 * 1em) !important, 1em !important);
        text-align: left;
        @include breakpoint-up(tablet-regular){text-align: center}
    }

    .observacao {
        padding: 0 6vw;

        @include breakpoint-up(tablet-regular-land) {
            padding: 0;
        }


        @include font-size(($size-h4 * 1em) !important, 1em !important);

        font-weight: bold;

        @include breakpoint-up(tablet-regular-land) {
            padding: 0;
            font-size: $size-h5 * 1em;
        }
    }

    .bt {
        @include font-size(($size-h4 * 1em) !important, 1em !important);
        @include breakpoint-up(tablet-regular-land) {
            max-width: 60%;
        }


        .bg, button {
            @include size(calc(100% - 20px));
        }
    }

    .prova-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint-up(tablet-regular-land) {
            justify-content: space-between;
        }


        align-items: center;

        .g-ytsubscribe, .fb-like {
            margin: 10px;
        }
    }
}
