section.lp-modal.ly-0002 {
    padding: 0;

    .modal-dialog {
        width: 80%;
        max-width: 700px;
    }

    .modal-content {
        padding: 0 5%;
    }

    .modal-header {
        border: 0;
        padding: 10% 10% 0;

        @include font-size($size-h3 * 1em, 1.4em);
    }

    .modal-body {
        padding: 0;
        form {
            border: 0;
        }
        input{
            @include font-size($size-h5 * 1em, 1.4em);
            padding: 10px;
        }
    }

    .modal-footer {
        font-size: .9em !important;
        text-align: center;
    }
}
