//$cor1: #b57272; //video ativo $cor2: #ffffff; //texto $cor3: #acacac; //video inativo1 $cor4: #898989; //video inativo2 $cor5: #803b3c; //texto $cor6: #804546;

$margim-sections: 4vh;
//$margim-titulo: 15vh;

//@import "../../../../../../../lib/bootstrap/4.3.1/bootstrap.css";
//@import "../../../../../../../lib/flickity/v2/css/flickity.scss";
@import "../../../../../../../../../sushi-framework/versions/bleed_edge.scss";
@import "../../../../../../../../../sushi-framework/functionalities/funcions/map/v00001";
@import "../../../../../../../../../sushi-framework/functionalities/mixings/aspect-ratio/v00003";
@import "../../../../../../../../../sushi-framework/functionalities/mixings/generate-grid/v00004";

$ly-0002-grid: (
  size: 16,
  conteiner-max: 1000px,
  gutter: 20px,
  prefix: ""
);
@include generate-grid(
  map($ly-0002-grid, size),
  map($ly-0002-grid, conteiner-max),
  map($ly-0002-grid, gutter),
  map($ly-0002-grid, prefix),
  "",
  "pn-"
);

@include breakpoint(mobile-regular-land) {
  @include generate-grid(
    map($ly-0002-grid, size),
    map($ly-0002-grid, conteiner-max),
    map($ly-0002-grid, gutter),
    map($ly-0002-grid, prefix),
    "-mobile",
    "pn-"
  );
}

@include breakpoint(tablet-regular-land) {
  @include generate-grid(
    map($ly-0002-grid, size),
    map($ly-0002-grid, conteiner-max),
    map($ly-0002-grid, gutter),
    map($ly-0002-grid, prefix),
    "-tablet",
    "pn-"
  );
}

@import "index/framework";
@import "index/modules";
@import "index/layout";
