$css-major-version: 2;
$css-minor-version: 1;
$css-patch-correcao: 0;
$css-type-version: dev;
$debug: false;
     
//font
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

//hotscool
//@import "https://cdn.hotscool.com/css/frontend.css";
//@import "https://panoxadrez.github.io/lib/bootstrap/bootstrap-4.3.1-dist/bootstrap.css";
//opensans
//@import "https://hotscool.com/fonts/opensans.css?r=87717";
  

@import "../../lib/bootstrap/4.3.1/scss/bootstrap.scss";
@import "../../lib/sushi-framework/_live.scss";
@import "index-files/_framework.scss";
@import "index-files/_layout.scss";
@import "index-files/_modules.scss";
@import "index-files/_sections.scss";
 

//@import "framework/_config-temporarias-dev.scss";
@import "../../lib/sushi-framework/v00003/warns.scss";