section.aprendizado-social{
    $decor: 38%;

    @extend %font-size;
    @extend %size-full-width;
    @extend %margim-vertical-section;
    @include font-family(2);
    color: $c-black-2;

    //min-height: 100vh;

    .titulo-sessao{
        @extend %margin-horizontal-section;

        .inner{display: inline-block; position: relative; }
        .square{
            @include square-decor(#fbb03b, 20px);
            top: 10px;
            left: -6px;
            //@include titulo-icon(#fbb03b, 20px);
        }
    }


    .imagem{
        width: 100%;
        position: relative;
        img{width: 100%;}

        .mobile{
            @include breakpoint-up(tablet-regular-portrait, tablet-regular-land){
                display: none; /*teste*/
            }

        }
        .tablet{
            display: none;
            @include breakpoint-up(tablet-regular, tablet-regular-land){display: unset}
            @include breakpoint-up(desktop-small){display: none}
            
            .bg{
                @include size(44%, 100%);
                background-image: degrade-color($c-blue);
                position: absolute;
                top: 0;
                right: 0;
                z-index: -10;
                @include breakpoint-up(landscape){left: unset; right: 0}
            }
            .landscape{
                display: none;
                @include breakpoint-up(tablet-regular-land){display: unset}
            }
            .portrait{
                display: none;
                @include breakpoint-up(tablet-regular){
                    @include breakpoint-up(portrait){display: unset}
                }
            }
        }
        .desktop{
            display: none;
            width: 100%;
            text-align: center;
            @include breakpoint-up(desktop-small){display: inline-block}

            padding-top: 25vh;
        }

    }
    .textos{
        display: flex;
        margin-top: 3em;
        @include breakpoint-up(tablet-regular-land){
            position: absolute;
            top: 15%;
            left: 0;
            width: 48%;
        }
        @include breakpoint-up(desktop-small){
            @include size(100%);
            top: 0;
            color: $c-white;
            p{color: $c-white;}
            padding-top: 10vh;
        }
    }
    .texto{
        width: 100% - $decor;
        @include breakpoint-up(desktop-small){@include size(100%); z-index: -1}
        padding: 0 6%;
        @include breakpoint-up(desktop-small){padding: 0}
        text-align: left;

        .texto-1{
            @include breakpoint-up(desktop-small){
                width: 100%;
                text-align: center;
                //padding: 2%;
                position: absolute;
                top: 11%;
            } 
            @include breakpoint-up(desktop-large){top: 16%;}; 

            h4:before{
                content: '1. ';
                @include breakpoint-up(desktop-small){content: '';} 
            }

            .outer{
                @include breakpoint-up(desktop-small){
                    @include size(34%, 150px);
                    display: inline-block;
                    background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_01.svg);
                    padding: 2%;
                }
            }
            .inner{}
        }
        .texto-2{
            @include breakpoint-up(desktop-small){
                position: absolute;
                @include size(100%);
                top: 45%;
            }
            h4:before{
                content: '2. ';
                @include breakpoint-up(desktop-small){content: '';}
            }
            .outer{
                @include breakpoint-up(desktop-small){
                    position: absolute;
                    background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_02.svg);
                    @include size(19%, 47%);
                    left: 12%;
                    padding: 2%;
                }
                @include breakpoint-up(desktop-regular){@include size(19%, 100%);}
                @include breakpoint-up(desktop-large){@include size(19%, 49%);}
            }

            .inner{

            }
        }
        .texto-3{

            @include breakpoint-up(desktop-small){
                position: absolute;
                @include size(100%);
                top: 25%;
            }

            h4:before{
                content: '3. ';
                @include breakpoint-up(desktop-small){content: '';}
            }

            .outer{
                @include breakpoint-up(desktop-small){
                    position: absolute;
                    @include size(26%, 100%);
                    right: 7%;
                    padding: 2% 2% 0 5%;
                    background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/paginas/home/social_03.svg);
                }
            }
            .inner{

            }
        }



        .outer{
            //background-size: cover;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        h4{
            font-weight: 700;

        }
        p{@include font-size(0.9)}


    }
    .decor{
        width: $decor;
        position: relative;
        @include breakpoint-up(tablet-regular-land){
            display: none;
        }

        > div{
            width: 85%;
            position: absolute;
            > div{@include aspect-ratio(1,1)}
        }
        .decor-1{
            top: 10%;
            .inner{background-image: degrade-color(#009395)}
        }
        .decor-2{
            top: 0;
            right: 0;
            .inner{background-image: degrade-color(#e5e2d3)}
        }





        /*        > div{
                    width: 85%;
                    @include aspect-ratio (1,1);
                    div{
                        
                        background-color: pink;
                        position: absolute;
                        width: 100%;
                    }
                    
                }
        */
    }

}