section.chamada-home{
    @extend %size-full-width;
    @extend %font-size;
    @include font-family(2);
    padding: 6%;
    color: $c-black;

    $size-chamada-foto-mobile: 50vh;

    .titulo-sessao{
        margin-top: 90px;
        margin-bottom: 30px;
        h2{
            font-weight: 700;
            font-weight: bold;
        }
        span{
            font-size: $size-h4;
        }        
    }
    .redes-sociais{
        height: $size-chamada-foto-mobile + ($size-chamada-foto-mobile/3);
        display: table;
        span{
            display: table-cell;
            vertical-align: bottom;
        }
        img{
            width: 35px;
            margin-right: 8px;
        }
    }
    .blog{
        width: 100%;

        margin-top: 15px;
        button{
            font-size: $size-h4;
            color: $c-white;
            background-color: $c-black;
        }
    }
    .foto{
        //position: absolute;
        @include size(100%, $size-chamada-foto-mobile);
        .bg{
            @include size(95%, 100%);
            background-image: degrade-color($c-salmao);
        }   
    }
}