section.chamada-home{

    //display: none;

    @extend %size-full-width;
    @extend %font-size;
    @include font-family(2);
    color: $c-black;

    $size-foto-mobile: 40%;

    //padding: 10vh 0;

    h2{margin-left: -2px;}

    .texto{
        @extend %margin-tela;
        //float: left; 
        text-align: justify;        
        //float: right;
    }
    .foto{     
        .inner{
            background-image: url(https://panoxadrez.github.io/image/fotos_tia_lilia/tia_lili-01.jpg);
            background-size: cover;
            @include aspect-ratio(0.84,1);
        }
    }
    .links{
        float: right;
        width: 100% - $size-foto-mobile;
        img{width: 35px}
    }
}