section.depoimentos{
    @extend %font-size;
    @extend %size-full-width;
    @include font-family(2);
    color: $c-black-2;

    $size-foto: 80px;

    .titulo-sessao{
        @extend %margin-horizontal-section;

        .inner{display: inline-block; position: relative; }
        .square{
            @include square-decor(#fbb03b, 20px);
            //top: 10px;
            //left: -6px;
            //@include titulo-icon(#fbb03b, 20px);
        }
    }
    .carousels-container{
        @extend %margin-horizontal-section;
    }

    .carousel{
        width: 100%;
        @include breakpoint-up(tablet-regular-land){width: 50%; float: left} 
        height: 300px;
        color: $c-black;
        .carousel-cell{
            @include size(100%);
            //text-align: justify;
        }
        .outer{
            position: relative;

        }
        &:nth-child(0){}
    }
    .depoimento-container{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        margin: 5px;
    }
    .bg{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        img{
            width: 100%;
        }
    }
    .foto{
        width: $size-foto;
        text-align: center;
        img{
            width: 100%;
        }
    }
    .texto{
        width: calc(100% - #{$size-foto});
        padding: 3em 10px 0 10px;
    }
    .nome{
        position: absolute;
        top: 0;
        //width: calc(100% - #{$size-foto} / 2);
        //background-color: $c-coral;

        background-size: contain;
        //background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg);
        display: inline-block;
        height: 300px; 
        width: 100%;
        background-repeat: no-repeat;
        max-width: 340px;
        margin-bottom: 1.2em;
        
        h5{margin-top: 0; color: $c-white; font-weight: 700; margin-bottom: 0}
        span{@include font-size(0.9);}
            

    }

    p{}
    
    

    .depoimentos-home1, .depoimentos-home3{
        .nome{
            left: 0;
            padding: 5px 10px 5px calc(#{$size-foto} + 10px);
        }
    }
    .depoimentos-home2, .depoimentos-home4{
        .nome{
            right: 0; 
            @include breakpoint-up(tablet-regular){left: 0}
            padding: 5px calc(#{$size-foto} + 10px) 5px 10px;
            @include breakpoint-up(tablet-regular){padding: 5px 10px 5px calc(#{$size-foto} + 10px);}
            text-align: right;
            @include breakpoint-up(tablet-regular){text-align: left}
        }
        .foto{
            order: 2;
            @include breakpoint-up(tablet-regular){order: 0;}
        }
    }
    
    
    
    
    
    
    
}

@include home-depoimento-bg('depoimento-1', 1);    
@include home-depoimento-bg('depoimento-2', 3);    