section.depoimentos{
    @extend %font-size;
    @extend %size-full-width;
    @include font-family(2);
    color: $c-black-2;

    $size-foto: 80px;

    .titulo-sessao{
        @extend %margin-horizontal-section;

        .inner{display: inline-block; position: relative; }
        .square{
            @include square-decor(#fbb03b, 20px);
            top: 10px;
            left: -6px;
        }
    }

    .outer{position: relative; @include size(100%);}

    .depoimento1, .depoimento2, .depoimento3, .depoimento4{
        //@include size(100%, 300px);
        width: 100%;
        @include breakpoint-up(tablet-regular){float: left; width: 50%}
        color: $c-black;
        min-height: 180px;
        position: relative;
    }
    .depoimento-container{
        display: flex;
        flex-wrap: wrap;
        //position: absolute;
        //margin: 5px;
    }
    .bg{
        position: absolute;
        top: 0;
        @include size(100%);
        z-index: -1;
        background-size: 90%;
        @include breakpoint-up(tablet-regular){background-size: 340px auto;}
        
        background-repeat: no-repeat;
    }
    .foto{
        width: $size-foto;
        text-align: center;
        padding: 3px;
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
    .texto{
        width: calc(100% - #{$size-foto});
        padding: 4em 10px 0 10px;
        img{    
            height: 1em;
        }
    }
    .nome{
        position: absolute; 
        max-width: 340px;
        margin-bottom: 1.2em;

        h5{margin-top: 0; color: $c-white; font-weight: 700; margin-bottom: 0}
        span{@include font-size(0.9);}


    }

    .depoimento1, .depoimento3{
        .nome{
            left: 0;
            padding: 5px 10px 5px calc(#{$size-foto} + 10px);
        }
    }
    .depoimento2, .depoimento4{
        .bg{
            background-position: top right;
            @include breakpoint-up(tablet-regular){background-position: top left;}
        }
        .nome{
            right: 0; 
            @include breakpoint-up(tablet-regular){left: 0}
            padding: 5px calc(#{$size-foto} + 10px) 5px 10px;
            @include breakpoint-up(tablet-regular){padding: 5px 10px 5px calc(#{$size-foto} + 10px);}
            text-align: right;
            @include breakpoint-up(tablet-regular){text-align: left}
        }
        .foto{
            order: 2;
            @include breakpoint-up(tablet-regular){order: 0;}
        }
    }

    .depoimento1 .bg{background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg);}
    .depoimento2 .bg{
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.flip.svg);
        @include breakpoint-up(tablet-regular){background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002.svg);}
    }
    .depoimento3 .bg{background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003.svg);}
    .depoimento4 .bg{
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.flip.svg);
        @include breakpoint-up(tablet-regular){background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004.svg);}
    }







}