/*Destaque Cursos*/
section.cursos-destaque{
    $size-foto: 30%;
    @extend %size-full-width;
    @extend %font-size;
    @include font-family(2);
    @extend %margim-vertical-section;


    .titulo-sessao{
        @extend %margin-horizontal-section;
        color: $c-black-2;

        .inner{display: inline-block; position: relative; }

        .square{
            @include square-decor(#fbb03b, 20px);
            top: 10px;
            left: -6px;
            //@include titulo-icon(#fbb03b, 20px);
        }
    }

    section.curso{
        display: flex;
        height: 45vh;
        width: 80%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        @extend %margim-vertical-section;
    }
    .foto{
        width: $size-foto;
        position: relative;
        img{
            width: 100%;
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
        }
        .bg{
            position: absolute;
            //background: black;
            height: 100%;
            width: 63%;
            z-index: -1;
            left:0
        }
    }
    .conteudo{
        width: 100% - $size-foto;
        position: relative;

        padding: 0 3%;
        header.titulo{
            text-align: center;
            h3{font-weight: bold;}
        }
        p{color: $c-black;}
    }
    .acesse{
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        .bt{margin: 0 auto;}
    }
}
