/*Destaque Cursos*/
section.cursos-destaque{
    $size-foto: 30%;
    @extend %size-full-width;
    @extend %font-size;
    @include font-family(2);
    @extend %margim-vertical-section;
    @extend %margin-horizontal-section;
    /*    @include breakpoint-up(tablet-regular){
            padding: 0 6%;
        }*/
    /*    @include breakpoint-up(desktop-small){padding: 0 15%;}*/

    :nth-child(2){margin-top: 0 !important}
    :last-child{margin-bottom: 0 !important}

    .titulo-sessao{
        //@extend %margin-horizontal-section;
        color: $c-black-2;


        .inner{display: inline-block; position: relative; }

        .square{
            @include square-decor(#fbb03b, 20px);
            top: 10px;
            left: -6px;
            //@include titulo-icon(#fbb03b, 20px);
        }
    }

    section.curso{
        @extend %margim-vertical-section;
        width: 100%;
        @include breakpoint-up(tablet-regular-land){@include size(100%, 70vh)}
        @include breakpoint-up(desktop-regular){@include size(100%, 60vh)}
        @include breakpoint-up(desktop-large){max-height: 570px;}
        @include breakpoint-up(mobile-small-land, tablet-regular){
            display: flex;
            flex-wrap: wrap;
        } 
        @include breakpoint-up(tablet-regular-land){
            display: inherit;
        }


        .foto{
            position: relative;
            max-height: 450px;
            height: 60vh;

            @include breakpoint-up(mobile-xsmall-land){@include size(100%, 100vh)}
            @include breakpoint-up(mobile-small-land){@include size(50%, 80vh)}
            @include breakpoint-up(tablet-regular-portrait){@include size(50%, 35vh)}
            @include breakpoint-up(tablet-regular-land){@include size(40%, 80%)}

            img{
                width: 100%; 
                max-width: 500px;
                @include breakpoint-up(mobile-xsmall-land){@include size(unset, 80%);} 
                @include breakpoint-up(tablet-regular-land, tablet-regular){@include size(100%, unset)}
                position: absolute;
                @include breakpoint-up(tablet-regular-portrait){
                    /*                    top: 0;
                                        bottom: 0;*/
                    margin: auto;
                }
            }
            .bg{
                @include size(58%, 90%);
                max-width: 300px;
                position: absolute;
                //top: 5%;
                z-index: -2;

                margin: auto;
            }
        }

        header{
            padding: 0 6%;
            display: table;
            @include breakpoint-up(mobile-small-land){@include size(50%, 80vh)}
            @include breakpoint-up(tablet-regular-portrait){@include size(50%, 35vh)}
            @include breakpoint-up(tablet-regular-land){@include size(60%, 10%)}
            .inner{display: table-cell; vertical-align: middle}
        }
        .titulo{
            margin: 1.5em 0;
            @include breakpoint-up(mobile-small-land, tablet-regular){margin: 0;}
            @include breakpoint-up(tablet-regular-land){width: 60%}
        }
        .conteudo{
            padding: 0 6%;
            @include breakpoint-up(tablet-regular-land){width: 60%; float: left;}

        }
        p{margin-top: 1.5em;}
        .acesse{
            padding-top: 70px;
            margin: 20px 0;
            .bt{margin: 0 auto;}
        }
    }

    .modal{
        .modal-dialog{
            -webkit-transform: unset !important;
        }
        form .button-bar {

            button{
                width: 40%;
                margin: 0 2.5%;
                border-radius: 10px;
                padding: 5px 0;
                max-width: 200px;
            }

            .fechar{
                background-color: $c-red-1;
                color: $c-white;
            }
            .enviar{
                background-color: $c-blue;
                color: $c-white;
            }
        }
        label{
            color: $c-black;
            font-size: 1.3em;
        }
    }
}
