/*Destaque Cursos*/
$padding-curso: 13%;


div.containerCursosHome{
    @extend %size-full-width;
    @extend %font-size;

    background-color: $home-cor-destaque;
    

    position: relative;
    //overflow: auto;
    text-align: center;

    padding: 0 20%;
    

    height: 50vh;
     

    div.innerCursosHome{
        display: inline-block;
        margin-bottom: -5px;
        width: 100%;
        height: 100%;

        

        div.cursoHome {
            border-left: 6px solid #FFFFFF;
            
            &:last-child {border-right: 6px solid #FFFFFF;}

            width: 50%;
            

            float: left;
            

            height: 100%;
            

            overflow: hidden;
            text-align: center;
            background-size: cover;
            display: inline;
            
            position: relative;
            &:hover .nomeCurso{
                opacity: 0;
            }

        }

        div.bg{
            top: 0;
            bottom: 0;
            left: -6%;
            right: -6%;
            position: absolute;
        }

        div.nomeCurso{
            @include position(absolute, auto, -1%, 0, auto);
            display: table;

            padding: 0 6%;

            width: 103%;
            height: 100%;
            max-height: 80px;                

            color: $c-black;
            text-align: center;
                        
            $desaturate-color: desaturate($home-cor-destaque, 10%);
            background-color: rgba($desaturate-color, .75);
            $desaturate-color: null;
            
            

            //br{@include breakpoint(table-large, tablet-large-land){display: none;}}

            div{
                display: table-cell;
                vertical-align: middle;
                //height: 100%;
                font-size: 1.56em;
            }
            button{
                display: none;
                
                
                background-color: $botoes-default-bg;
                color: $botoes-default-color;
                width: 25%;
                float: left;
            }
            span{
                font-size: 1em;

                
            }
        }
        .overlay{
            @include position(absolute, 0, -6%, 0, -6%);

            padding-top: 10%;
            padding-left: $padding-curso;
            padding-right: $padding-curso; 
            

            background-color: rgba($c-black, .75);
            color: $c-white;
            transition: .5s ease;
            opacity: 0;

            &:hover{
                opacity: 1;
            }
            


            p{
                font-size: 1.06em;
                color: $c-white;
                text-align: justify;
            }
            h3{font-size: 2.25em;}
            div{
                position: absolute;
                right: -6%;
                left: -6%;
                bottom: 0;
                width: 100%;
                padding-bottom: 11%;
                padding-left: 6%;
                
            }
            button{
                margin: auto;
                width: 45%;
                background-color: $botoes-default-bg;
                color: $botoes-default-color;
                border: 0;
                border-radius: 5px;
                color: $c-white;
                font-size: 1.25em;
                &.desativado{
                    background-color: desaturate( $botoes-default-bg, 25% ) !important;
                    color: darken($botoes-default-color, 90%);
                    color: $botoes-default-color !important;
                    font-weight: initial;
                    font-style: italic;
                }
            }
        }
    }
}