@warn "Verificar cores faq";

div.accordion#faq-Home{
    color: $c-black !important;

    div.faq-item{margin-bottom: -1px;}
    div.question{
        cursor: pointer;
        text-align: justify;
        background-color: #c9b9a2;
        padding: 30px 10px;

        span{
            color: $c-white;
            font-size: 1.4em;
        }
    }
    div.answer{
        text-align: justify;
        background-color: #d8d1c6;
        div.answer-body{padding: 15px 30px 15px 60px;}

        span{
            font-size: 1.25em;
        }
    }

    div.question::before{
        color: $c-white;
        font-size: 1.4em;
        content:"\FF0D";
    }   
    div.question.collapsed::before{
        color: $c-white;
        font-size: 1.4em;
        content:"\FF0B";
    }
}
