<style>
    .legenda {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 20px;
    }
</style>


<header class="ly-0002 pn-container-fluid" data-lp-id="ly-0002">
    <div class="legenda">modulo: header</div>
    <div class="bg-overlay"></div>

    <div class="pn-row">
        <div class="pn-container">

            <div class="pn-row">
                <div class="pn-col-16 main-title">
                    <h1>Layout 0002 - Título principal</h1>
                    <span>Sub-título</span>
                </div>
                <div class="pn-col-16 conteudo">
                    <b>
                        <p>
                            Sed voluptua dolor gubergren ipsum amet, <span class="underline">invidunt amet sanctus sit
                                voluptua ut duo at dolor.</span> At vero vero vero labore.
                        </p>
                    </b>
                </div>
                <div class="pn-col-16 observacao">
                    <p>
                        Sed voluptua dolor gubergren ipsum amet, <span class="underline">invidunt amet sanctus</span>
                        sit voluptua ut duo at dolor. At vero vero vero labore.
                    </p>

                </div>
                <div class="pn-col-16 data">
                    <p>
                        De 00 a 00 de gubergren. <span class="texto-bg">Vagas limitadas.</span>
                    </p>
                </div>
                <!-- botao -->
                <div class="pn-col-16 cta">
                    <div class="bt">
                        <div class="outer">
                            <div class="inner">
                                <div class="bg"></div>
                                <!--  -->
                                <a data-toggle="modal" data-target="#modal-lead" onclick="fbq('track', 'lead-start')">
                                    <button>GRÁTIS!<br />GARANTA JÁ SUA VAGA!</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pn-col-16 prova-social">
                    <div class="g-ytsubscribe" data-channel="panoxadrez" data-layout="default" data-count="default">
                    </div>

                    <div id="fb-root"></div>
                    <div class="fb-like" data-href="https://www.facebook.com/eliana.zerbinatti" data-width=""
                        data-layout="button" data-action="like" data-size="small" data-show-faces="false"
                        data-share="true">
                    </div>
                </div>
            </div>

        </div>
    </div>

</header>
<div class="ly-0002 pn-conteiner-fluid warning" data-lp-id="ly-0002">
    <div class="pn-row">
        <div class="pn-container">
            <div class="pn-row">
                <div class="pn-col-14 ">
                    <span>
                        Nos não compartilharemos seu endereço de e-mail com ninguém. Ao se cadastrar você
                        está concordando com os termos de nossa <a
                            href="https://prendasdolar.com.br/p/politica-de-privacidade" target="_blank">Política de
                            Privacidade</a>.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>