/*config geral*/
$ly-0002-grid: (size: 16,
    conteiner-max: 1000px,
    gutter: 20px,
    prefix: ''
);

* {
    box-sizing: border-box;
}

@include generate-grid(map($ly-0002-grid, size), map($ly-0002-grid, conteiner-max), map($ly-0002-grid, gutter), map($ly-0002-grid, prefix), '', 'pn-');

@include breakpoint-up(tablet-regular-land) {
    @include generate-grid(map($ly-0002-grid, size), map($ly-0002-grid, conteiner-max), map($ly-0002-grid, gutter), map($ly-0002-grid, prefix), "-tablet", 'pn-');
}


.ly-0002 {
    color: $c-black;

    &.conteudo-principal {

        &,
        >section {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    font-size: 16px;

    @include font-family(2);

    .bt {
        margin: 0 auto !important;
        

        .bg,
        button {
            @include size(100%);
            @include breakpoint-up(tablet-regular-portrait, tablet-regular-land) {
                @include size(calc(100% - 10px) !important);
            }
            
            
            border-radius: 5px;
            font-weight: bold;
        }
        .bg{
            background: degrade-color(transparent, transparent);
        }

    }

    .underline {
        font-size: 1em;
    }
}