.outer-container {
  max-width: 900px;
  margin: 0 auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}
.container-fluid > .row {
  margin: 0;
}

.row {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-16 {
  width: calc(100% - 20px);
}

.col-15 {
  width: calc(93.75% - 20px);
}

.col-14 {
  width: calc(87.5% - 20px);
}

.col-13 {
  width: calc(81.25% - 20px);
}

.col-12 {
  width: calc(75% - 20px);
}

.col-11 {
  width: calc(68.75% - 20px);
}

.col-10 {
  width: calc(62.5% - 20px);
}

.col-9 {
  width: calc(56.25% - 20px);
}

.col-8 {
  width: calc(50% - 20px);
}

.col-7 {
  width: calc(43.75% - 20px);
}

.col-6 {
  width: calc(37.5% - 20px);
}

.col-5 {
  width: calc(31.25% - 20px);
}

.col-4 {
  width: calc(25% - 20px);
}

.col-3 {
  width: calc(18.75% - 20px);
}

.col-2 {
  width: calc(12.5% - 20px);
}

.col-1 {
  width: calc(6.25% - 20px);
}

.col-16, .col-15, .col-14, .col-13, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  margin: 0 10px;
  float: left;
}

html {
  scroll-behavior: smooth;
}

.ly-0002.barra-navegacao {
  overflow: unset;
  z-index: 100;
  margin-bottom: 4vh;
  background: linear-gradient(150deg, #804546 0%, #914e4f 100%);
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px;
  box-shadow: 0px -14px 12px 6px #ffffff;
  padding: 20px 1.5vw;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.barra-navegacao {
    padding-bottom: 15vh;
  }
}
.ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
  font-size: 16px;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1360px) {
  .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1600px) {
  .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1920px) {
  .ly-0002.barra-navegacao *, .ly-0002.barra-navegacao {
    font-size: 33px;
  }
}
.ly-0002.barra-navegacao .dropdown-divider {
  margin: 0;
}
.ly-0002.barra-navegacao .titulo {
  text-align: center;
  font-family: "Ralewey", sans-serif;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.barra-navegacao .titulo {
    padding: 3vh 0 1vh;
  }
}
.ly-0002.barra-navegacao .titulo span {
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.barra-navegacao .titulo span {
    /* color: $cor1; */
  }
}
.ly-0002.barra-navegacao .titulo span.main-title {
  font-size: 1.75em;
}
.ly-0002.barra-navegacao .titulo span.sub-title {
  font-size: 1.29em;
}
.ly-0002.barra-navegacao hr {
  margin: 4px auto;
  border-color: rgba(0, 0, 0, 0.5);
}
.ly-0002.barra-navegacao a {
  color: #b57272;
  font-weight: bold;
}
.ly-0002.barra-navegacao .menu-aulas {
  text-align: center;
  margin: 20px 10px 10px;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.barra-navegacao .menu-aulas {
    display: none;
  }
}
.ly-0002.barra-navegacao .btn.dropdown-toggle {
  width: 90%;
  max-width: 300px;
}
.ly-0002.video {
  padding: 0 3vw;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.video {
    margin-top: -15vh;
    padding: 0 10vw;
  }
}
.ly-0002 .carousel-container {
  text-align: center;
  padding: 0 5vw 0;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002 .carousel-container {
    padding: 0;
  }
}
.ly-0002 .carousel-container .carousel-cell {
  background: #acacac;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.ly-0002 .carousel-container .carousel-cell > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ly-0002 .carousel-container .carousel {
  width: 100%;
  padding-bottom: 0;
}
.ly-0002 .lista-aula {
  font-family: "Raleway", "sans-serif";
  display: none;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002 .lista-aula {
    display: flex;
  }
}
.ly-0002 .lista-aula.lado-01 {
  text-align: right;
}
.ly-0002 .lista-aula.lado-01 .status {
  left: 0;
  text-align: right;
}
.ly-0002 .lista-aula.lado-02 {
  text-align: left;
}
.ly-0002 .lista-aula.lado-02 .status {
  right: 0;
  text-align: left;
}
.ly-0002 .lista-aula .aula-01,
.ly-0002 .lista-aula .aula-02,
.ly-0002 .lista-aula .aula-03,
.ly-0002 .lista-aula .aula-04,
.ly-0002 .lista-aula .aula-05,
.ly-0002 .lista-aula .aula-06 {
  width: 100%;
  height: 33.3333333333%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.ly-0002 .lista-aula .aula-01 a,
.ly-0002 .lista-aula .aula-02 a,
.ly-0002 .lista-aula .aula-03 a,
.ly-0002 .lista-aula .aula-04 a,
.ly-0002 .lista-aula .aula-05 a,
.ly-0002 .lista-aula .aula-06 a {
  font-size: 13px;
}
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .ly-0002 .lista-aula .aula-01 a,
  .ly-0002 .lista-aula .aula-02 a,
  .ly-0002 .lista-aula .aula-03 a,
  .ly-0002 .lista-aula .aula-04 a,
  .ly-0002 .lista-aula .aula-05 a,
  .ly-0002 .lista-aula .aula-06 a {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1600px) {
  .ly-0002 .lista-aula .aula-01 a,
  .ly-0002 .lista-aula .aula-02 a,
  .ly-0002 .lista-aula .aula-03 a,
  .ly-0002 .lista-aula .aula-04 a,
  .ly-0002 .lista-aula .aula-05 a,
  .ly-0002 .lista-aula .aula-06 a {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .ly-0002 .lista-aula .aula-01 a,
  .ly-0002 .lista-aula .aula-02 a,
  .ly-0002 .lista-aula .aula-03 a,
  .ly-0002 .lista-aula .aula-04 a,
  .ly-0002 .lista-aula .aula-05 a,
  .ly-0002 .lista-aula .aula-06 a {
    font-size: 27px;
  }
}
.ly-0002 .lista-aula .aula-01 span,
.ly-0002 .lista-aula .aula-02 span,
.ly-0002 .lista-aula .aula-03 span,
.ly-0002 .lista-aula .aula-04 span,
.ly-0002 .lista-aula .aula-05 span,
.ly-0002 .lista-aula .aula-06 span {
  font-size: 1em;
}
.ly-0002 .lista-aula .aula-02,
.ly-0002 .lista-aula .aula-05 {
  margin: 2px 0;
}
@media only screen and (min-width: 1360px) {
  .ly-0002 .lista-aula .aula-02,
  .ly-0002 .lista-aula .aula-05 {
    margin: 4px 0;
  }
}
@media only screen and (min-width: 1600px) {
  .ly-0002 .lista-aula .aula-02,
  .ly-0002 .lista-aula .aula-05 {
    margin: 6px 0;
  }
}
@media only screen and (min-width: 1920px) {
  .ly-0002 .lista-aula .aula-02,
  .ly-0002 .lista-aula .aula-05 {
    margin: 8px 0;
  }
}
.ly-0002 .lista-aula a {
  text-decoration: none;
  line-height: 1.2em;
}
.ly-0002 .lista-aula .status {
  position: absolute;
  top: 10%;
  width: 70%;
  padding: 2px 10px 2px;
  font-weight: bold;
  text-decoration: underline;
}
.ly-0002 .lista-aula .date {
  text-decoration: underline;
  font-weight: bold;
}
.ly-0002.comentarios {
  padding: 0 3vw;
  margin-top: 4vh;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002.comentarios {
    padding: 0 10vw;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
}

html {
  scroll-behavior: smooth;
}

footer {
  background: linear-gradient(150deg, #804546 0%, #914e4f 100%) !important;
}
footer li {
  list-style: none;
}
footer a {
  color: white;
}

.ly-0002.barra-navegacao .aula-01 {
  background: #b57272;
}
.ly-0002.barra-navegacao .aula-01 a {
  color: #ffffff;
}

.lista-aula .aula-01 {
  background: #b57272;
}
.lista-aula .aula-01 .date,
.lista-aula .aula-01 .title {
  color: #ffffff;
}
.lista-aula .aula-01 .status {
  background: #ffffff;
  color: #b57272;
}
.lista-aula .aula-01 .status::before {
  content: "HOJE";
}

.ly-0002.barra-navegacao .aula-02 a {
  color: #bbbbbb;
  font-weight: normal;
}

.lista-aula .aula-02 {
  background: #acacac;
}
.lista-aula .aula-02 .date,
.lista-aula .aula-02 .title {
  color: #803b3c;
}
.lista-aula .aula-02 .status {
  background: #803b3c;
  color: #acacac;
}
.lista-aula .aula-02 .status::before {
  content: "EM BREVE";
}

.ly-0002.barra-navegacao .aula-03 a {
  color: #bbbbbb;
  font-weight: normal;
}

.lista-aula .aula-03 {
  background: #acacac;
}
.lista-aula .aula-03 .date,
.lista-aula .aula-03 .title {
  color: #803b3c;
}
.lista-aula .aula-03 .status {
  background: #803b3c;
  color: #acacac;
}
.lista-aula .aula-03 .status::before {
  content: "EM BREVE";
}

.ly-0002.barra-navegacao .aula-04 a {
  color: #bbbbbb;
  font-weight: normal;
}

.lista-aula .aula-04 {
  background: #acacac;
}
.lista-aula .aula-04 .date,
.lista-aula .aula-04 .title {
  color: #803b3c;
}
.lista-aula .aula-04 .status {
  background: #803b3c;
  color: #acacac;
}
.lista-aula .aula-04 .status::before {
  content: "EM BREVE";
}

.ly-0002.barra-navegacao .aula-05 a {
  color: #bbbbbb;
  font-weight: normal;
}

.lista-aula .aula-05 {
  background: #acacac;
}
.lista-aula .aula-05 .date,
.lista-aula .aula-05 .title {
  color: #803b3c;
}
.lista-aula .aula-05 .status {
  background: #803b3c;
  color: #acacac;
}
.lista-aula .aula-05 .status::before {
  content: "EM BREVE";
}

.ly-0002.barra-navegacao .aula-06 a {
  color: #bbbbbb;
  font-weight: normal;
}

.lista-aula .aula-06 {
  background: #acacac;
}
.lista-aula .aula-06 .date,
.lista-aula .aula-06 .title {
  color: #803b3c;
}
.lista-aula .aula-06 .status {
  background: #803b3c;
  color: #acacac;
}
.lista-aula .aula-06 .status::before {
  content: "EM BREVE";
}
