@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/projetos\/atelie\/panoxadrez\.github\.io\/public_html\/belasprendasdolar\.com\.br\/scss\/campanhas\/000002\/aulas-pages\.scss}line{font-family:\000032}}
.ly-0002 .carousel-container {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/projetos\/atelie\/panoxadrez\.github\.io\/public_html\/belasprendasdolar\.com\.br\/scss\/campanhas\/000002\/aulas-pages\.scss}line{font-family:\000034}}
.ly-0002 .carousel-container .carousel-cell {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/projetos\/atelie\/panoxadrez\.github\.io\/public_html\/belasprendasdolar\.com\.br\/scss\/campanhas\/000002\/aulas-pages\.scss}line{font-family:\000036}}
.ly-0002 .carousel-container .carousel-cell iframe {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/projetos\/atelie\/panoxadrez\.github\.io\/public_html\/belasprendasdolar\.com\.br\/scss\/campanhas\/000002\/aulas-pages\.scss}line{font-family:\000038}}
.ly-0002 .carousel-container .carousel {
  width: 100%;
}
