//variaveis
$curso-id: 'curso00001';
/*Nome: Curso online de criacao e de formacao de professores de patchwork e quiling*/
/*ID: #{$curso-id}*/
//$curso00001-color: $c-red-1;
//$curso00001-color: $c-amarelo-mostarda;
$curso00001-color: $c-verde-musgo;
/*Cor do curso: #{$curso00001-color}*/

/* configuracao home - carousel*/
@if 0 < 1{
    $carousel-home-bg: 'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/banner_home.jpg';
    $carousel-home-bg-mobile: 'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/banner_home_mobile.jpg';
    @include config-home-carousel($curso-id, $carousel-home-bg, $carousel-home-bg-mobile){
        @include breakpoint-up(portrait){background-position: center center;}
    }
}

/* configuracao home - destaque*/
@include config-home-curso-destaque($curso-id, $curso00001-color, left, $c-white);


/*configuracao pagina de venda - cores header*/
@include config-venda-header($curso-id, $curso00001-color);

/*configuracao pagina de venda - BG mobile*/
@include config-venda-header-bg-image($curso-id, 'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/header-venda-mobile.jpeg');

/*configuracao pagina de venda - cores botoes*/
@include config-venda-header-bt($curso-id, ('lead', 'venda'), #293011, #2f3310);

/*configuracao pagina de venda - BGs Ctas*/
@if 0 < 1{
    //$cta-venda-color: rgba(#FF5021, .7);
    @include config-venda-header-cta($curso-id, '01', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_014.svg');
    @include config-venda-header-cta($curso-id, '02', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_011.svg');
    @include config-venda-header-cta($curso-id, '03', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_019.svg');
    @include config-venda-header-cta($curso-id, '04', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/clube_012.svg');
}

/*Configuracao label mobile*/
@include config-venda-titulo-before($curso-id, 'Curso');


@include config-venda-conteudo-squares($curso-id, $curso00001-color, 20px);


@include config-venda-aulas-color($curso-id, $curso00001-color);
@include config-venda-conteudo-colors($curso-id, $curso00001-color);

/*Configuracao carimbo header*/
@include config-venda-cta-carimbo-ativo($curso-id, 'none');



/*Status de venda*/
//@include config-venda-status($curso-id, 'venda');
@include config-venda-status($curso-id, 'lead');


/*Configuracoes adicionais*/
section.pagina-venda-header-curso#curso00001{
    .titulo-container h1{
        @include breakpoint-up(landscape){text-align: right};
        @include breakpoint-up(portrait, tablet-regular-land){text-align: left};
    }
}

