$curso-ativo: true;
$curso:(
    ativo: true,
    id: 'curso00001',
    nome: 'Patchwork & Quilting:'
);




$curso-ativo: true;
$curso-name: 'Curso online de criacao e de formacao de professores de patchwork e quiling';
$curso-id: 'curso00001';
$curso-color:(
c1: $c-verde-musgo,
c2: #ff986d
);
$curso-img:(
carousel-home: 'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/banner_home.jpg', 
carousel-home-mobile: 'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/banner_home_mobile.jpg',
header-venda-mobile:'https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/header-venda-mobile.jpeg'
);
/*$curso-icon:
icon-1: ('https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_014.svg', 
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_011.svg',
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_019.svg',
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_012.svg')
;*/

//checado
@if $curso-ativo{
    /*Nome: #{$curso-name}
    /*ID: #{$curso-id}
    **Cores do curso:
    ****Cor primaria: #{map-get($curso-color, c1)}
    ****Cor secundaria: #{map-get($curso-color, c2)}
    */

    /* configuracao home - carousel*/
    @include config-home-carousel{
        @include breakpoint-up(portrait){background-position: center center;}
    }

    /* configuracao home - destaque*/
    //@include config-home-curso-destaque($curso-id, map-get($curso-color, c1), left, $c-white);
    @include config-home-curso-destaque($curso-id, #de554e, left, #4ed7de, $c-white);

    /*configuracao pagina de venda - cores header*/
    @include config-venda-header($curso-id, map-get($curso-color, c1));

    /*configuracao pagina de venda - BG mobile*/
    @include config-venda-header-bg-image($curso-id, map-get($curso-img, header-venda-mobile));

    /*configuracao pagina de venda - cores botoes lead/venda*/
    @include config-venda-header-bt($curso-id, ('lead', 'venda'), map-get($curso-color, c2), #FDD5D1);
}
/*configuracao pagina de venda - BGs Ctas*/
@include config-venda-header-cta($curso-id, '01', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_014.svg');
@include config-venda-header-cta($curso-id, '02', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_011.svg');
@include config-venda-header-cta($curso-id, '03', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_019.svg');
@include config-venda-header-cta($curso-id, '04', 'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_012.svg');

/*Configuracao label mobile*/
@include config-venda-titulo-before($curso-id, 'Curso');


@include config-venda-conteudo-squares($curso-id, map-get($curso-color, c2), 20px);


@include config-venda-aulas-color($curso-id, map-get($curso-color, c1));
@include config-venda-conteudo-colors($curso-id, map-get($curso-color, c1));

/*Configuracao carimbo header*/
@include config-venda-cta-carimbo-ativo($curso-id, 'none');



/*Status de venda*/
//@include config-venda-status($curso-id, 'venda');
@include config-venda-status($curso-id, 'lead');


/*Configuracoes adicionais*/
section.pagina-venda-header-curso#curso00001{
    .titulo-container h1{
        @include breakpoint-up(landscape){text-align: right};
        @include breakpoint-up(portrait, tablet-regular-land){text-align: left};
    }
}

@include preload-img($curso-id, 'section.pagina-venda-header', (
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_014.svg', 
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_011.svg', 
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_019.svg', 
'https://panoxadrez.github.io/image/icones/club/tema-escuro/bg/clube_012.svg'
), 'desktop-small');




/*teste*/
//@include config-venda-tag-a($curso-id, map-get($curso-color, c1));
@include config-venda-tag-a($curso-id, $c-champagne);