/**/
$debug-color-1: #0069d9;

/*$cor-fundo-cursos-home: #D2BAA2;*/
$cor-fundo-cursos-home: rgba(201, 185, 162, 1);
$cor-fundo-cursos-home-A72: rgba(201, 185, 162, 0.75);
$cor-fundo-cursos-home-overlay: rgba(0, 0, 0, 0.75);
$primary-color: #de554e;

@mixin padding-curso-home{
    padding-left: 13%;
    padding-right: 13%;   
}

@mixin size-full-width{
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

div.containerCursosHome{
    @include size-full-width;
    background-color: $cor-fundo-cursos-home;
    position: relative;
    overflow: auto;
    text-align: center;
}

div.innerCursosHome{
    display: inline-block;
    div + div{
        margin-left: 4px;
        //border-left: 3px solid #FFFFFF;
        //border-right: 3px solid #FFFFFF;
    }
    

}

div.innerCursosHome > div::only-child{
        width: calc(100% - 10px) !important;
    }

div.cursoHome {
    width: calc(50% - 10px);
    min-width: 500px;
    float: left;
    height: 480px;
    border-left: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    display: inline;

}

.diagonal-1 .cursoHome {transform: skew(5deg);}
//correção em elementos filhos
.diagonal-1 .cursoHome > *{transform: skew(-5deg);}

.diagonal-2 .cursoHome {transform: skew(-5deg);}
//correção em elementos filhos
.diagonal-2 .cursoHome > *{transform: skew(5deg);}

.diagonal-1 .cursoHome ,
.diagonal-2 .cursoHome{
    box-shadow: 1px 1px 1px transparent;
}

div.nomeCurso {
    bottom: 0;
    right: -6%;
    left: -6%;
    position: absolute;
    background-color: $cor-fundo-cursos-home-A72;
    min-height: 70px; 
    @include padding-curso-home;
}


.cursoHome .overlay{
    top: 0; bottom: 0; left: -6%; right: -6%;
    position: absolute;
    @include padding-curso-home;
    background-color: $cor-fundo-cursos-home-overlay;
    color: white;
    transition: .5s ease;
    opacity: 0;
    padding-top: 10%;
}
.cursoHome .overlay p{text-align: justify;}

.cursoHome:hover .overlay{opacity: 1;}
.cursoHome:hover .nomeCurso{display: none;}

.overlay div{
    position: absolute;
    right: -6%;
    left: -6%;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    button{
        margin: auto;
        width: 45%;
        background-color: $primary-color;
        border: 0;
        border-radius: 5px;
        color: #FFFFFF;
    }
}

