.frase-destaque {
  padding: 5vh 0;
  text-align: center;
  position: relative;

  :not(.bg-overlay) {
    z-index: 1;
  }

  span {
    font-family: "Raleway";
    font-weight: 800;
  }

  &.pn-container-fluid {
    margin-bottom: 30px;
  }

  .frase-principal {
    font-size: $size-h3 * 1em;
  }
  .texto-secundario {
    font-size: $size-h4 * 1em;
  }
}
