/*mixing*/
@mixin size-full-width{
    position: relative;
    width: 100vw;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none ;
}
@mixin size-hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none ;
}
@mixin font-size-home{
    font-size: 100%;
    font-size: 16px;
    
};