 /* Compiled on #{timestamp()} */

//@import "v00002.dev/main.scss"; 

$css-major-version: 2;
$css-minor-version: 0;
$css-patch-correcao: 0;
$css-type-version: dev;
 
$css-current-version:"#{$css-major-version}.#{$css-minor-version}.#{$css-patch-correcao}";

//temp
/*bootstrap*/ 
@import "../../../../lib/bootstrap/4.3.1/bootstrap-min.css";
/*flickity*/
@import "../../../lib/flickity/v2/css/flickity.css";
/*belota*/
@import "https://fontlibrary.org/face/bellota";
/*hotscool*/
@import "https://cdn.hotscool.com/css/frontend.css";
/*opensans*/
@import "https://hotscool.com/fonts/opensans.css?r=87717";


 


@import "../../_framework/_dev.scss";

@import "v00002.dev/self-framework/_curso_config.scss";

@import "v00002.dev/self-framework/_variables.scss";
@import "v00002.dev/index-files/_layout.scss";
@import "v00002.dev/index-files/_modules.scss";
@import "v00002.dev/index-files/_sections.scss";

 
@import "../../tools/_live.scss";

@if ($css-type-version == dev){
    @warn "CSS Version: #{$css-current-version}. This is a test version!. Compiled on #{timestamp()}";
    /*CSS Version: #{$css-current-version}. This is a test version!. Compiled on #{timestamp()}*/
}
@else{
    @warn "Compiling CSS Version: #{$css-current-version}. Compiled on #{timestamp()}";
    /*Compiling CSS Version: #{$css-current-version}. Compiled on #{timestamp()}*/
}