/*old*/

.pagina-venda{
    @extend %size-full-width;
    @extend %font-size;

    color: $c-black;
    //@include breakpoint-up(mobile-regular-land){display: flex}

    @import "_variaveis.scss";

    &.header-curso, &.conteudo-curso{
        h2,h3{
            @include font-family(2);
            cursor: default; 
        }
        h2{
            margin-left: 20px;
            font-weight: 700;
            font-weight: bold;
            @include font-family(2);
        }
    }



    .content,.aulas{@include breakpoint-up(mobile-regular-land){float: left}}



    &.header-curso{
        @extend %size-full-width;
        @extend %font-size;

        @include breakpoint-up(tablet-regular-land){@include size(100vw, 100vh);}
        @include breakpoint-up(desktop-small){overflow: hidden}
        @import "_header.scss";
    }

    &.conteudo-curso{
        @extend %size-full-width;
        @extend %font-size;
        color: $c-black;
        @include breakpoint-up(mobile-regular-land){
            display: flex;
                margin-top: 20px;
        }

        @import "_conteudo.scss";
    }
    .aulas{
        
        padding-top: 5px;
        background-color: #fcfcfc;
        width: 100%;
        @include breakpoint-up(mobile-regular-land){
            width:($white-space * 1%);
            border-radius: 2vw 0 0 2vw;
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
        }

        @import "_aulas.scss";
    }
    
        @include dont-colapse(tablet-regular-land);
}
.anchor{
    display: none;
    position: absolute;
    height: 100px;
    top: -110px;
    width: 5px;
    background: pink;
}




/*
    - Rastro com tamanho igual o bg color
    - Adicionar cor no fundo das aulas (Utilizar cinza OU uma cor muito clara do curso?)

    - Estabelecer outras cores para o curso(Primaria, secudaria, terciaria etc)

    DESKTOP:
        - Adicionar margim esquerda na etapa NAO selecionada
        - Acrescentar preenchimento no titulo de etapas
        - Corrigir padding no conteudo e nas aulas
            - Conteudo: 0 6vw 0 6vw
            - Aulas:
                - MARGIM-LEFT na etapa: não selecionada 6vw left / selecionada 1vw        
*/