.lp-modal.ly-0002 {
  //background: $c-black;
  //background: #000;

  .modal {
    padding: 0;
    background: rgba(0, 0, 0, 0.45);

    .modal-dialog {
      width: 80%;
      max-width: 700px;
      margin: 5vh auto;
    }

    .modal-content {
      //padding: 0 5%;
      padding: 0 3vw;
    }

    .modal-header {
      border: 0;
      padding: 10px 0 0px;
      min-height: 0;

      p {
        @include font-size($size-h3 * 1em, $size-h3 * 1em);
        margin: 0;
      }
    }

    .modal-body {
      padding: 0;
      min-height: 0;
    }

    .modal-footer {
      font-size: 0.9em !important;
      text-align: center;
      padding: 1vh 0 0;
      margin: 0;
    }

    .loading-box {
      //position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      padding: 0 !important;
      margin: 0 auto !important;
    }

    .field-error {
      text-align: left;
      font-size: 1em;
    }

    .button-bar {
      padding: 0 !important;
      margin: 0 !important;
    }

    .d-none {
      display: none !important;
    }

    form {
      border: 0;

      input {
        //@include font-size(, 1.4em);
        @include responsive-font-size(($size-h5 * 1em), mobile-regular);
        font-size: 1.5em;
        padding: 10px;
      }
    }
    .bt {
      max-width: 260px;
      @include breakpoint-up(tablet-regular, tablet-regular-land) {
        max-width: 300px;
      }
      @include breakpoint-up(desktop-small) {max-width: 350px;}
      .outer {
        //@include aspect-ratio(105, 26);
        @include aspect-ratio(259, 58);
      }
      button {
        font-size: 1.5em;
      }
      .bg,
      button {
        @include size(100% !important);
        @include breakpoint-up(tablet-regular-portrait, tablet-regular-land) {
          @include size(calc(100% - 10px) !important);
        }
      }
    }
    //margin-config
    $margin-n1: 10px;
    .modal-body .input,
    .button-bar {
      margin: $margin-n1 0 !important;
      @include breakpoint-up(tablet-regular, tablet-regular-land) {
        margin: ($margin-n1 * 2) 0 !important;
      }
    }
  }
}

:not(.lp-modal) .modal-backdrop.fade.in {
  display: none !important;
}
