$size-h1: 3;
$size-h2: 2.75;
$size-h3: 1.75;
$size-h4: 1.66;
$size-h5: 1.29;
$size-h6: 1.15;
$size-p: 1;

$size-h3-old: 1.66;
$size-h4-old: 1.75;

%font-size {
  &,
  section,
  header,
  footer {
    font-size: 16px;
  }
}

section,
header,
footer {
  $medida: 1em;
  $imp: !important;

  h1 {
    font-size: $size-h1 * $medida + $imp;
  }

  h2 {
    font-size: $size-h2 * $medida + $imp;
  }

  h3 {
    font-size: $size-h3 * $medida + $imp;
  }

  h4 {
    font-size: $size-h4 * $medida + $imp;
  }

  h5 {
    font-size: $size-h5 * $medida + $imp;
  }

  h6 {
    font-size: $size-h6 * $medida + $imp;
  }

  p {
    font-size: $size-p * $medida + $imp;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: unset;
    margin-bottom: unset;
  }
}

@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";
