.popover.bottom {
  &.fade.in {
    opacity: 1 !important;
  }
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px !important;
}
.popover {
  max-width: 387px !important;
}
/*mudanca menu*/
.absoluto-centralizado.navegacao-normal,
.menu-automatico.barra-navegacao {
  @include font-family(2);
  z-index: 10;
  /* 
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.65) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  ); */
}
.absoluto-centralizado.navegacao-normal .container {
  //$cor-1: $c-white !important;
  //$cor-2: $c-red-1 !important;
  $cor-1: #250505;
  $cor-2: $c-white;

  .row.vertical-align.barra-navegacao.pTop10.pBottom10 .tabela.menu .celula {
    span a {
      color: $cor-1 !important;
    }
    .inline.mRight15.fonte-branca {
      color: $cor-1 !important;
    }
    .glyphicon.glyphicon-comment.f18.bold.pointer {
      color: $cor-1 !important;
    }
    .notificacoes.inline {
      .numero_notificacoes.vertical-align-all.bk-laranja.img-circle {
        color: $cor-2 !important;
        background-color: $cor-1 !important;
        border-color: $cor-2 !important;
      }
      .icone.inline i {
        color: $cor-1 !important;
      }
    }
    .foto-perfil {
      border-color: $cor-1 !important;
    }
    #menu-usuario {
      color: $cor-1 !important;
    }
    .botao-entrar {
      color: $cor-2 !important;
      background-color: rgba($cor-1, 0.8) !important;
      font-weight: bold;
    }
    .pre-login div {
      color: $cor-2 !important;
      background-color: $cor-1 !important;
    }
  }
  #nav-icon3 span {
    background-color: $cor-1 !important;
  }
}
.acesso {
  /*corrige bug com bootstrap e faz menus expandir*/
  .collapse.in {
    display: unset;
  }
}
.rodape1 {
  margin-top: 0 !important;
}

div.cursos > div {
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.meus-dados-cursos{
  margin-bottom: 0;
}