// ID: clube00001
// Nome: Clube Prendas do Lar (netflix do artesanato)
 
$clube00001-hero-image-desktop: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");
$clube00001-hero-image-mobile: url("https://panoxadrez.github.io/img/paginas/curso00001/header_center.jpeg");
$clube00001-chamada-modal: url("https://panoxadrez.github.io/img/paginas/curso00001/chamada_miniatura_modal.jpg");
 