.depoimentos {
  color: $c-black;

  > .pn-row > :nth-child(even) {
    .foto {
      order: 2;
      @include breakpoint(mobile-regular-land) {
        order: 0;
      }

      img {
        $bd-radius: 5px;
        border-radius: 0 $bd-radius $bd-radius $bd-radius;
      }
    }
    .nome,
    .profissao {
      text-align: right;
      @include breakpoint(mobile-regular-land) {
        text-align: left;
      }
    }
    .profissao {
      border-radius: 0 0 0 25px;
    }
    .nome {
      border-radius: 25px 0 0 0;
    }
  }

  h5 {
    color: $c-black;
    font-weight: bold;
    margin: 0;
  }

  .depoimento {
    display: flex;
    max-width: 500px;
    margin-bottom: 20px;
    @include breakpoint(mobile-regular-portrait) {
      margin-bottom: 30px;
    }
    @include breakpoint(tablet-regular) {
      margin-bottom: 40px;
    }
  }
  .profissao {
    margin-bottom: 3px;
    font-size: $size-h5 * 1em;
    border-radius: 0 0 25px 0;
  }
  .nome {
    font-size: $size-h4 * 1em;
    border-radius: 0 25px 0 0;
  }

  .texto{text-align: left}

  .texto,
  .nome,
  .profissao {
    padding: 0 10px;
    font-family: "raleway";
  }
  .nome,
  .profissao {
    text-align: left;
    font-weight: bold;
    background: pink;
    @include breakpoint(mobile-regular-portrait, mobile-regular-land) {
      background: none;
    }
  }
  .foto img {
    $bd-radius: 5px;
    border-radius: $bd-radius 0 $bd-radius $bd-radius;

    @include breakpoint(mobile-regular-land) {
      border-radius: $bd-radius !important;
    }
  }
}
