@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab";
#maincontainer h2.pageTitle{
    font-size:35pt;
    font-weight:700;
    line-height:40pt
}
@media screen and (max-width: 600px){
    #maincontainer h2.pageTitle{
        font-family:'Montserrat', sans-serif;
        font-size:30px;
        line-height:1.37 !important;
        text-align:center;
        margin-bottom:15px
    }
}
#maincontainer .container.centeralign.pageConteudo{
    display:flex
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo{
        display:unset
    }
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo h4{
        margin-bottom:10pt !important
    }
}
#maincontainer .container.centeralign.pageConteudo a.voltar{
    font-size:16px;
    text-align:center
}
#maincontainer .container.centeralign.pageConteudo .Assinatura{
    font-size:17pt;
    line-height:18pt
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter{
    border:solid 9px #ededed;
    max-width:100%;
    margin:15px;
    transition:border-color 1.0s ease-in
}
@media screen and (min-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter{
        min-width:320px
    }
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter{
        border:0;
        transition:none
    }
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter:hover{
    border-color:#5e5e5e;
    transition:border-color 1.0s ease-in
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter:hover{
        border:0;
        transition:none
    }
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter img{
    max-width:100%;
    margin:7px 0
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter *{
        max-width:100%;
        margin-left:0;
        margin-right:0
    }
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner{
    margin:5px;
    padding:0 7px;
    background-color:#ededed;
    text-align:center
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner{
        margin:0;
        padding:0;
        background-color:unset
    }
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img{
        border-radius:9px
    }
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img .imagemLateral{
    display:inline-block
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img .imagemLateral figure{
    margin:20px 0;
    transition:1.50s
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img .imagemLateral :hover,#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img .imagemLateral * :hover{
    filter:saturate(125%);
    transition:1.0s
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img .imagemLateral{
        position:relative;
        left:-50vw;
        right:-50vw;
        margin:unset !important;
        margin-left:50vw !important;
        margin-right:50vw !important
    }
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter div.containerImagemInner img figcaption{
    text-align:center;
    text-transform:uppercase
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto{
    margin:5px;
    padding:0 7px;
    border:0 !important;
    transition:none
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto :hover{
    border:0;
    transition:none
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto .imagemLateral figure{
    width:100%;
    text-transform:uppercase
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto .imagemLateral figure img{
    width:95%
}
#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto,#maincontainer .container.centeralign.pageConteudo div.containerImagemOuter.produto .containerImagemInner{
    background-color:unset
}
#maincontainer .container.centeralign.pageConteudo iframe.iframeGoogle{
    frameborder:0 !important;
    marginheight:0 !important;
    marginwidth:0 !important
}
#maincontainer .container.centeralign.pageConteudo iframe.iframeGoogle#cob{
    height:846px
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo iframe.iframeGoogle#cob{
        height:1000px
    }
}
#maincontainer .container.centeralign.pageConteudo ul,#maincontainer .container.centeralign.pageConteudo p,#maincontainer .container.centeralign.pageConteudo li{
    line-height:18pt;
    font-size:15pt;
    margin-bottom:20pt;
    text-align:justify
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo ul,#maincontainer .container.centeralign.pageConteudo p,#maincontainer .container.centeralign.pageConteudo li{
        text-align:left;
        margin:0 0 30px;
        font-size:19px;
        line-height:1.8;
        font-family:'Roboto Slab', serif;
        color:#444444
    }
}
@media screen and (min-width: 601px){
    #maincontainer .container.centeralign.pageConteudo ul{
        line-height:20pt !important;
        font-size:15pt !important;
        margin-bottom:10pt !important;
        text-align:justify !important;
    }
}
#maincontainer .container.centeralign.pageConteudo ul li{
    margin:0 0 19px !important
}
@media screen and (max-width: 600px){
    #maincontainer .container.centeralign.pageConteudo ul li{
        margin:0 0 19px
    }
    #maincontainer .container.centeralign.pageConteudo ul li::before{
        content:"•";
        margin-right:3px;
        padding:0
    }
}
#maincontainer .embedContainer{
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
    text-align:center;
    border-radius:7px
}
#maincontainer .embedContainer iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:inline
}
#maincontainer a:hover{
    text-decoration:underline;
    transition:ease-in 1.0s;
    color:#204894
}
#maincontainer .ladoA,#maincontainer .ladoB{
    max-width:100%
}
@media screen and (max-width: 600px){
    #maincontainer .ladoA,#maincontainer .ladoB{
        margin:0 4vw
    }
}
#maincontainer .ladoA .lateral,#maincontainer .ladoB .lateral{
    width:360px
}
#maincontainer .ladoA *,#maincontainer .ladoB *{
    max-width:100%
}
@media screen and (max-width: 600px){
    #maincontainer .ladoA *,#maincontainer .ladoB *{
        transition:none;
        max-width:100% !important
    }
}
#maincontainer div.ilustracao1,#maincontainer div.ilustracao2,#maincontainer div.ilustracao3{
    width:100%;
    text-align:center;
    display:inline-block;
    text-align:center;
    margin:10px 0;
    text-transform:uppercase
}
#maincontainer div.ilustracao1 figure,#maincontainer div.ilustracao1 img,#maincontainer div.ilustracao2 figure,#maincontainer div.ilustracao2 img,#maincontainer div.ilustracao3 figure,#maincontainer div.ilustracao3 img{
    border-radius:7px;
    transition:1.50s
}
#maincontainer div.ilustracao1 figure :hover,#maincontainer div.ilustracao1 img :hover,#maincontainer div.ilustracao2 figure :hover,#maincontainer div.ilustracao2 img :hover,#maincontainer div.ilustracao3 figure :hover,#maincontainer div.ilustracao3 img :hover{
    filter:saturate(125%);
    transition:1.0s
}
#maincontainer div.ilustracao1 figure,#maincontainer div.ilustracao2 figure,#maincontainer div.ilustracao3 figure{
    display:inline-block;
    vertical-align:top
}
#maincontainer div.ilustracao1 figcaption,#maincontainer div.ilustracao2 figcaption,#maincontainer div.ilustracao3 figcaption{
    margin-top:5px
}
#maincontainer div.ilustracao1 figcaption :hover,#maincontainer div.ilustracao2 figcaption :hover,#maincontainer div.ilustracao3 figcaption :hover{
    text-decoration:none
}
#maincontainer div.ilustracao1.grande,#maincontainer div.ilustracao1 figure,#maincontainer div.ilustracao1 img{
    width:100%;
    margin:0
}
#maincontainer div.ilustracao2 figure{
    width:46%;
    margin:0 5px
}
@media screen and (max-width: 600px){
    #maincontainer div.ilustracao2 figure{
        width:unset
    }
}
#maincontainer div.ilustracao3 figure{
    width:30%;
    margin:0 5px
}
@media screen and (max-width: 600px){
    #maincontainer div.ilustracao3 figure{
        margin:0 30px !important;
        width:unset
    }
}
 
#maincontainer .embed{
    display: flex;
    justify-content: center;
  }