$cor1-menu-frontend: #000000;
$cor2-menu-frontend: #FBFBFB;

.menu-automatico{display: none;}
.navegacao-normal {
    position: fixed;
    z-index: 90;
}


/*botão de entrar*/
.navegacao-normal .botao-branco-redondo.pointer.botao-entrar.inline.uppercase {
    color: $cor2-menu-frontend !important;
    background: $cor1-menu-frontend!important;
    font-weight: 700;
}

/*Linha divisoria*/
div.absoluto-centralizado.navegacao-normal .inline {
    color: $cor1-menu-frontend !important;
}

/*Links do menu*/
div.absoluto-centralizado.navegacao-normal span a {
    color: $cor1-menu-frontend !important;
}


/*Menu Burguer*/
div.absoluto-centralizado.navegacao-normal #nav-icon3 span, div#nav-icon3.abrir-menu.open span {
    background: $cor1-menu-frontend !important;
}

/*icones usuario logado*/
.glyphicon.glyphicon-comment.f18.bold.pointer {
    color: black !important;
}

/*sino de notificacoes*/
.notificacoes.inline .icone.inline i#notificacoes{
    color: $cor1-menu-frontend !important;
}

/*NUMERO DE NOTIFICAÇÕES USUARIO LOGADO*/
.absoluto-centralizado.navegacao-normal div.numero_notificacoes, .absoluto-centralizado.navegacao-normal img.foto-perfil {
    background: $cor2-menu-frontend  !important;
    color: $cor1-menu-frontend !important;
    border-color: $cor1-menu-frontend !important;
}

/*NOME DO USUARIO LOGADO*/
.absoluto-centralizado.navegacao-normal #menu-usuario{
    color: $cor1-menu-frontend !important;
}

/*correcao ao bootstrap / dropdown menu para cursos etc*/
.popover.bottom {
    &.fade.in{opacity: 1 !important;}
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0,0,0,.2) !important;
    border-radius: 6px !important;
}
.popover{
    max-width: 387px !important;
}