$padding-lateral-margin-home: 6%;

$img-generica-1980x1080: url("https://picsum.photos/1980/1080");
$img-generica-720x1280: url("https://picsum.photos/720/1280");
$img-generica-800x500: url("https://picsum.photos/800/500");