section.ly-0002#lp000002 {
  &.lp-header {
    &,
    * {
      color: $c-white;
    }
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url(https://panoxadrez.github.io/prendasdolar.com.br/img/cursos/curso00001/header-venda-mobile.jpeg);
    background-repeat: no-repeat;
  }
  &.lp-footer {
    background: degrade-color($c-black);
    color: $c-white;
  }
  .bt {
    button {
      background: degrade-color(#c15a5b);
    }
    .bg {
      background: degrade-color(#e2a147);
    }
  }
}
