.ly-0002 .social-media-cta {
    text-align: center;
    padding: 5vh 0 5vh !important;

    img {
      width: 50%;
      max-width: 100px;
      min-width: 30px;
      margin: 30px 0;
    }

    .facebook,
    .whatsapp {
      display: flex;
      flex-direction: column;
      .cta {
        margin-top: auto;
      }
    }

    .bt {
      margin: 25px auto 10px !important;

      button {
        font-size: ($size-h5 * 1em);
      }
    }
  }