$size-h1: 3.052;
$size-h2: 2.441;
$size-h3: 1.953;
$size-h4: 1.563;
$size-h5: 1.25;
$size-h6: 1.10;
$size-p: 1;

%font-size{    
    &, *{
        font-size: 16px;
    }
}

section, header{
    h1, .size-h1{font-size: $size-h1 *1em !important}
    h2, .size-h2{font-size: $size-h2 *1em !important}
    h3, .size-h3{font-size: $size-h3 *1em !important}
    h4, .size-h4{font-size: $size-h4 *1em !important}
    h5, .size-h5{font-size: $size-h5 *1em !important}
    h6, .size-h6{font-size: $size-h6 *1em !important}
    p,  .size-p {font-size: $size-p * 1em !important;}
}