/* Compiled on #{timestamp()} */
@import "../../../../../lib/sushi-framework/v00004/index";
@import "../../../../layouts/ly-0002/versions/0001.0.0/layout/paleta";

//$home: (id: "lp000002", id2: "#lp000002", color: (1: #7c3f3e, 2: #e2a047, 3: #006569), banner: (desktop: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg", mobile: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg", mobile-land: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg"));
$home: (
  color: (
    1: #de554e,
    2: #e2a047,
    3: #4ed7de
  ),
  banner: (
    desktop: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg",
    mobile: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg",
    mobile-land: "https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg"
  )
);

header.ly-0002[data-lp-id="home"]:not(.ty-page) {
  color: $c-white;
  background-color: black;
  background: $c-black url("#{map($home, banner, mobile)}") top center no-repeat;
  background-size: 100% auto;

  @include breakpoint-up(landscape) {
    background: black url("#{map($home, banner, mobile-land)}") top left no-repeat;
    background-size: 50% auto;
  }

  @include breakpoint-up(mobile-regular-land) {
    background: $c-black url("#{map($home, banner, desktop)}") top left no-repeat;

    //background-size: auto 100%;
    background-size: cover;
  }

  //background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
  background-repeat: no-repeat;

  .main-title * {
    //color: #aa504f !important;
    color: map($home, "color", 1) !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

footer.ly-0002[data-lp-id="home"] {
  background: #000;
  color: $c-white;
}

.lp-modal.ly-0002[data-lp-id="home"] {
  color: $c-black;

  a {
    color: map($home, "color", 1);
    font-weight: bold;

    &:hover {
      color: lighten(map($home, "color", 1), 10%);
    }
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .modal-footer {
    border-top: 1px solid map($home, "color", 1);
  }

  form {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  input {
    //$cor: map($home, "color", 1) !important;
    $cor: #468ceb !important;
    color: $cor;

    &::placeholder {
      color: $cor;
    }

    border: 1px solid $cor;
  }

  .field-error {
    color: map($home, "color", 1);
  }
}

.ly-0002[data-lp-id="home"] {
  .underline {
    font-size: 1em;
    border-color: map($home, "color", 2);
  }

  .texto-bg {
    background-color: invert(map($home, "color", 1));
    color: #010c0c;
  }

  .bt {
    $border-radius: 5px;

    button {
      //background: degrade-color(#c15a5b);
      background: degrade-color(map($home, "color", 1));
      color: $c-white;
      font-weight: bold;
      border-radius: $border-radius;
    }

    .bg {
      background: degrade-color(transparent, transparent);
      border-radius: $border-radius;

      @include breakpoint-up(tablet-regular-portrait, tablet-regular-land) {
        background: degrade-color(map($home, "color", 3));
      }
    }
  }

  b {
    color: map($home, "color", 1);
  }
}
