$cta-height: 20%;
$white-space: 35%;
$espaçamento: 15%;
$video: 50%;

$cor-curso-dev: #fbb03b;

div.header-curso{
    @extend %size-hero;
    @extend %font-size;

    > div{position: absolute}

    div.bg-color{
        $width:100% - $white-space; 
        @include size($width, 100%);
        $width: null;
        left: 0;       
        //background: linear-gradient(150deg,  #fbb03b 0%, lighten(#fbb03b, 5%) 100%);
        background: linear-gradient(150deg,  $cor-curso-dev 0%, lighten($cor-curso-dev, 2%) 100%);
    }
    div.image-container{
        width: $video;
        top: $espaçamento + 1%;
        right: $espaçamento;
        border-radius: 5px;
        overflow: hidden;

        div{
            @include aspect-ratio(16, 9);
            background-image: loremImage(1000, 1000);
            background-size: cover;
        }
    }
    div.titulo-container{
        top: $espaçamento + $espaçamento;
        left: $espaçamento;
        color: $cor-branco;

        .texto-auxiliar{font-size: 1em}
        .titulo-principal{font-size: 2.5em}
        .subtexto{font-size: 1.5em}
    }
    div.cta-container{
        width: 100%;
        height: $cta-height;
        bottom: 0;

        > div{float: left;}

        div.cta{
            width: 100% - $white-space;
            display: flex;
            text-align: center;
            div{
                margin: 10px;
                //border-radius: 25px;
                //border: 1px solid $cor-preto;
                height: 100%;
                //background-color: rgba($cor-preto, .3);
                color: $cor-branco;
            }
        }
        div.know-more{
            width: $white-space;
            height: 100%;
            display: table; 

            padding-bottom: 15px;

            h3{
                display: table-cell; 
                vertical-align: bottom;
                text-align: center;
                font-size: 2.1em;
                color: $cor-preto;
            }
        }
    }
}
div.conteudo-curso{
    @extend %size-full-width;
    > div{float: left}
    div.content{
        width: 100% - $white-space;
        padding: 10px 50px;
        h2{color: $cor-curso-dev}
    }
    div.aulas{
        width: calc(#{$white-space} - 28px);
        margin-left: 10px;
        //background: linear-gradient(150deg,  $cor-curso-dev 0%, lighten($cor-curso-dev, 2%) 100%);
        padding: 50px 23px 50px 15px;
        //height: 100%;

        div.cartao{
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;

            &.etapa {
                border-bottom: 1px solid black;
                background: $cor-branco;
            }




            div.header-etapa:before{content: "\FF0D";}
            div.header-etapa.collapsed:before {content: "\FF0B";}
            div.header-etapa:before{
                //height: 100%;
                //float: left;
                display: table-cell;
                vertical-align: middle;
                //padding: 20px 7px;
            }
        }

        div.header-etapa{
            height: 20vh;
            display: table;
            padding: 20px 7px;
            
            h3{
                text-align: right;
                display: table-cell;
                vertical-align: middle;
            }
        }

        div.frame-aula{
            width: 50%;
            margin-right: 20px;
            float: left;

            div{
                background-image: loremImage(500, 250);
                background-size: cover;
                @include aspect-ratio(16, 9);
                float: left;                
            }

        }

    }


}




//dev
div.header-curso{background-color: rgba(white, 0.5)};
div.cta-container div.cta div svg{width: 60%; fill: white;}
//div.know-more{background-color: rgba(pink, 0.5)}

