div.header-curso{
    $cta-height: 20%;
    $white-space: 35%;
    $espaçamento: 15%;
    $video: 50%;

    @extend %size-hero;
    @extend %font-size;

    > div{position: absolute}
    
    div.bg-color{
        $width:100% - $white-space;
        @include size($width, 100%);
        $width: null;
        left: 0;       
        //background: linear-gradient(150deg,  #fbb03b 0%, lighten(#fbb03b, 5%) 100%);
        background: linear-gradient(150deg,  #fbb03b 0%, lighten(#fbb03b, 2%) 100%);
    }
    
    div.image-container{
        width: $video;
        top: $espaçamento + 1%;
        right: $espaçamento;
        border-radius: 5px;
        overflow: hidden;
        
        div{
            @include aspect-ratio(16, 9);
            background-image: loremImage(1000, 1000);
            background-size: cover;
        }
    }

    div.titulo-container{
        top: $espaçamento + $espaçamento;
        left: $espaçamento;
        color: $cor-branco;
        
        .texto-auxiliar{font-size: 1em}
        .titulo-principal{font-size: 2.5em}
        .subtexto{font-size: 1.5em}
    }
    
    div.cta-container{
        width: 100%;
        height: $cta-height;
        bottom: 0;

        > div{float: left;}

        div.cta{
            width: 100% - $white-space;
            display: flex;
            text-align: center;
            div{
                margin: 10px;
                border-radius: 25px;
                border: 1px solid $cor-preto;
                height: 100%;
                background-color: rgba($cor-preto, .3);
                color: $cor-branco;
            }
        }
        div.know-more{
            width: $white-space;
            height: 100%;
            display: table; 

            padding-bottom: 15px;

            h3{
                display: table-cell; 
                vertical-align: bottom;
                text-align: center;
                font-size: 2.1em;
                color: $cor-preto;
            }
        }
    }


}





//dev
div.header-curso{background-color: rgba(white, 0.5)};
//div.know-more{background-color: rgba(pink, 0.5)}