/* Compiled on 2019-07-26 14:41:19 -0300 */
.ly-0002[data-lp-id=lp00004].lp-header {
  color: #FBFBFB;
  background-color: black;
  background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg") top center no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  @media only screen and (orientation: landscape) {
    .ly-0002[data-lp-id=lp00004].lp-header {
      background: black url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg") top left no-repeat;
      background-size: contain; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002[data-lp-id=lp00004].lp-header {
      background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg") top left no-repeat;
      background-size: cover; } }
  .ly-0002[data-lp-id=lp00004].lp-header .main-title * {
    color: #aa504f !important; }
.ly-0002[data-lp-id=lp00004].lp-principal .frase-destaque hr {
  border-color: #006569; }
.ly-0002[data-lp-id=lp00004].lp-principal .texto-destaque b {
  color: #7c3f3e; }
.ly-0002[data-lp-id=lp00004].lp-principal.chamada-lista {
  color: whitesmoke; }
.ly-0002[data-lp-id=lp00004].lp-principal .c-bg-01 {
  background-image: url("https://picsum.photos/1500/1500?random=1");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0 0 !important;
  width: 100% !important; }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background: #0A0A0A url("../../img/campanhas/lp000004/bg-chamada-lista.svg") left center no-repeat !important;
    background-size: 30% auto !important; } }
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background-size: 35% auto !important; } }
@media only screen and (min-width: 1920px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background-size: 38% auto !important; } }

section.ly-0002.lp-footer#lp00004 {
  background: #000;
  color: #FBFBFB; }

#lp00004 .underline {
  font-size: 1em;
  text-decoration: underline #e2a047; }
#lp00004 .bt {
  margin: 0 auto; }
  #lp00004 .bt button {
    background: linear-gradient(150deg, #7c3f3e 0%, #8d4847 100%);
    color: #FBFBFB;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 !important; }
  #lp00004 .bt .bg {
    background: linear-gradient(150deg, transparent 0%, transparent 100%);
    border-radius: 5px; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      #lp00004 .bt .bg {
        background: linear-gradient(150deg, #e2a047 0%, #e5ab5d 100%); } }

.modal-container#lp00004 {
  color: #0A0A0A; }
  .modal-container#lp00004 a {
    color: #7c3f3e;
    font-weight: bold; }
    .modal-container#lp00004 a:hover {
      color: #9e504f; }
  .modal-container#lp00004 .modal-content {
    background-color: rgba(255, 255, 255, 0.9); }
  .modal-container#lp00004 .modal-footer {
    border-top: 1px solid #7c3f3e; }
  .modal-container#lp00004 form {
    background-color: rgba(255, 255, 255, 0) !important; }
  .modal-container#lp00004 input {
    color: #7c3f3e !important;
    border: 1px solid #e2a047 !important; }
    .modal-container#lp00004 input::placeholder {
      color: #e2a047 !important; }
  .modal-container#lp00004 .field-error {
    color: #7c3f3e; }
