/* Compiled on 2019-07-29 15:36:07 -0300 */
section.ly-0002.lp-header#lp000003 {
  color: #FBFBFB;
  background-color: black;
  background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg") top center no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  @media only screen and (orientation: landscape) {
    section.ly-0002.lp-header#lp000003 {
      background: black url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg") top left no-repeat;
      background-size: contain; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    section.ly-0002.lp-header#lp000003 {
      background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg") top left no-repeat;
      background-size: cover; } }
  section.ly-0002.lp-header#lp000003 .main-title * {
    color: #aa504f !important; }

section.ly-0002.lp-footer#lp000003 {
  background: #000;
  color: #FBFBFB; }

#lp000003 .underline {
  font-size: 1em;
  text-decoration: underline #e2a047; }
#lp000003 .bt {
  margin: 0 auto; }
  #lp000003 .bt button {
    background: linear-gradient(150deg, #7c3f3e 0%, #8d4847 100%);
    color: #FBFBFB;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 !important; }
  #lp000003 .bt .bg {
    background: linear-gradient(150deg, transparent 0%, transparent 100%);
    border-radius: 5px; }
    @media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
      #lp000003 .bt .bg {
        background: linear-gradient(150deg, #e2a047 0%, #e5ab5d 100%); } }

.modal-container#lp000003 {
  color: #0A0A0A; }
  .modal-container#lp000003 a {
    color: #7c3f3e;
    font-weight: bold; }
    .modal-container#lp000003 a:hover {
      color: #9e504f; }
  .modal-container#lp000003 .modal-content {
    background-color: rgba(255, 255, 255, 0.9); }
  .modal-container#lp000003 .modal-footer {
    border-top: 1px solid #7c3f3e; }
  .modal-container#lp000003 form {
    background-color: rgba(255, 255, 255, 0) !important; }
  .modal-container#lp000003 input {
    color: #7c3f3e !important;
    border: 1px solid #e2a047 !important; }
    .modal-container#lp000003 input::placeholder {
      color: #e2a047 !important; }
  .modal-container#lp000003 .field-error {
    color: #7c3f3e; }
