/* Compiled on 2019-07-31 19:57:58 -0300 */
.padding-5vh0 {
  padding: 5vh 0; }

header.ly-0002[data-lp-id=lp00003] {
  color: #FBFBFB;
  background-color: black;
  background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg") top center no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  @media only screen and (orientation: landscape) {
    header.ly-0002[data-lp-id=lp00003] {
      background: black url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg") top left no-repeat;
      background-size: contain; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    header.ly-0002[data-lp-id=lp00003] {
      background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg") top left no-repeat;
      background-size: cover; } }
  header.ly-0002[data-lp-id=lp00003] .main-title * {
    color: #7c3f3e !important; }

.ly-0002[data-lp-id=lp00003] .underline {
  font-size: 1em;
  text-decoration: underline #e2a047; }
.ly-0002[data-lp-id=lp00003] .frase-destaque hr {
  border-color: #006569; }
.ly-0002[data-lp-id=lp00003] .texto-destaque b {
  color: #7c3f3e; }
.ly-0002[data-lp-id=lp00003] .chamada-lista {
  color: whitesmoke; }
.ly-0002[data-lp-id=lp00003] .c-bg-01 {
  background-image: url("https://media.istockphoto.com/photos/bamboo-craft-texture-background-picture-id629746844");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002[data-lp-id=lp00003] .c-bg-02 {
    background: #0A0A0A url("../../img/campanhas/lp000004/bg-chamada-lista.svg") left center no-repeat !important;
    background-size: 30% auto !important; } }
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .ly-0002[data-lp-id=lp00003] .c-bg-02 {
    background-size: 35% auto !important; } }
@media only screen and (min-width: 1920px) {
  .ly-0002[data-lp-id=lp00003] .c-bg-02 {
    background-size: 38% auto !important; } }
.ly-0002[data-lp-id=lp00003].lp-modal {
  color: #0A0A0A; }
  .ly-0002[data-lp-id=lp00003].lp-modal a {
    color: #7c3f3e;
    font-weight: bold; }
    .ly-0002[data-lp-id=lp00003].lp-modal a:hover {
      color: #9e504f; }
  .ly-0002[data-lp-id=lp00003].lp-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.9); }
  .ly-0002[data-lp-id=lp00003].lp-modal .modal-footer {
    border-top: 1px solid #7c3f3e; }
  .ly-0002[data-lp-id=lp00003].lp-modal form {
    background-color: rgba(255, 255, 255, 0) !important; }
  .ly-0002[data-lp-id=lp00003].lp-modal input {
    color: #7c3f3e !important;
    border: 1px solid #e2a047 !important; }
    .ly-0002[data-lp-id=lp00003].lp-modal input::placeholder {
      color: #e2a047 !important; }
  .ly-0002[data-lp-id=lp00003].lp-modal .field-error {
    color: #7c3f3e; }
.ly-0002[data-lp-id=lp00003] .bt button {
  background: linear-gradient(150deg, #7c3f3e 0%, #8d4847 100%);
  color: #FBFBFB; }
@media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
  .ly-0002[data-lp-id=lp00003] .bt .bg {
    background: linear-gradient(150deg, #e2a047 0%, #e5ab5d 100%); } }
.ly-0002[data-lp-id=lp00003] p b {
  color: #7c3f3e; }
.ly-0002[data-lp-id=lp00003] hr {
  border-color: #006569; }

footer.ly-0002[data-lp-id=lp00003] {
  background: #000;
  color: #FBFBFB; }

.colors-sample .color-1 {
  background-color: #7c3f3e; }
.colors-sample .color-2 {
  background-color: #e2a047; }
.colors-sample .color-3 {
  background-color: #006569; }
