/* Compiled on 2019-07-29 16:39:53 -0300 */
.ly-0002[data-lp-id=lp00004].lp-header {
  color: #FBFBFB;
  background-color: black;
  background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile.jpg") top center no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat; }
  @media only screen and (orientation: landscape) {
    .ly-0002[data-lp-id=lp00004].lp-header {
      background: black url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_mobile_land.jpg") top left no-repeat;
      background-size: contain; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    .ly-0002[data-lp-id=lp00004].lp-header {
      background: #0A0A0A url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000002/bg_desktop.jpg") top left no-repeat;
      background-size: cover; } }
  .ly-0002[data-lp-id=lp00004].lp-header .main-title * {
    color: #ff6347 !important; }
.ly-0002[data-lp-id=lp00004].lp-principal .frase-destaque hr {
  border-color: #d49e1c; }
.ly-0002[data-lp-id=lp00004].lp-principal .texto-destaque b {
  color: #ff6347; }
.ly-0002[data-lp-id=lp00004].lp-principal.chamada-lista {
  color: whitesmoke; }
.ly-0002[data-lp-id=lp00004].lp-principal .c-bg-01 {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/6305d847-0966-4deb-a4c1-8d6db02d1704/d4nnw5i-3ccfe387-8005-4480-84d8-51114ae91800.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0 0 !important;
  width: 100% !important; }
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background: #0A0A0A url("../../img/campanhas/lp000004/bg-chamada-lista.svg") left center no-repeat !important;
    background-size: 30% auto !important; } }
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background-size: 35% auto !important; } }
@media only screen and (min-width: 1920px) {
  .ly-0002[data-lp-id=lp00004].lp-principal .c-bg-02 {
    background-size: 38% auto !important; } }
.ly-0002[data-lp-id=lp00004].lp-footer {
  background: #000;
  color: #FBFBFB; }
.ly-0002[data-lp-id=lp00004].lp-modal {
  color: #0A0A0A; }
  .ly-0002[data-lp-id=lp00004].lp-modal a {
    color: #ff6347;
    font-weight: bold; }
    .ly-0002[data-lp-id=lp00004].lp-modal a:hover {
      color: #ff8e7a; }
  .ly-0002[data-lp-id=lp00004].lp-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.9); }
  .ly-0002[data-lp-id=lp00004].lp-modal .modal-footer {
    border-top: 1px solid #ff6347; }
  .ly-0002[data-lp-id=lp00004].lp-modal form {
    background-color: rgba(255, 255, 255, 0) !important; }
  .ly-0002[data-lp-id=lp00004].lp-modal input {
    color: #ff6347 !important;
    border: 1px solid #d2baa2 !important; }
    .ly-0002[data-lp-id=lp00004].lp-modal input::placeholder {
      color: #d2baa2 !important; }
  .ly-0002[data-lp-id=lp00004].lp-modal .field-error {
    color: #ff6347; }
.ly-0002[data-lp-id=lp00004] .underline {
  font-size: 1em;
  text-decoration: underline #d2baa2; }
.ly-0002[data-lp-id=lp00004] .bt button {
  background: linear-gradient(150deg, #ff6347 0%, #ff7961 100%);
  color: #FBFBFB; }
@media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
  .ly-0002[data-lp-id=lp00004] .bt .bg {
    background: linear-gradient(150deg, #d2baa2 0%, #dac7b3 100%); } }
.ly-0002[data-lp-id=lp00004] p b {
  color: #ff6347; }
.ly-0002[data-lp-id=lp00004] hr {
  border-color: #d49e1c; }

.lista-cores .color-example {
  width: 100px;
  height: 30px; }
.lista-cores #cor01 .color-example {
  background-color: #ff6347; }
.lista-cores #cor02 .color-example {
  background-color: #d2baa2; }
.lista-cores #cor03 .color-example {
  background-color: #d49e1c; }
