.ly-0002.chamada {
  margin: 20px auto;
  $bd-radius: 5px;
  font-size: 14px;
  @include breakpoint(mobile-regular-land) {
    margin: 20px auto;
  }
  @include breakpoint(tablet-regular-land) {
    padding: 0 10vw;
  }
  padding: 0 3vw !important;

  .mobile {
    @include breakpoint(mobile-regular-land) {
      display: none;
    }
  }
  .desktop {
    display: none;
    @include breakpoint(mobile-regular-land) {
      display: unset;
    }
  }
  .text {
    $padding-up: 10px;
    $padding-side: 3vw;
    padding: $padding-up $padding-side $padding-up;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    text-align: left;
    //color: #282828;
    border-radius: 0 0 $bd-radius $bd-radius;
    @include breakpoint(tablet-regular-land) {
      border-radius: 3px;
    }
    font-size: 14px;

    @include breakpoint(mobile-regular-land) {
      font-size: 16px;
    }
    @include breakpoint(desktop-regular) {
      font-size: 20px;
    }
    @include breakpoint(desktop-large) {
      font-size: 27px;
    }

    //&::before,
    .chamada-span {
      //background-color: #803b3c;color: #acacac;
      padding: $padding-up;
      font-weight: bold;
      white-space: pre-wrap;
      margin: 0 0 10px -3vw;
      font-size: 0.9em;
      width: 70%;
      margin-bottom: 1.3em;

      @include breakpoint(portrait, mobile-regular-land) {
        width: 90%;
      }
      @include breakpoint(mobile-regular-land) {
        font-size: 1em;
      }
      //white-space: pre-wrap;
      h6 {
        font-weight: bold;
      }
    }

    //@include breakpoint(mobile-regular-land) {color: #282828;}
  }

  .bt {
    width: 70%;
    margin: 20px auto 0 !important;

    * {
      border-radius: 0px;
    }
    button {
      font-weight: bold;
      //background: #803b3c;color: #fbfbfb;
    }
    
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: $bd-radius $bd-radius 0 0;
    @include breakpoint(tablet-regular-land) {
      border-radius: 3px;
    }
  }
}
