@mixin home-depoimento-bg($id, $opcao: "nd") {
  $id: "#" + $id;
  //@debug $id;
  $bg: null;
  @if $opcao == "nd" {
    $opcao: random(3) + 1;
  }

  @if $opcao == 1 {
    $bg: "https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001";
  } @else if $opcao == 2 {
    $bg: "https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002";
  } @else if $opcao == 3 {
    $bg: "https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003";
  } @else if $opcao == 4 {
    $bg: "https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004";
  } @else {
    @error 'Escolha uma opcao correta';
  }

  @debug "section.depoimentos .depoimentos-home1 #{$id} div.nome";
  section.depoimentos {
    .depoimentos-home1 #{$id},
    .depoimentos-home3 #{$id} {
      div.nome {
        background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg);
      }
    }
    .depoimentos-home2 #{$id},
    .depoimentos-home4 #{$id} {
      .nome {
        background-image: url(#{$bg}.flip.svg);
        @include breakpoint-up(tablet-regular) {
          background-image: url(#{$bg}.svg);
        }
      }
    }
  }
}
@mixin dont-colapse($class: ".dont-collapse", $breakpoint: false) {
  @if $breakpoint != false {
    @include breakpoint-up($breakpoint) {
      #{$class}.collapse {
        display: block;
        height: auto !important;
        visibility: visible;
      }
      #{$class}.collapsing {
        position: relative;
        height: unset !important;
        overflow: hidden;
      }
    }
  } @else {
    #{$class}.collapse {
      display: block;
      height: auto !important;
      visibility: visible;
    }
    #{$class}.collapsing {
      position: relative;
      height: unset !important;
      overflow: hidden;
    }
  }
}
@mixin tool-display-none($target, $prefixo, $list) {
  $display-none: "";
  $debug: false;
  $debug-console: false;

  @if $debug {
    /*Debug mixin: tool-display-none
        **Targer: #{$target}
        **Prefixo: #{$prefixo}
        **Lista de status: #{$list}
        */
  }
  @if $debug-console {
    @debug "Debug mixin: tool-display-none";
    @debug "Target: #{$target}";
    @debug "Prefixo: #{$prefixo}";
    @debug "Lista: " $list;
    @debug "";
  }

  @if $target == "none" {
    @if $debug-console {
      @debug "target: none iniciado";
    }
    @each $status in $list {
      @if $display-none != "" {
        $display-none: $display-none + ", ";
      }
      $display-none: $display-none + $prefixo + $status;
      @if $debug-console {
        @debug "Display-none: #{$display-none}";
      }
    }
  } @else {
    @if $debug-console {
      @debug "Else inciado";
    }
    @each $status in $list {
      @if $status == $target {
        @if $debug-console {
          @debug "Status encontrado";
        }
      } @else {
        @if $display-none != "" {
          $display-none: $display-none + ", ";
        }
        $display-none: $display-none + $prefixo + $status;
      }
    }
  }
  @if $display-none == "" {
    $display-none: ".erro";
  }

  @if $debug-console {
    @debug "Final output: ";
    @debug "#{$display-none} :";
    @debug "    display: none";
  }

  #{$display-none} {
    display: none;
  }
}
@mixin status-verify($id, $status, $mixin-name) {
  $i: true;
  @each $status-list-item in $status-list {
    @if $status == $status-list-item {
      $i: false;
    }
  }
  @if $i {
    @error "Erro com mixin #{$mixin-name}, id do curso: #{$id}, status escolhido: #{$status}.escolha um status de venda correto.";
  }
}
@mixin preload-img($id, $selector, $urls, $breakpoint: false) {
  $id: "#" + $id;
  $img-urls: "";
  //section.pagina-venda-header

  @if $breakpoint {
    @include breakpoint-up($breakpoint) {
      #{$selector}#{$id}:before {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: -1; // hide images
        @each $url in $urls {
          @if $img-urls != "" {
            $img-urls: $img-urls + " ";
          }
          $img-urls: $img-urls + "url(" + $url + ")";
        }
        //content:url(img1.png) url(img2.png) url(img3.gif) url(img4.jpg);   // load images
        content: #{$img-urls};
      }
    }
  } @else {
    #{$selector}#{$id}:before {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      z-index: -1; // hide images
      @each $url in $urls {
        @if $img-urls != "" {
          $img-urls: $img-urls + " ";
        }
        $img-urls: $img-urls + "url(" + $url + ")";
      }
      //content:url(img1.png) url(img2.png) url(img3.gif) url(img4.jpg);   // load images
      content: #{$img-urls};
    }
  }
}
