$cta-height: 20%;
$white-space: 35%;
$espaçamento: 15%;
$video: 50%;

$cor-curso-dev: #fbb03b;

div.header-curso{
    @extend %size-full-width;
    @extend %font-size;
    //display: table;

    div.bg-color{
        position: absolute;
        top: 0;
        left: 0;
        @include square(100%);

    }
    .bg-image{
        @include size(100vw, 100vh);
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
        background-image: loremImage(2000, 1080);
    } 
    .carousel-container{
        @include size(100%, 1px);
        @include aspect-ratio(16, 9);
        position: relative;
        //display: inline;
        //z-index: 2;

        //.carousel:after {
        //    content: '';
//            @include breakpoint-up(tablet-regular, tablet-regular-land){
//                content: 'flickity';
//                display: none
//            }
//        }
        //div.carousel-cell:not(.video) {display: none;}



    }
    .titulo-container{
        @include size(100%, 100vh);
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: $know-more-size;
        color: $cor-branco;
        font-size: 1em;
        padding: 0 8px;
    }
    .cta-container{
        position: relative;
        
        .icon{max-width: 50px}
        
    }






}
div.conteudo-curso{
    @extend %size-full-width;
    @extend %font-size;
}

/* flickity on by default */



//dev
//div.header-curso{background-color: rgba(white, 0.5)};
//div.cta-container div.cta div svg{width: 60%; fill: white;}
//.carousel.carousel-curso .cell-inner .foto{ background-image: loremImage(1000, 1000); background-size: cover;}

