$cta-height: 20%;
$white-space: 35%;
$espaçamento: 15%;
$video: 50%;

$cor-curso-dev: #fbb03b; 

div.header-curso{

    @extend %size-full-width;
    @extend %font-size;
    //display: table;

    div.bg-color{
        position: absolute;
        top: 0;
        left: 0;
        @include square(100%);

    }
    .bg-image{
        @include size(100vw, 100vh);
        position: absolute;
        background-size: cover;
        top: 0;
        left: 0;
    } 


    .carousel-container{
        @include aspect-ratio(16,9);


    }
    .titulo-container{
        @include size(100%, 100vh);
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: $know-more-size;
        color: $cor-branco;
        font-size: 1em;
        padding: 0 8px;
    }
    .cta-container{
        position: relative;
        padding: 0 10px;
        text-align: center;
        h4{text-align: center;}
        p{text-align: justify}
        div.cta{
            max-width: 100%;
            margin-bottom: 30px;
            display: flex;
            .icon{
                max-width: 170px;
                height: 100%;
                float: left;
                margin-right: 15px;
                img{width: 100%}
            }
        }


    }

    .know-more span{
        display: none !important;
    }




}
div.conteudo-curso{
    @extend %size-full-width;
    //@extend %font-size;
    padding: 0 10px;
    @include breakpoint-up(mobile-regular-land){display: flex}
    .content,.aulas accordion{
        @include breakpoint-up(mobile-regular-land){float: left}
    }
    div.content{
        width: 100%;        
        @include breakpoint-up(mobile-regular-land){width: 100% - $white-space;}
    }

    div.accordion.cursoContent{
        @include breakpoint-up(mobile-regular-land){
            .collapse{
                display: inline !important;
                &.collapsing {
  transition: none !important;
}
            }
        }
    }
    div.aulas.accordion{
        width: 100%;
        @include breakpoint-up(mobile-regular-land){width: $white-space;}

    }


    .accordion.cursoContent{
        cursor: default;
    }
    .cartao{
        display: grid;
        margin-bottom: 20px;
    }       
    .cartao .header-aula .frame-aula{
        width: 150px;
        //display: inline-table;
        //background-color: black;
        float: left;
        background-size: cover;
        margin-right: 20px;


        display: none;
        @include breakpoint-up(mobile-small, mobile-small-land){display: inline-table;}

        div{
            @include aspect-ratio(16,9);
            background-size: cover;
        }
    }


}

/* flickity on by default */



//dev
//div.header-curso{background-color: rgba(white, 0.5)};
//div.cta-container div.cta div svg{width: 60%; fill: white;}
//.carousel.carousel-curso .cell-inner .foto{ background-image: loremImage(1000, 1000); background-size: cover;}

