@keyframes float-up-down {
    //0%   {margin-top:5%;}
    //100% {margin-top:95%; opacity: 0;}
    
    
    0%   {transform: translate(0, 5%)}
    100% {transform: translate(0, 250%); opacity: 0; }
    
    
    
    
}


@keyframes float-bottom-top{
    0% {transform: translate(0, 5%); opacity: 0;}
    100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes float-right-left{
    
    0% {transform: translate(5%); opacity: 0;}
    100% {transform: translate(0);opacity: 1;}   
}