section .modal{
    background-color: rgba(0, 0, 0, 0.75);
    &.fade{
        opacity: unset !important;
    }
    .centralizado{
        display: flex;
        width: 50%;

        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - (0.5rem * 2));




        .modal-content{
            width: 100%;
        }   
    }
}

/*.modal-dialog-centered{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));

}*/