@mixin curso-colors($id, $color){
    $id: id-fixer($id); 
    @debug $id;
    $darken-color-1: darken($color, 20% );
    $darken-color-2: darken($color, 45% );
    $lighten-colo-1: lighten($color, 25%);
    $inverted-color: invert($color);
    $debug: false;

    @if $debug{
        @debug "   ";@debug "   ";@debug "   ";
        @debug "curso debug start:";
        @debug "ID: #{$id}, cor: #{$color}";
        @debug "cor invertida: #{$inverted-color}";
        @debug "   ";@debug "   ";@debug "   ";

    }


    //@debug '#{$id} .know-more a span{color: $darken-color-1 !important}';

    //configuracao curso destaque home
    section.cursos-destaque section.curso#{$id}{
        header.titulo {
            h3, span{color: $darken-color-1}            
        }
        .foto .bg{
            background-image: degrade-color($color);
        }
        .bt{
            button{
                background-image: degrade-color($color);
                @include color-check($color);
            }
            .bg{
                background-image: degrade-color($inverted-color);
            }

        }
    }

    //config de página de curso
    section.header-curso#{$id}{
        .bg-color{background-image: degrade-color($color)}
        .know-more a span{color: $darken-color-1}
        .titulo-container{
            @include breakpoint-up(tablet-regular-land){@include color-check($color);}
        }        
        .cta-container{
            p,h4{@include color-check($color);}
            .cta.buy .bt{
                $i: $inverted-color;
                $i: adjust-hue($i, 20%);
                $i: saturate($i, 30%);

                button{
                    background-image: degrade-color($i);
                    color: color-adapt($i) !important;
                    //color: darken($color, 20%) !important;
                    //color: $color !important;
                }
                .bg{
                    background-image: degrade-color($inverted-color);
                }
            } 
        }

    }
    section.rastro#{$id}{
        @include breakpoint-up(mobile-small-land){
            ol{
                a, span{
                    background: $lighten-colo-1;
                    @include color-check($lighten-colo-1);
                }


                //a, span {&:after {border-left-color: lighten($color, 25%)}}
                a, span {&:after {border-left-color: lighten($color, 25%)}}
                li:last-child{
                    > *{
                        background: $darken-color-1; 
                        @include color-check($darken-color-1);
                    }
                }
            }
        }
    }
    section.conteudo-curso#{$id}{
        .icons h3{color: $darken-color-1}
        h2, .size-h2{color: darken($color, 25% )};
        h3, .size-h3{color: darken($color, 30% )};
        h4, .size-h4{color: darken($color, 35% )};
        h5, .size-h5{color: darken($color, 40% )};

        .aulas{
            .header-etapa{
                @include breakpoint-up(mobile-regular){ 
                    background-color: $color;
                    *{color: color-adapt($color, false) !important;}
                }
            }
        }




    }

}
@mixin curso-venda-bg-image($id, $url){
    $id: '#' + $id; 
    section.header-curso#{$id} .bg-image {background-image: $url;}
}
@mixin curso-venda-carousel-image($id, $slide, $url){
    $id: '#' + $id;
    //#curso00002 > div.carousel-header > div > div > div.carousel-cell.is-selected > div > div
    #{$id} .carousel-header .carousel-cell .img#{$slide}{background-image: $url;} 

}
@mixin curso-display-primeira-aula($id, $aula){ 
    #{$id} .cartao .header-aula .frame-aula#frame-aula-#{$aula}{
        display: inline-table !important; 
    }  
}
@mixin cursos-cta-config($id, $ctas){
    $id: '#' + $id;
    //@debug $ctas;
    $ctas: 100% / $ctas;
    //@debug $ctas;
    @include breakpoint-up(tablet-regular-land){
        @include size(100%);
        #{$id} .cta-container div.cta{max-width: $ctas;}
    }
}
@mixin cursos-cta-color($id, $color, $ctas-number, $text-color: 'nao declarado'){
    $id: '#' + $id;
    //@debug $color;
    @include breakpoint-up(desktop-small){
        //@debug '#{$id} .cta-container div.cta cta-#{$ctas-number} .descricao';
        #{$id} .cta-container div.cta.cta-#{$ctas-number} .descricao{
            background-color: $color;
            @if $text-color == 'nao declarado'{
                @warn "CONFIGURACAO CTAs: gerado cor de fundo em header cursos SEM COR DE TEXTO DEFINIDA.";
                @if (lightness($color) > 50) {
                    color: $c-white;
                }@else{color: $c-black;}
            }@else{
                color: $text-color;
            }
        }        
    }
}
@mixin curso-header-buttom($id, $bg-color, $text-color: 'nao declarado'){
    $id: '#' + $id;
    div.header-curso#{$id} .cta-container div.cta.buy .buy-buttom button{
        background-color: $bg-color;
        @if $text-color == 'nao declarado'{
            @warn "CONFIGURACAO CTAs: gerado cor de fundo em header cursos SEM COR DE TEXTO DEFINIDA.";
            @if (lightness($bg-color) > 50) {
                color: $c-white;
            }@else{color: $c-black;}
        }@else{
            color: $text-color;
        }
    }
}

@mixin curso-header-cta-config($id, $cta-number, $cta-bg-color, $img-url, $text-color){
    $id: id-fixer($id); 
    section#{$id}.header-curso.pagina-venda .cta-container .cta-#{$cta-number}:hover{
        background-color: $cta-bg-color;
        background-image: $img-url;
        p, span{
            color: $text-color !important;
        }
    }
}

@mixin home-carousel-img($id, $url){
    $id: '#' + $id;
    //@debug $id;
    .carousel-home .carousel-cell#{$id}{
        background-image: $url;
        @content
    }
}
@mixin home-carousel-img-mobile($id, $url){
    $id: '#' + $id;
    //@debug $id;
    @include breakpoint-up(portrait){
        .carousel-home .carousel-cell#{$id}{
            background-image: $url;
            @content
        }
    }
}
@mixin curso-destaque-home($id, $position: left){
    $id: '#' + $id;
    @if $position == left{
        section.cursos-destaque section.curso#{$id}{
            .foto{order: 0}
        }
    }
    @else if $position == right{
        section.cursos-destaque section.curso#{$id}{
            .foto{
                @include breakpoint-up(tablet-regular-land){order: 10;}
            }
        }
    }
    @else{@error "Escolha uma opcao correta para o posicionamento: left ou right"}


    section.cursos-destaque section.curso#{$id}{
        .foto {
            text-align: $position;

        }
    }
}




@mixin bt-corrector($id, $selector, $cor-texto, $cor-principal, $cor-secundaria, $seletor-opcional: ''){
    $id: id-fixer($id); 
    section#{$id}#{$selector} .bt#{$seletor-opcional}{
        button{
            background-image: degrade-color($cor-principal) !important;
            color: $cor-texto !important;
        }
        .bg{
            background-image: degrade-color($cor-secundaria) !important;
        }
        @content;
    }
}


/*Descontinuado*/
@mixin curso-curriculo-img($id, $numero-aula, $img-url){
    @if type-of($id) != string or type-of($numero-aula) != string or type-of($img-url) != string {
        @error "Quando utilizar o mixin curso-curriculo-img lembre-se de somente usar strings para declarar os valores!"
    }
    #{$id} .aulas .frame-aula#frame-aula-#{$numero-aula}{background-image: $img-url};
}
@mixin curso-venda-bg-header($id-curso, $color){
    #{$id-curso} .bg-color{
        background: linear-gradient(150deg,  $color 0%, lighten($color, 5%) 100%);
    }
}