@mixin home-depoimento-bg($id, $opcao: 'nd'){
    $id: '#' + $id ;
    //@debug $id;
    $bg: null;
    @if $opcao == 'nd'{$opcao: random(3) + 1}

    @if $opcao == 1{$bg: 'https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001';}
    @else if $opcao == 2{$bg: 'https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_002';}
    @else if $opcao == 3{$bg: 'https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_003';}
    @else if $opcao == 4{$bg: 'https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_004';}
    @else {@error 'Escolha uma opcao correta'}


    @debug "section.depoimentos .depoimentos-home1 #{$id} div.nome";
    section.depoimentos{
        .depoimentos-home1 #{$id}, .depoimentos-home3 #{$id}{
            div.nome{
                background-image: url(https://panoxadrez.github.io/prendasdolar.com.br/img/elementos/bg/depoimentos_001.svg);
            }
        }
        .depoimentos-home2 #{$id}, .depoimentos-home4 #{$id}{
            .nome{
                background-image: url(#{$bg}.flip.svg);
                @include breakpoint-up(tablet-regular){
                    background-image: url(#{$bg}.svg);
                }
            }
        }
    }
}
@mixin dont-colapse($class: '.dont-collapse', $breakpoint: false){
    @if $breakpoint != false{
        @include breakpoint-up($breakpoint){
            #{$class}.collapse {
                display: block;
                height: auto !important;
                visibility: visible;
            }
            #{$class}.collapsing{
                position: relative;
                height: unset !important;
                overflow: hidden;
            }
        }
    }
    @else{
        #{$class}.collapse {
            display: block;
            height: auto !important;
            visibility: visible;
        }
        #{$class}.collapsing{
            position: relative;
            height: unset !important;
            overflow: hidden;
        }
    }



}
@mixin tool-display-none($target, $prefixo, $list){
    $display-none: '';
    $debug: false;
    $debug-console: true;

    @if $debug{
        /*Debug mixin: tool-display-none
        **Targer: #{$target}
        **Prefixo: #{$prefixo}
        **Lista de status: #{$list}
        */
    }
    @if $debug-console{
        @debug 'Target: #{$target}';
        @debug 'Prefixo: #{$prefixo}';
        @debug 'Lista: '$list;
        @debug '';
    }


    @if $target == 'none'{
        @if $debug-console{@debug 'target: none iniciado'}
        @each $status in $list{
            @if $display-none != ''{
                $display-none: $display-none + ', ';
            }
            $display-none: $display-none + $prefixo + $status;
            @if $debug-console{@debug 'Display-none: #{$display-none}'}
        }
    }
    @else{
        @if $debug-console{@debug 'Else inciado'}
        @each $status in $list{
            @if $status == $target{@debug 'Status encontrado'}
            @else {
                @if $display-none != ''{$display-none: $display-none + ', '}                
                $display-none: $display-none + $prefixo + $status;
            }
        }
    }
    @if $display-none == ''{$display-none: '.erro'}

    @if $debug-console{
        @debug 'Final output: ';
        @debug '#{$display-none} :';
        @debug '    display: none';
    }

    #{$display-none} {display: none}


}