div.divisoria {
  margin: 35px 0;
  display: inline-block; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

div.header-container, div.header-container div,
div.texto-bio,
div.texto-bio div,
div.form-container,
div.form-container div {
  font-size: 100%;
  font-size: 16px; }

div.menu-fixo {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3); }

div.header-container {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  background-image: url("https://panoxadrez.github.io/img/leadlovers/belasprendasdolar.com.br/img000001.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center; }
  @media screen and (orientation: portrait) {
    div.header-container {
      background-image: none;
      background-image: linear-gradient(45deg, #8a1f27, #e56b66); } }
  div.header-container > a button {
    color: #FBFBFB;
    background-color: #de554e;
    padding-top: 12px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8%;
    font-size: 1em;
    font-weight: 700;
    color: #FBFBFB;
    background-color: #de554e;
    padding: 9px 15px;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 73%;
    left: 68%;
    width: 20%; }
    @media screen and (orientation: portrait) {
      div.header-container > a button {
        display: none; } }
  div.header-container div.titulo {
    width: 70%;
    position: relative;
    display: none;
    padding-top: 3vh; }
    @media screen and (orientation: portrait) {
      div.header-container div.titulo {
        display: inline-block; } }
    div.header-container div.titulo img {
      width: 100%; }
    div.header-container div.titulo h1 {
      font-size: 2.38em;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif; }
    div.header-container div.titulo h3 {
      font-size: 1.50em;
      color: #6194c3;
      font-family: 'Montserrat', sans-serif; }
    div.header-container div.titulo h4 {
      font-size: 1.13em; }
    div.header-container div.titulo button {
      font-size: 1em; }

div.form-container {
  height: 39vh;
  background-image: linear-gradient(45deg, #0f6e5d, #116d78);
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%; }
  div.form-container > div {
    float: left; }
  div.form-container div.texto {
    width: 70%;
    text-align: justify;
    padding-right: 25px; }
    div.form-container div.texto h4, div.form-container div.texto p {
      color: white; }
    div.form-container div.texto p {
      font-size: 01.24em; }
    div.form-container div.texto h4 {
      text-align: center;
      font-size: 1.53em; }
    div.form-container div.texto img {
      margin-right: 25px;
      margin-top: -8%;
      float: left;
      width: 29%; }
  div.form-container div.form {
    width: 30%; }
    div.form-container div.form input {
      font-size: 0.88em;
      width: 100%;
      height: 48px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1%;
      border-radius: 4px;
      border-color: #ccc !important;
      box-shadow: none;
      box-sizing: border-box;
      outline: none !important;
      padding: 6px 12px;
      line-height: 1.428571429;
      color: #555;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid #ccc; }
    div.form-container div.form button {
      clear: both;
      display: block;
      width: 90%;
      padding-top: 12px;
      border-radius: 25px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 8%;
      font-size: 16px;
      font-weight: 700;
      color: #1A4057;
      background-color: #FBFBFB;
      padding: 9px 15px;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer; }

div.texto-bio {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 15%;
  margin-top: 70px;
  height: 40vh;
  font-size: 1.88em;
  text-align: justify; }
  div.texto-bio span {
    display: inline-block;
    float: left;
    width: 70%; }
  div.texto-bio img {
    float: left;
    width: 23%;
    margin-right: 7%; }

/*# sourceMappingURL=belasprendasdolar.com.br.css.map */
