$css-major-version: 2;
$css-minor-version: 0;
$css-patch-correcao: 0;
$css-type-version: dev;
$debug: false;

//temp 
/*bootstrap*/ 
@import "../../../../lib/bootstrap/4.3.1/bootstrap.css";
/*flickity*/
@import "../../../../lib/flickity/v2/css/flickity.css";
/*belota*/
//@import "https://fontlibrary.org/face/bellota";
/*hotscool*/
@import "https://cdn.hotscool.com/css/frontend.css";
/*opensans*/
@import "https://hotscool.com/fonts/opensans.css?r=87717";

@import "../../../_framework/_dev.scss";

@import "self-framework/_curso_config.scss";

@import "self-framework/_variables.scss";
@import "index-files/_layout.scss";
@import "index-files/_modules.scss";
@import "index-files/_sections.scss";


@import "../../../_framework/v00003.dev/tools/_warns.scss";