/* Compiled on 2019-07-26 00:18:10 -0300 */
/* Frameworks */
/*grid*/
/* Main Style */
body {
  margin: 0;
  padding: 0 !important;
}

section h1, section .size-h1 {
  font-size: 3.052em !important;
}
section h2, section .size-h2 {
  font-size: 2.441em !important;
}
section h3, section .size-h3 {
  font-size: 1.953em !important;
}
section h4, section .size-h4 {
  font-size: 1.563em !important;
}
section h5, section .size-h5 {
  font-size: 1.25em !important;
}
section h6, section .size-h6 {
  font-size: 1.1em !important;
}
section p, section .size-p {
  font-size: 1em !important;
}

/*lp layouts*/
/*config geral*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.ly-0002.container-pn {
  max-width: 1000px;
  margin: 0 auto;
}

section.ly-0002.container-fluid-pn {
  width: 100%;
  margin: 0 auto;
}

section.ly-0002 .row-pn {
  width: 100%;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.ly-0002 .row-pn .col-16-pn {
  width: calc(100% - 20px);
}
section.ly-0002 .row-pn .col-15-pn {
  width: calc(93.75% - 20px);
}
section.ly-0002 .row-pn .col-14-pn {
  width: calc(87.5% - 20px);
}
section.ly-0002 .row-pn .col-13-pn {
  width: calc(81.25% - 20px);
}
section.ly-0002 .row-pn .col-12-pn {
  width: calc(75% - 20px);
}
section.ly-0002 .row-pn .col-11-pn {
  width: calc(68.75% - 20px);
}
section.ly-0002 .row-pn .col-10-pn {
  width: calc(62.5% - 20px);
}
section.ly-0002 .row-pn .col-9-pn {
  width: calc(56.25% - 20px);
}
section.ly-0002 .row-pn .col-8-pn {
  width: calc(50% - 20px);
}
section.ly-0002 .row-pn .col-7-pn {
  width: calc(43.75% - 20px);
}
section.ly-0002 .row-pn .col-6-pn {
  width: calc(37.5% - 20px);
}
section.ly-0002 .row-pn .col-5-pn {
  width: calc(31.25% - 20px);
}
section.ly-0002 .row-pn .col-4-pn {
  width: calc(25% - 20px);
}
section.ly-0002 .row-pn .col-3-pn {
  width: calc(18.75% - 20px);
}
section.ly-0002 .row-pn .col-2-pn {
  width: calc(12.5% - 20px);
}
section.ly-0002 .row-pn .col-1-pn {
  width: calc(6.25% - 20px);
}
section.ly-0002 .row-pn .col-16-pn, section.ly-0002 .row-pn .col-15-pn, section.ly-0002 .row-pn .col-14-pn, section.ly-0002 .row-pn .col-13-pn, section.ly-0002 .row-pn .col-12-pn, section.ly-0002 .row-pn .col-11-pn, section.ly-0002 .row-pn .col-10-pn, section.ly-0002 .row-pn .col-9-pn, section.ly-0002 .row-pn .col-8-pn, section.ly-0002 .row-pn .col-7-pn, section.ly-0002 .row-pn .col-6-pn, section.ly-0002 .row-pn .col-5-pn, section.ly-0002 .row-pn .col-4-pn, section.ly-0002 .row-pn .col-3-pn, section.ly-0002 .row-pn .col-2-pn, section.ly-0002 .row-pn .col-1-pn {
  margin: 0 10px;
}

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.ly-0002.container-pn {
    max-width: 1000px;
    margin: 0 auto;
  }

  section.ly-0002.container-fluid-pn {
    width: 100%;
    margin: 0 auto;
  }

  section.ly-0002 .row-pn {
    width: 100%;
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.ly-0002 .row-pn .col-16-tablet-pn {
    width: calc(100% - 20px);
  }
  section.ly-0002 .row-pn .col-15-tablet-pn {
    width: calc(93.75% - 20px);
  }
  section.ly-0002 .row-pn .col-14-tablet-pn {
    width: calc(87.5% - 20px);
  }
  section.ly-0002 .row-pn .col-13-tablet-pn {
    width: calc(81.25% - 20px);
  }
  section.ly-0002 .row-pn .col-12-tablet-pn {
    width: calc(75% - 20px);
  }
  section.ly-0002 .row-pn .col-11-tablet-pn {
    width: calc(68.75% - 20px);
  }
  section.ly-0002 .row-pn .col-10-tablet-pn {
    width: calc(62.5% - 20px);
  }
  section.ly-0002 .row-pn .col-9-tablet-pn {
    width: calc(56.25% - 20px);
  }
  section.ly-0002 .row-pn .col-8-tablet-pn {
    width: calc(50% - 20px);
  }
  section.ly-0002 .row-pn .col-7-tablet-pn {
    width: calc(43.75% - 20px);
  }
  section.ly-0002 .row-pn .col-6-tablet-pn {
    width: calc(37.5% - 20px);
  }
  section.ly-0002 .row-pn .col-5-tablet-pn {
    width: calc(31.25% - 20px);
  }
  section.ly-0002 .row-pn .col-4-tablet-pn {
    width: calc(25% - 20px);
  }
  section.ly-0002 .row-pn .col-3-tablet-pn {
    width: calc(18.75% - 20px);
  }
  section.ly-0002 .row-pn .col-2-tablet-pn {
    width: calc(12.5% - 20px);
  }
  section.ly-0002 .row-pn .col-1-tablet-pn {
    width: calc(6.25% - 20px);
  }
  section.ly-0002 .row-pn .col-16-tablet-pn, section.ly-0002 .row-pn .col-15-tablet-pn, section.ly-0002 .row-pn .col-14-tablet-pn, section.ly-0002 .row-pn .col-13-tablet-pn, section.ly-0002 .row-pn .col-12-tablet-pn, section.ly-0002 .row-pn .col-11-tablet-pn, section.ly-0002 .row-pn .col-10-tablet-pn, section.ly-0002 .row-pn .col-9-tablet-pn, section.ly-0002 .row-pn .col-8-tablet-pn, section.ly-0002 .row-pn .col-7-tablet-pn, section.ly-0002 .row-pn .col-6-tablet-pn, section.ly-0002 .row-pn .col-5-tablet-pn, section.ly-0002 .row-pn .col-4-tablet-pn, section.ly-0002 .row-pn .col-3-tablet-pn, section.ly-0002 .row-pn .col-2-tablet-pn, section.ly-0002 .row-pn .col-1-tablet-pn {
    margin: 0 10px;
  }
}
section.ly-0002, div.ly-0002 {
  font-size: 16px;
  font-family: Raleway, sans-serif;
}
section.ly-0002.conteudo-principal, section.ly-0002.conteudo-principal > section, div.ly-0002.conteudo-principal, div.ly-0002.conteudo-principal > section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
section.ly-0002 .bt, div.ly-0002 .bt {
  margin: 0 auto !important;
}
section.ly-0002 .bt .bg, section.ly-0002 .bt button, div.ly-0002 .bt .bg, div.ly-0002 .bt button {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  /* bt aqui */
}
section.ly-0002 .underline, div.ly-0002 .underline {
  font-size: 1em;
}

section.lp-header.ly-0002 {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  float: none;
  padding: 43vh 3vw 45px;
}
@media only screen and (orientation: landscape) and (min-width: 853px) {
  section.lp-header.ly-0002 {
    height: 100vh;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 {
    padding: 0;
  }
}
section.lp-header.ly-0002,
section.lp-header.ly-0002 * {
  font-size: 13px;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002,
  section.lp-header.ly-0002 * {
    font-size: 17px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  section.lp-header.ly-0002,
  section.lp-header.ly-0002 * {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1360px) {
  section.lp-header.ly-0002,
  section.lp-header.ly-0002 * {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1600px) {
  section.lp-header.ly-0002,
  section.lp-header.ly-0002 * {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1920px) {
  section.lp-header.ly-0002,
  section.lp-header.ly-0002 * {
    font-size: 30px;
  }
}
section.lp-header.ly-0002 .container {
  width: 100%;
  height: 100%;
}
@media only screen and (orientation: landscape) and (min-width: 853px) {
  section.lp-header.ly-0002 .container {
    width: 61vw;
    position: absolute;
    right: 0;
    bottom: 0;
    height: unset;
    padding: 0 10px 10vh 0;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  section.lp-header.ly-0002 .container {
    width: 61vw;
  }
}
@media only screen and (min-width: 1360px) {
  section.lp-header.ly-0002 .container {
    width: 59vw;
  }
}
@media only screen and (min-width: 1920px) {
  section.lp-header.ly-0002 .container {
    width: 57vw;
  }
}
section.lp-header.ly-0002 .container > div {
  margin: 15px 0;
}
@media only screen and (orientation: landscape) {
  section.lp-header.ly-0002 .main-title {
    padding-left: 30vw;
  }
}
@media only screen and (orientation: landscape) and (min-width: 853px) {
  section.lp-header.ly-0002 .main-title {
    padding-left: 0;
  }
}
section.lp-header.ly-0002 .main-title h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.563em !important;
  line-height: 1em !important;
}
section.lp-header.ly-0002 .main-title span {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em !important;
  line-height: 1em !important;
}
section.lp-header.ly-0002 .conteudo {
  font-size: 1.563em !important;
  line-height: 1.2em !important;
}
@media only screen and (orientation: landscape) {
  section.lp-header.ly-0002 .conteudo {
    padding-left: 30vw;
  }
}
@media only screen and (orientation: landscape) and (min-width: 853px) {
  section.lp-header.ly-0002 .conteudo {
    padding-left: 0;
  }
}
@media only screen and (orientation: portrait) {
  section.lp-header.ly-0002 .conteudo {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  section.lp-header.ly-0002 .conteudo {
    text-align: left;
  }
}
section.lp-header.ly-0002 .observacao {
  font-size: 1.1em !important;
  line-height: 1em !important;
  font-weight: bold;
}
@media only screen and (orientation: landscape) {
  section.lp-header.ly-0002 .observacao {
    margin-top: 60px !important;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 .observacao {
    padding: 0;
    margin-top: unset !important;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 .observacao {
    padding: 0;
    font-size: 1.25em;
  }
}
section.lp-header.ly-0002 .bt {
  font-size: 1.563em !important;
  line-height: 1em !important;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 .bt {
    max-width: 330px;
  }
}
section.lp-header.ly-0002 .bt button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 1.3em;
}
@media only screen and (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 .bt button {
    font-size: 23px;
    line-height: 1.2em;
  }
}
@media only screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) and (min-width: 1024px) {
  section.lp-header.ly-0002 .bt button {
    width: calc(100% - 10px);
  }
}
section.lp-header.ly-0002 .prova-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.lp-header.ly-0002 .prova-social .g-ytsubscribe, section.lp-header.ly-0002 .prova-social .fb-like {
  line-height: 0;
  padding: 0;
  margin: 10px 10px 0;
}

section.conteudo-principal.ly-0002 .frase-destaque {
  padding: 5vh 6vw 0;
  text-align: center;
}
section.conteudo-principal.ly-0002 .frase-destaque span {
  font-size: 1.953em;
}
section.conteudo-principal.ly-0002 .texto-destaque {
  font-size: 1.953em;
  text-align: center;
  padding: 20px 0;
}
section.conteudo-principal.ly-0002 hr {
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
}
section.conteudo-principal.ly-0002 p {
  margin-top: 0;
}
section.conteudo-principal.ly-0002 figure.ilustracao {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
section.conteudo-principal.ly-0002 figure.ilustracao figcaption {
  text-align: center;
  font-size: .8em;
  padding: 5px;
}
section.conteudo-principal.ly-0002 figure.ilustracao img {
  width: 80%;
}
section.conteudo-principal.ly-0002 .carta .row {
  padding: 20px 120px 80px;
  margin: 100px auto 0px;
  position: relative;
  outline: none;
  width: 100%;
  max-width: 100%;
}
section.conteudo-principal.ly-0002 .carta .row > div {
  text-align: center;
}
section.conteudo-principal.ly-0002 .carta .row > div > div {
  text-align: left;
}
section.conteudo-principal.ly-0002 .carta .row .bg {
  top: 10%;
  right: 0;
  z-index: -10;
  background-color: #f3f3f3;
  position: absolute;
  width: 100%;
  height: 100%;
}
section.conteudo-principal.ly-0002 .carta .row hr {
  width: 20%;
  margin: 0 auto 20px;
}
section.conteudo-principal.ly-0002 .carta .row .retrato {
  width: 50%;
  max-width: 200px;
  border-radius: 100%;
  margin: 20px 0;
}
section.conteudo-principal.ly-0002 .chamada-lista {
  width: 100%;
  margin: 0;
}
section.conteudo-principal.ly-0002 .chamada-lista .row > div {
  padding: 30px 0;
}
section.conteudo-principal.ly-0002 .chamada-lista .row .row {
  margin: 0;
}
section.conteudo-principal.ly-0002 .chamada-lista .bg {
  position: absolute;
  /* width: 0px;
  height: 0px;
  border-top: $width solid transparent;
  border-bottom: $width solid transparent;
  border-left: $width solid green; */
}
section.conteudo-principal.ly-0002 .chamada-lista .chamada {
  text-transform: uppercase;
  font-size: 3.052em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0;
}
section.conteudo-principal.ly-0002 .chamada-lista .lista ul {
  list-style-type: none;
  padding: 0;
}
section.conteudo-principal.ly-0002 .chamada-lista .lista li {
  border: solid white;
  border-width: 0 0 2px;
  margin-bottom: 20px;
  padding: 0 10px 3px 2px;
  font-size: 1.25em;
}
section.conteudo-principal.ly-0002 .chamada-lista b {
  text-transform: uppercase;
  font-size: 1.953em;
}
section.conteudo-principal.ly-0002 .form form {
  background: none !important;
  margin: 0 auto;
}

section.lp-footer.ly-0002 {
  background: #000;
  color: #FBFBFB;
  padding: 20px 6vw;
  text-align: center;
  font-size: 1em;
}
section.lp-footer.ly-0002 span {
  display: inherit;
  margin-bottom: 20px;
  font-size: .85em;
}
section.lp-footer.ly-0002 .logo {
  width: 100px;
  height: auto;
  margin: 20px auto;
}
section.lp-footer.ly-0002 .links ul,
section.lp-footer.ly-0002 .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.lp-footer.ly-0002 .links li {
  margin: 0 10px;
}
section.lp-footer.ly-0002 .social-media {
  margin: 10px 0;
}
section.lp-footer.ly-0002 .social-media img {
  width: 40px;
  height: auto;
  margin: 0 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

div.modal-container {
  background: #000;
}

div.lp-modal.ly-0002 {
  padding: 0;
  /* 
  !codigo descontinuado
  &.in {display: flex !important;justify-content: center;} */
}
div.lp-modal.ly-0002 .modal-dialog {
  width: 80%;
  max-width: 700px;
  margin: 5vh auto 0;
}
div.lp-modal.ly-0002 .modal-content {
  padding: 0 5%;
}
div.lp-modal.ly-0002 .modal-header {
  border: 0;
  padding: 10% 0 0;
  font-size: 1.953em;
  line-height: 1.4em;
}
div.lp-modal.ly-0002 .modal-body {
  padding: 0;
}
div.lp-modal.ly-0002 .modal-body form {
  border: 0;
}
div.lp-modal.ly-0002 .modal-body input {
  padding: 10px;
}
@media only screen and (min-width: 480px) {
  div.lp-modal.ly-0002 .modal-body input {
    font-size: 1.25em;
  }
}
div.lp-modal.ly-0002 .modal-footer {
  font-size: .9em !important;
  text-align: center;
}
div.lp-modal.ly-0002 .loading-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 auto !important;
}
div.lp-modal.ly-0002 .field-error {
  text-align: left;
  font-size: 1em;
}
div.lp-modal.ly-0002 div.bt {
  max-width: 250px;
}

.bt {
  max-width: 300px;
  margin: 2%;
}
.bt .outer {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 26.6666666667%;
}
.bt .outer > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bt .bg, .bt button {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.bt .bg {
  position: absolute;
  background-color: pink;
  bottom: 0;
  right: 0;
}
.bt a {
  width: 100%;
  height: 100%;
}
.bt button {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.bt button:active {
  -webkit-transition-duration: 5.5s;
          transition-duration: 5.5s;
  top: unset;
  left: unset;
  right: 5px;
  bottom: 5px;
}

.llform001 {
  background-color: white !important;
}

.llform001 > div {
  padding: 8px 0 !important;
}

.llform001 > div.hidden {
  display: none !important;
}

.llform001 > div > label {
  color: #46666d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 3px;
}

.llform001 > div > input,
.llform001 > div > select,
.llform001 > div > textarea {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  margin-top: 3px !important;
  outline: none !important;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  width: 100% !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.llform001 > div > div.field-error {
  color: tomato;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0 0 2px;
}

.llform001 > div > div.field-error.show {
  display: block !important;
}

.llform001 > div.button-bar {
  text-align: center;
}

.llform001 > div.error-box {
  background-color: white;
  color: tomato;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center;
}

.llform001 > div.error-box.show {
  display: block !important;
}

.llform001 > div.error-box > img {
  width: 100px;
}

.llform001 > div.error-box > div {
  padding: 15px 0;
}

.llform001 > div.loading-box {
  background-color: white;
  color: #828282;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: -30px -20px !important;
  padding: 50px 0 !important;
  text-align: center;
}

.llform001 > div.loading-box.show {
  display: block !important;
}

.llform001 > div.loading-box > img {
  width: 100px;
}

.llform001 > div.loading-box > div {
  padding: 15px 0;
}

.llform001 > div.error-box.loading,
.llform001 > div.loading-box.loading {
  display: block !important;
}

.llform001 .radio,
.llform001 .checkbox {
  display: block !important;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  vertical-align: middle !important;
}

/*campanhas*/
/* Compiled on 2019-07-26 00:18:11 -0300 */
