.ly-0002.warning {
  background: #000000;
  color: #fbfbfb;
  text-align: center;

  span {
    @include font-size(($size-h6 * 1em), ($size-h6 * 1em));
  }

  a {
    font-size: 1em;
    text-decoration: underline;
  }

  > .pn-row {
    margin-top: 0;
    margin-bottom: 0;
  }
}
