div.propaganda-loja{
    @extend %size-full-width;
    @extend %font-size;

    background-color: $home-cor-destaque;
    padding: 30px 10%;
    
    display: inline-block;
    

    span{
        font-size: 1.81em;
        color: $cor-branco;
        float: left;
        

        width: 20%;
        

    }
    div.buttons{
        width: 75%;
        
        
        
        float: left;
        margin-left: 5%;
        

        //@include breakpoint(portrait, tablet-regular-land){&:nth-child(2n), &:nth-child(3n){margin: 0 0 0 5%;}}
    }
    button{
        background-color: $botoes-claro-bg;
        color: $botoes-claro-color !important;
        font-size: 1.50em;
        border-radius: 10px;
        width: 20%;
        
        margin-right: 4%;
        
    }
}




