section.loja{
    @extend %size-full-width;
    @extend %font-size;
    @extend %margim-vertical-section;
    @extend %margin-horizontal-section;

    @include font-family(2);


    .titulo{
        //float: left;
        color: $c-black-2;
        font-weight: bold;
        width: 100%;
        //text-align: center;
        br{
            @include breakpoint-up(mobile-small-land, tablet-large){display: none}
        }
        .inner{
            display: inline-block;
            @include breakpoint-up(tablet-large-land){
                //float: left;
            }
        }
        .square{
            @include square-decor(#5b5756, 30px);
        }

        h3{
            border: 4px solid $c-coral;
            margin: 17px;
            padding: 5px;
        }


    }
    .botoes{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint-up(mobile-regular-land, tablet-large){flex-wrap: nowrap; justify-content: center;}
    }
    .bt{
        width: 46%;
        float: left;

        .bg{           
            background-color: $c-amarelo-esverdeado;
        }
        button{
            background-color: $c-azul-esverdeado;            
            &:active{
                background-color: $c-coral;
            }
        }
    }
}