$c-black: #0A0A0A;
$c-black-2: #181d21;
$c-white: #FBFBFB;
$c-bege: #e5e1d3;
$c-bege-dark-vanilla: #d2baa2;
$c-amarelo:#fbb03b;
$c-salmao: #ff986d;
$c-amarelo-esverdeado: #d2d24e;
$c-verde: #009245;
$c-azul-escuro: #1d4b58;
$c-verde-musgo: #7c8556; 
$c-azul-escuro-2: #006569;
$c-azul-esverdeado: #009395;
$c-blue: #3c9db8;
$c-champagne: #f07148;
$c-red-1: #de554e;
$c-red-2: #c64847;
$c-coral: #ff6563;
$c-amarelo-mostarda: #d49e1c;