.chamada-lista {
  background: $c-black;
  margin: 5vh 0;
  padding: 5vh 0;

  .pn-row {
    justify-content: flex-start;
    align-items: center;
  }

  .destaque {
    font-size: $size-h3 * 1em;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;

    //@include breakpoint-up(tablet-regular-land) {text-align: center;}
  }

  .lista {
    text-align: left;
    font-size: $size-h5 * 1em;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      border: solid white;
      border-width: 0 0 2px;
      margin-bottom: 20px;
      padding: 0 10px 3px 2px;
      font-size: $size-h5 * 1em;
    }
  }

  b {
    text-transform: uppercase;
    font-size: $size-h3 * 1em;
  }
}
