.carousel-indicators .active{
    background-color: unset;
}
div.headerpn .carousel-indicators span{
    background-color: unset;
    -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
    filter: sepia(100%);
    transition: 0.5s ease-in;
}
div.headerpn .carousel-indicators span.active {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
    transition: 0.5s ease-in;
    background-color: unset;
}
div.headerpn div.carousel {display: inline-block}
.carousel {width: 100%}
.carousel-inner .item div.item-inner{width: 100%; height: 100%;}
.carousel-indicators div.item-inner{
    width: 319px; 
    height: 179px; 
    border: 1px solid black;
    float: left;
    display: inline-block;
}
div.carousel-indicators{
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
}