.llformCustom {
  background-color: white !important; }
  .llformCustom .error-box {
    background-color: white;
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center; }
    .llformCustom .error-box .show {
      display: block !important; }
    .llformCustom .error-box img {
      width: 100px; }
    .llformCustom .error-box > div {
      padding: 15px 0; }
  .llformCustom .hidden {
    display: none !important; }
  .llformCustom label {
    color: #46666d;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 3px; }
  .llformCustom input,
  .llformCustom select,
  .llformCustom textarea {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    color: #555 !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 400 !important;
    margin-top: 3px !important;
    outline: none !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    width: 100% !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important; }
  .llformCustom .field-error {
    color: tomato;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0 0 2px; }
    .llformCustom .field-error .show {
      display: block !important; }
  .llformCustom .button-bar {
    text-align: center; }
  .llformCustom .loading-box {
    color: #828282;
    display: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: -30px -20px !important;
    padding: 50px 0 !important;
    text-align: center; }
  .llformCustom .show {
    display: block !important; }
  .llformCustom img {
    width: 100px; }
  .llformCustom .error-box.loading,
  .llformCustom .loading-box.loading {
    display: block !important; }
  .llformCustom .radio,
  .llformCustom .checkbox {
    display: block !important;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    vertical-align: middle !important; }

body {
  margin: 0;
  padding: 0; }

header.home .bg-overlay {
  display: none; }
header.home {
  position: relative;
  color: #fbfbfb;
  background-color: #000000;
  background: #000000 url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/lp04-header_bg-med.jpg") top center no-repeat;
  background-size: 100% auto;
  z-index: 0;
  background-attachment: fixed !important; }
  @media only screen and (orientation: landscape) {
    header.home {
      background: #000000 url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/lp04-header_bg-med.jpg") top left no-repeat;
      background-size: contain; } }
  @media only screen and (orientation: landscape) and (min-width: 853px) {
    header.home {
      background: #000000 url("https://panoxadrez.github.io/belasprendasdolar.com.br/img/campanhas/lp000003/lp04-header_bg-med.jpg") top left no-repeat;
      background-size: cover; } }
  @media only screen and (orientation: portrait) {
    header.home .pn-container > div {
      background-color: transparent; } }
header.home .main-title,
header.home .main-title h1 {
  color: #de554e !important;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2); }
header.home .underline {
  border-color: #ed6c44;
  color: #ed6c44;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2), 0 -1px rgba(0, 0, 0, 0.2); }

.ty-page .banner {
  padding: 5vh 0; }
  .ty-page .banner img {
    max-width: 500px;
    width: 100%;
    border-radius: 5px; }
  .ty-page .banner .pn-col-16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .ty-page .banner span {
    font-size: 2em; }
.ty-page .c-bg {
  background: rgba(128, 128, 128, 0.35); }

.frase-destaque .bt {
  max-width: 430px; }
  .frase-destaque .bt button {
    font-size: 2.75em; }

.bt button {
  background-color: #d2c7a7; }
.bt .bg {
  background-color: #a6012c; }
.bt button,
.bt .bg {
  border-radius: 5px !important; }

.carta {
  border-radius: 5px; }
  .carta hr {
    border-color: #de554e; }
  .carta b {
    color: #de554e; }

.texto-destaque hr {
  border-color: #a6012c; }

.chamada-lista {
  color: #fbfbfb;
  margin-bottom: 0 !important; }

.llformCustom textarea {
  font-size: 1.29em;
  padding: 10px; }

/*# sourceMappingURL=dev.css.map */
