%font-size{    
    &, *{
        /*placeholder*/
        //font-size: 100%;
        font-size: 16px;
        //@media only screen and (min-width: 360px) and (orientation: portrait){font-size: 14px;}
        //@media only screen and (min-width: 480px) and (orientation: portrait){font-size: 16px;}
        //@media only screen and (min-width: 480px){font-size: 16px;}
    }

}

section{

    h1{font-size: $size-h1 *1em !important}
    h2, .size-h2{font-size: $size-h2 *1em !important}
    h3{font-size: $size-h3 *1em !important}
    h4, .size-h4{font-size: $size-h4 *1em !important}
    @include breakpoint-up(tablet-regular){.font-size-h4-regular{font-size: $size-h4 *1em !important}}
    @include breakpoint-up(desktop-large){.font-size-h4-large{font-size: $size-h4 *1em !important}}

    h5, .size-h5{font-size: $size-h5 *1em !important}
    @include breakpoint-up(tablet-regular){.size-h5-tablet-regular{font-size: $size-h5 *1em !important}}

    h6, .size-h6{font-size: $size-h6 *1em !important}
    p, .size-p{font-size: $size-p + em;}

    .h1, .h2, .h3, h1, h2, h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .titulo-sessao{
        //margin-top: 90px;
        margin-bottom: 30px;
        //@extend %margin-tela;
        h2{
            font-weight: 700;
            font-weight: bold;
        }
        span{
            font-size: $size-h4 + em;
        }        
        .size-p{margin: 0}   

    }



    bold{
        font-weight: 700;
        font-weight: bold;
    }

}
section.chamada-home .texto p,
section.cursos-destaque p{    
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 1em;
} 
section.pagina-venda-conteudo{
    h1, h2, h3{
        cursor: default;
        @include font-family(2);
    }
    h2{
        margin-left: 20px;
        font-weight: 700;
        font-weight: bold;

    }
}


@mixin decor-square($size, $color, $top: -5px, $left: -5px){
    position: relative;
    &:before {
        content: '';
        @include size($size);
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: $top;
        left: $left;
        background-image: degrade-color($color);
    }
}


/*descontinuar*/
@mixin titulo-icon($color, $size: 22px){
    padding-left: $size*1.5;
    .icon{
        width: $size;
        left: $size;
        position: absolute;
        z-index: -10;
        background-image: degrade-color($color);
        div{@include aspect-ratio(1,1);}
    }
}