@mixin curso-colors($id, $color){
    $id: '#' + $id; 
    $darken-color-1: darken($color, 20% );
    $darken-color-2: darken($color, 45% );
    #{$id}{
        .know-more a span{color: $darken-color-1}
    }


    //@debug '#{$id} .know-more a span{color: $darken-color-1 !important}';


    #{$id} {
        .accordion.cursoContent h2{color: $darken-color-1};
        .aulas.accordion h3{color: $darken-color-1};
    }
}
@mixin curso-curriculo-img($id, $numero-aula, $img-url){
    @if type-of($id) != string or type-of($numero-aula) != string or type-of($img-url) != string {
        @error "Quando utilizar o mixin curso-curriculo-img lembre-se de somente usar strings para declarar os valores!"
    }
    #{$id} .aulas .frame-aula#frame-aula-#{$numero-aula}{background-image: $img-url};
}
@mixin curso-venda-bg-header($id-curso, $color){
    #{$id-curso} .bg-color{
        background: linear-gradient(150deg,  $color 0%, lighten($color, 5%) 100%);
    }
}
@mixin curso-venda-bg-image($id, $url){
    #{$id} .bg-image {background-image: $url;}
}
@mixin curso-venda-carousel-image($id, $slide, $url){
    $id: '#' + $id;
    //#curso00002 > div.carousel-header > div > div > div.carousel-cell.is-selected > div > div
    #{$id} .carousel-header .carousel-cell .img#{$slide}{background-image: $url;} 

}
@mixin curso-display-primeira-aula($id, $aula){ 
    #{$id} .cartao .header-aula .frame-aula#frame-aula-#{$aula}{
        display: inline-table !important; 
    }  
}
@mixin img-carousel-home($id, $url){
    $id: '#' + $id;
    //@debug $id;
    .carousel-home .carousel-cell#{$id}{background-image: $url}
    @if $id == "#curso00002"{@debug ".carousel-home .carousel-cell#{$id}{background-image: #{$url}}";}
}
@mixin cursos-cta-config($id, $ctas){
    $id: '#' + $id;
    //@debug $ctas;
    $ctas: 100% / $ctas;
    //@debug $ctas;
    @include breakpoint-up(tablet-regular-land){
        @include size(100%);
        #{$id} .cta-container div.cta{max-width: $ctas;}
    }
}
@mixin cursos-cta-color($id, $color, $ctas-number, $text-color: 'nao declarado'){
    $id: '#' + $id;
    //@debug $color;
    @include breakpoint-up(desktop-small){
        //@debug '#{$id} .cta-container div.cta cta-#{$ctas-number} .descricao';
        #{$id} .cta-container div.cta.cta-#{$ctas-number} .descricao{
            background-color: $color;
            @if $text-color == 'nao declarado'{
                @warn "CONFIGURACAO CTAs: gerado cor de fundo em header cursos SEM COR DE TEXTO DEFINIDA.";
                @if (lightness($color) > 50) {
                    color: $c-white;
                }@else{color: $c-black;}
            }@else{
                color: $text-color;
            }
        }        
    }
};
@mixin curso-header-buttom($id, $bg-color, $text-color: 'nao declarado'){
    $id: '#' + $id;
    div.header-curso#{$id} .cta-container div.cta.buy .buy-buttom button{
        background-color: $bg-color;
        @if $text-color == 'nao declarado'{
            @warn "CONFIGURACAO CTAs: gerado cor de fundo em header cursos SEM COR DE TEXTO DEFINIDA.";
            @if (lightness($bg-color) > 50) {
                color: $c-white;
            }@else{color: $c-black;}
        }@else{
            color: $text-color;
        }
    }
}
@mixin curso-destaque-home-bg($id, $bg-color, $position-horizontal){
    $id: '#' + $id;
    $cell: 'section.cursos-destaque .carousel .carousel-cell#{$id}';
    #{$cell}{
        .bg{
            background-image: degrade-color($bg-color);
            @if $position-horizontal == "left"{
                left: 0;
                //@include breakpoint-up(mobile-xsmall-land, tablet-regular){left: 5px}
            }
            @else if $position-horizontal == "right"{
                right: 0;
                //@include breakpoint-up(mobile-xsmall-land, tablet-regular){right: 5px}
            } 
            @else{@error "Escolha uma opcao correta para $position-horizontal"}
        }
        .titulo{
            @if $position-horizontal == "left"{left: 5.79%;}
            @else if $position-horizontal == "right"{right: 5.79%;}
        }
        .foto{
            @if $position-horizontal == "left"{
                left: 0;
                //@include breakpoint-up(mobile-xsmall-land){right: 5px}
                text-align: left;
            }
            @else if $position-horizontal == "right"{
                right: 0;
                text-align: right;
                //@include breakpoint-up(mobile-xsmall-land){left: 5px}
            }
        }
        .titulo{
            @if $position-horizontal == "left"{left: 5.79%}
            @else if $position-horizontal == "right"{left: 37.68%}
        }
        .overlay{
            background-image: degrade-color($bg-color);
            @if (lightness($bg-color) > 50) {
                color: $c-white;                
            }@else{color: $c-black;}
            button{color: $bg-color !important;}
        }
    }
}

@mixin curso-destaque-home-foto($id, $position-vertical, $bg-color-1, $bg-color-2: darken($bg-color-1, 10%)){
    $id: '#' + $id;
    $cell: 'section.cursos-destaque .carousel .carousel-cell#{$id}';

    #{$cell}{
        .foto{
            @if $position-vertical == "top" {
                //bottom: 35.88%;
                top: 0;
            }
            //@else if $position-vertical == "bottom" {top: 20.58%;}
            @else if $position-vertical == "bottom" {
                //bottom: 12.94%;
                top: 140px;
                
            }
            @else{ @error "Escolha uma posicao correta para a foto!"}

            //.bg{background: radial-gradient(ellipse at center, $bg-color-1 0%, $bg-color-2 100%);}
        }

        .titulo{
            //@if $position-vertical == "top" {bottom: 24.11%;} 
            @if $position-vertical == "top" {top: 64.70%; vertical-align: bottom;} 
            @else if $position-vertical == "bottom" {top: 8.82%; vertical-align: top;}
        }


    }

}