%margim-vertical-section{
    @include margim-section(45px);
    @include breakpoint-up(landscape){@include margim-section(60px)}
}

%margin-horizontal-section{
    $padding: 6vw;
    padding-left: $padding;
    padding-right: $padding;
}