$padding-lateral-margin-home: 6%;
$curso-coluna-aulas: 35%;
$curso-bg-header: 100% - $curso-coluna-aulas;
$size-cta-bar-height: 20vh;
$size-know-more-height: 15vh;

$size-h1: 3.052;
$size-h2: 2.441;
$size-h3: 1.953;
$size-h4: 1.563;
$size-h5: 1.25;
$size-h6: 1;
$size-p: $size-h6;










$end-warn:''; 