$padding-lateral-margin-home: 6%;
$curso-coluna-aulas: 35%;
$curso-bg-header: 100% - $curso-coluna-aulas;
$size-cta-bar-height: 20vh;
$size-know-more-height: 15vh;

$size-h1: 3.052em !important;
$size-h2: 2.441em !important;
$size-h3: 1.953em !important;
$size-h4: 1.563em !important;
$size-h5: 1.25em !important;
$size-h6: 1em !important;










$end-warn:''; 