%margim-vertical-section {
  @include margim-section(45px);
  //@include breakpoint(landscape){@include margim-section(30px)}
  @include breakpoint(landscape) {
    @include margim-section(60px);
  }
}

%margin-horizontal-section {
  $padding: 6vw;
  padding-left: $padding;
  padding-right: $padding;
}
%size-full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  float: none;
}
