.lista-venda {
  @extend %font-size;
  //font-size: 14px;  

  position: relative;
  width: 100vw;
  max-width: 1600px;
  left: 50%;  right: 50%;
  //margin-left: -50vw;  margin-right: -50vw;
  margin: 15vh -50vw 20px;
  //margin: 10vh auto 20px;
  padding: 20px 3vw;
  //float: none;
  //display: flex;  flex-wrap: wrap;  justify-content: center;  align-items: center;
  //background: pink;
  //h1 {margin: 20px 0;}
  color: #000000;

  @import "cursos";
}
