/* titulos */
/*div.titulo-sessao {
    @extend %size-full-width;
    
    div {
        width: max-content;
        max-width: 100%;
        padding-left: 5vw;
        margin-bottom: 35px;
        font-family: 'Source Sans Pro';
        font-weight: 300;
        color: $c-black;
        border-bottom: 8px solid $home-cor-destaque; 
        
        span.titulo-principal {font-size: 2.8em; }
        span.texto-auxiliar {
            font-size: 2.4em;  
            
        }

    }
}*/





h1{font-size: $size-h1}
h2{font-size: $size-h2}
h3{font-size: $size-h3}
h4{font-size: $size-h4}
h5{font-size: $size-h5}
h6{font-size: $size-h6}
p{font-size: 1em;}